Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

bad merge [skip-ci]
  doc/conf.py
Due: none

add `jupyterlite-sphinx` to the env [skip-ci][skip-rtd]
  ci/requirements/doc.yml
Due: none

Update xarray/core/extension_array.py
  xarray/core/extension_array.py
Due: unittests, mypy

Add back getattr for ExtensionArrays (#10278)
  doc/whats-new.rst
  xarray/core/extension_array.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_ops.py
Due: unittests, mypy

also install the pyodide kernel
  ci/requirements/doc.yml
Due: none

(fix): allow upcasting of nans in `as_shared_dtype` for extension arrays (#10292)
  xarray/core/duck_array_ops.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Fix BinGrouper when labels is not specified (#10295)
  doc/whats-new.rst
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

ignore the `_contents` directory created by `jupyterlite-sphinx`
  doc/conf.py
Due: none

avoid build warnings
  pyproject.toml
Due: none

clean-up indexing.PandasIndexingAdapter typing
  xarray/core/indexing.py
Due: unittests, mypy

Enable .conjugate on Dask arrays, #10302
  xarray/computation/ops.py
  xarray/tests/test_dask.py
Due: unittests, mypy

streamline PandasIndexingAdapter indexing logic
  xarray/core/indexing.py
Due: unittests, mypy

add xarray indexing adapater for pd.IntervalIndex
  xarray/core/indexing.py
  xarray/indexes/interval_index.py
Due: unittests, mypy

(fix): no `fill_value` on reindex
  properties/test_pandas_roundtrip.py
  xarray/core/dtypes.py
  xarray/core/duck_array_ops.py
  xarray/tests/__init__.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

(chore): add `fillna` tests
  xarray/core/duck_array_ops.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

(fix): arbitrary captialization
  properties/test_pandas_roundtrip.py
Due: none

(chore): add interval array explicitly checked
  properties/test_pandas_roundtrip.py
Due: none

clean-up PandasIndexingAdapter dtype handling
  xarray/core/indexing.py
Due: unittests, mypy

(fix): ds values errors + `dropna` tests
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: mypy

fix mypy
  xarray/core/indexing.py
Due: unittests, mypy

IntervalIndex sel / isel: handle boundary dim & coord
  xarray/indexes/interval_index.py
Due: unittests, mypy

(fix): mypy
  xarray/tests/test_dataarray.py
Due: mypy

more clean-up
  xarray/core/indexing.py
Due: unittests, mypy

Tweak errors and warnings; relax decoding dtype error
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

Add xfail test for fine-resolution branch of non-pandas resolution code
  xarray/tests/test_coding_times.py
Due: mypy

Fix typing
  xarray/coding/times.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
Due: unittests, mypy

Revert "Fix typing"
  xarray/coding/times.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
Due: unittests, mypy

Use simpler typing fix for now
  xarray/coding/times.py
Due: unittests, mypy

Remove 'Y' and 'M' from DatetimeUnitOptions
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
Due: unittests, mypy

Update xarray/core/indexes.py
  xarray/core/indexes.py
Due: unittests, mypy

rename exclude_dims -> exclude
  xarray/core/indexes.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

align: refactor collecting indexes
  xarray/structure/alignment.py
Due: unittests, mypy

refactor index assignment in aligned objects
  xarray/structure/alignment.py
  xarray/tests/test_dataset.py
Due: unittests, mypy
