Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Fix test_mean_with_cftime_objects for non-dask environments
  xarray/tests/test_groupby.py
Due: mypy

whats-new
  doc/whats-new.rst
Due: none

propagate attrs on coords in `Dataset.map` (#10602)
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
  xarray/tests/test_weighted.py
Due: unittests, mypy

Use standard @requires_dask decorator for dask-specific tests
  xarray/tests/test_groupby.py
Due: mypy

Fix Dataset.map to properly handle coordinate attrs when keep_attrs=False
  xarray/core/dataset.py
Due: unittests, mypy

Optimize Dataset.map coordinate attribute handling
  xarray/core/dataset.py
Due: unittests, mypy

Simplify Dataset.map attribute handling code
  xarray/core/dataset.py
Due: unittests, mypy

Add pep-723 style script to bug report issue template (#10707)
  .github/ISSUE_TEMPLATE/bugreport.yml
Due: none

Add testing guidelines and use proper decorators
  xarray/tests/CLAUDE.md
  xarray/tests/test_groupby.py
Due: mypy

Fix CLAUDE.md blackdoc formatting
  xarray/tests/CLAUDE.md
Due: mypy

Simplify cftime check in _is_numeric_aggregatable_dtype
  xarray/core/common.py
Due: unittests, mypy

Streamline CLAUDE.md and move import to top of file
  xarray/core/groupby.py
  xarray/tests/CLAUDE.md
Due: unittests, mypy

Address review comments: clarify numeric_only scope and merge tests
  xarray/tests/test_groupby.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Clarify that @requires decorators should be used instead of skipif patterns
  xarray/tests/CLAUDE.md
Due: mypy

Allow `mean` with time dtypes (#10227)
  xarray/core/_aggregations.py
  xarray/core/common.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/namedarray/_aggregations.py
  xarray/tests/CLAUDE.md
  xarray/tests/test_groupby.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Fix for encoding objects for zarr<3
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Silence incorrect mypy error
  xarray/backends/api.py
Due: unittests, mypy

DOC: Add Bluesky badge to README and mention in core team guide
  CORE_TEAM_GUIDE.md
  README.md
Due: none

DOC: Add Bluesky step to HOW_TO_RELEASE
  HOW_TO_RELEASE.md
Due: none

TYP: explicit `DTypeLike | None`
  xarray/backends/common.py
  xarray/coding/common.py
  xarray/coding/variables.py
  xarray/core/accessor_dt.py
  xarray/core/accessor_str.py
  xarray/core/common.py
  xarray/core/datatree.py
  xarray/core/dtypes.py
  xarray/core/extension_array.py
  xarray/core/groupby.py
  xarray/core/indexing.py
  xarray/namedarray/dtypes.py
  xarray/tests/arrays.py
  xarray/tests/test_assertions.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_formatting.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Update README.md
  README.md
Due: none

TYP: explicit `DTypeLike | None` (#10738)
  xarray/backends/common.py
  xarray/coding/common.py
  xarray/coding/variables.py
  xarray/core/accessor_dt.py
  xarray/core/accessor_str.py
  xarray/core/common.py
  xarray/core/datatree.py
  xarray/core/dtypes.py
  xarray/core/extension_array.py
  xarray/core/groupby.py
  xarray/core/indexing.py
  xarray/namedarray/dtypes.py
  xarray/tests/arrays.py
  xarray/tests/test_assertions.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_formatting.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Remove temporal 'now' references from comments
  xarray/core/variable.py
  xarray/tests/test_coarsen.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_datatree.py
  xarray/tests/test_groupby.py
  xarray/tests/test_options.py
  xarray/tests/test_plot.py
  xarray/tests/test_rolling.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Address remaining review comments from Stefan
  xarray/core/variable.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

adding async for datatrees
  xarray/backends/zarr.py
Due: unittests, mypy

adding async method to _maybe_create_index
  xarray/backends/api.py
Due: unittests, mypy

using async as complete instead of gathering results
  xarray/backends/api.py
Due: unittests, mypy

Use drop_conflicts for binary operations attribute handling
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Fix binary ops attrs: only merge when both operands have attrs
  xarray/core/variable.py
Due: unittests, mypy

Fix binary ops attrs handling when operands have no attrs
  xarray/core/dataset.py
  xarray/core/variable.py
Due: unittests, mypy

Fix drop_conflicts to handle non-bool returns from __eq__
  xarray/structure/merge.py
  xarray/tests/test_merge.py
Due: unittests, mypy

Add changelog entry
  doc/whats-new.rst
Due: none

Simplify binary ops attrs handling
  xarray/core/dataset.py
  xarray/core/variable.py
Due: unittests, mypy

Suppress DeprecationWarning for ambiguous array truth values
  xarray/structure/merge.py
Due: unittests, mypy

Clarify comments about attrs handling differences
  xarray/core/dataset.py
  xarray/core/variable.py
Due: unittests, mypy
