Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Reduce redundancy between namedarray and variable tests (#8405)
  xarray/tests/test_namedarray.py
  xarray/tests/test_variable.py
Due: mypy

install `cython`, which is needed to build `cftime`
  ci/install-upstream-wheels.sh
Due: none

use `micromamba` instead of `conda` for removing packages
  ci/install-upstream-wheels.sh
Due: none

switch the main uninstall back to `conda`
  ci/install-upstream-wheels.sh
Due: none

No deprecation for internal methods
  xarray/core/alignment.py
  xarray/core/dataarray.py
  xarray/core/variable.py
Due: unittests, mypy

Simplify typing
  xarray/util/deprecation_helpers.py
Due: unittests, mypy

Start renaming `dims` to `dim` (#8487)
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataarray.py
  xarray/util/deprecation_helpers.py
Due: unittests, mypy

Raise an informative error message when object array has mixed types (#4700)
  xarray/conventions.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

fix formatting issue
  xarray/tests/test_namedarray.py
Due: mypy

fix tests
  xarray/tests/test_namedarray.py
Due: mypy

Minor to_zarr optimizations
  xarray/backends/zarr.py
Due: unittests, mypy

Add whats-new
  doc/whats-new.rst
Due: none

Switch to array_keys
  xarray/backends/zarr.py
Due: unittests, mypy

Update resample time offset FutureWarning and docs (#8479)
  doc/user-guide/time-series.rst
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

basic test
  xarray/tests/test_namedarray.py
Due: mypy

implement raising error
  xarray/namedarray/core.py
Due: unittests, mypy

whatsnew
  doc/whats-new.rst
Due: none

repeated -> duplicate
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

ensure broadcasting test passes
  xarray/tests/test_variable.py
Due: mypy

Fix minor typo in io.rst
  doc/user-guide/io.rst
Due: none

Fix minor typo in io.rst (#8492)
  doc/user-guide/io.rst
Due: none

update expand_dims
  xarray/core/variable.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Use numbagg for `rolling` methods
  xarray/core/rolling.py
  xarray/tests/test_rolling.py
Due: unittests, mypy

update tests
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

update tests
  xarray/tests/test_namedarray.py
Due: mypy

warn instead of raising in constructor
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_variable.py
Due: unittests, mypy

raise in get_axis_num
  xarray/core/common.py
  xarray/core/variable.py
Due: unittests, mypy

add _raise_if_any_duplicate_dims to namedarray.core
  xarray/namedarray/core.py
Due: unittests, mypy

remove unnecessary guard conditions
  xarray/tests/test_namedarray.py
Due: mypy

filter warning raised by example data which has duplicate dimension names
  xarray/tests/test_backends.py
Due: mypy

linting
  doc/whats-new.rst
Due: none

Fix type of `.assign_coords`
  xarray/core/common.py
Due: unittests, mypy

Update type hints in NamedArray class and test cases
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Refactor NamedArray T property to handle non-2D arrays
  xarray/namedarray/core.py
Due: unittests, mypy

Reverse the order of dimensions in x.T
  xarray/namedarray/core.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
