Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Fix merge with compat=minimal (coord names) (#8104)
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/merge.py
  xarray/tests/test_dataset.py
  xarray/tests/test_merge.py
Due: unittests, mypy

Keep current version whithout NaT
  xarray/core/accessor_dt.py
Due: unittests, mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

Add IndexedCoordinateArray indexing wrapper class
  xarray/core/indexing.py
Due: unittests, mypy

add create_index_variables utility function
  xarray/core/indexes.py
Due: unittests, mypy

raise when trying to set .data of indexed coord
  xarray/core/variable.py
Due: unittests, mypy

use create_index_variables internally
  xarray/core/alignment.py
  xarray/core/concat.py
  xarray/core/dataset.py
  xarray/core/indexes.py
Due: unittests, mypy

as_variable: deprecate converting to IndexVariable
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/merge.py
  xarray/core/variable.py
Due: unittests, mypy

update invariant checks
  xarray/testing.py
Due: unittests, mypy

update implicit index creation from dim variable
  xarray/core/indexes.py
Due: unittests, mypy

fix multi-index edge case
  xarray/core/coordinates.py
Due: unittests, mypy

Fix Codecov (#7142)
  .codecov.yml
  .github/workflows/ci-additional.yaml
  README.md
Due: none

nit docstrings
  xarray/core/indexing.py
Due: unittests, mypy

Allow creating DataArrays with nD coordinate variables
  xarray/core/dataarray.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

more test
  xarray/tests/test_dataarray.py
Due: mypy

Better default behavior of the Coordinates constructor (#8107)
  doc/whats-new.rst
  xarray/core/coordinates.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Use roundtrip
  xarray/tests/test_backends.py
Due: mypy

Add news about the new feature
  doc/whats-new.rst
Due: none

adapted the docstring of xarray.DataArray.differentiate
  xarray/core/dataarray.py
Due: unittests, mypy

Document drop_variables in open_mfdataset (#8083)
  xarray/backends/api.py
Due: unittests, mypy

preserve nanosecond resolution when encoding/decoding times.
  xarray/backends/netcdf3.py
  xarray/coding/times.py
  xarray/coding/variables.py
Due: unittests, mypy

add Index.load and Index.chunk methods
  xarray/core/indexes.py
Due: unittests, mypy

refactor Dataset.load
  xarray/core/coordinates.py
  xarray/core/dataset.py
Due: unittests, mypy

tweaks and fixes
  xarray/core/indexes.py
Due: unittests, mypy

refactor Dataset.chunk
  xarray/core/dataset.py
  xarray/core/indexes.py
Due: unittests, mypy

fix assign test after merging main
  xarray/tests/test_coordinates.py
Due: mypy

to_stacked_array: better error msg & refactor
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

fix regex
  xarray/tests/test_dataset.py
Due: mypy

Apply suggestions from code review
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

adapted the docstring of xarray.DataArray.differentiate (#8127)
  xarray/core/dataarray.py
Due: unittests, mypy

more instances of renamed / removed dtypes
  xarray/tests/test_dtypes.py
Due: mypy

more dtype replacements
  xarray/backends/netCDF4_.py
  xarray/coding/strings.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: unittests, mypy

use `str.encode(encoding)` instead of `bytes(str, encoding)`
  xarray/tests/test_variable.py
Due: mypy

explicitly import `RankWarning`
  xarray/core/dataset.py
  xarray/core/nputils.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Add `Coordinates.assign()` method (#8102)
  doc/api-hidden.rst
  doc/whats-new.rst
  xarray/core/coordinates.py
  xarray/tests/test_coordinates.py
Due: unittests, mypy
