Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

Add `time_unit` argument to `CFTimeIndex.to_datetimeindex` (#9965)
  doc/whats-new.rst
  xarray/coding/cftimeindex.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_groupby.py
  xarray/tests/test_missing.py
Due: unittests, mypy

fix mean for datetime-like using the respective time resolution unit (#9977)
  doc/whats-new.rst
  xarray/core/duck_array_ops.py
  xarray/tests/test_duck_array_ops.py
Due: unittests, mypy

add typing to test function
  xarray/tests/test_cftimeindex.py
Due: mypy

Add FutureWarning for change in decode_timedelta behavior
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/conventions.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

Include a note about opting out of timedelta decoding
  doc/internals/time-coding.rst
Due: none

Fix typing
  doc/internals/time-coding.rst
  xarray/conventions.py
Due: unittests, mypy

Fix typo
  xarray/conventions.py
Due: unittests, mypy

Fix doc build
  doc/internals/time-coding.rst
Due: none

Fix order of arguments in filterwarnings
  doc/internals/time-coding.rst
Due: none

Switch to :okwarning:
  doc/internals/time-coding.rst
Due: none

Fix missing :okwarning:
  doc/internals/time-coding.rst
Due: none

add Coordinates.from_xindex method
  xarray/core/coordinates.py
Due: unittests, mypy

doc: refactor Coordinates API reference
  doc/api-hidden.rst
  doc/api.rst
Due: none

add tests
  xarray/tests/test_coordinates.py
Due: mypy

update what's new
  doc/whats-new.rst
Due: none

fix doc build?
  doc/api.rst
Due: none

docstring tweaks
  xarray/core/coordinates.py
Due: unittests, mypy

doc (api): add missing Coordinates.sizes property
  doc/api-hidden.rst
  doc/api.rst
Due: none

update what's new (documentation)
  doc/whats-new.rst
Due: none

Revert "Use flox for grouped first, last (#9986)"
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Enable passing a `CFTimedeltaCoder` to `decode_timedelta` (#9966)
  doc/internals/time-coding.rst
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/coders.py
  xarray/coding/times.py
  xarray/conventions.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

Revert "Use flox for grouped first, last (#9986)" (#10001)
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Fix infer_freq, check for subdtype "datetime64"/"timedelta64" (#9999)
  doc/whats-new.rst
  xarray/coding/frequencies.py
  xarray/tests/test_cftimeindex.py
Due: unittests, mypy

Migrate Zarr region="auto" tests to a class (#9990)
  xarray/tests/test_backends.py
Due: mypy

Fix the push method when the limit parameter is bigger than the chunk… (#9940)
  doc/whats-new.rst
  xarray/core/dask_array_ops.py
  xarray/tests/test_duck_array_ops.py
Due: unittests, mypy

Use freq='D' instead of freq='d' in pd.timedelta_range
  xarray/tests/test_coding_times.py
Due: mypy

fix
  xarray/core/indexing.py
Due: unittests, mypy

Use freq='D' instead of freq='d' in pd.timedelta_range (#10004)
  xarray/tests/test_coding_times.py
Due: mypy

fix typing
  xarray/core/dataset.py
  xarray/core/dtypes.py
Due: unittests, mypy

finalize release notes
  doc/whats-new.rst
Due: none

check that aggregations result in array objects
  xarray/tests/test_namedarray.py
Due: mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
