Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

move the typing out of the type checking block
  xarray/core/indexing.py
Due: unittests, mypy

undo a bad merge [skip-ci]
  doc/api.rst
Due: none

document `drop_dims` [skip-ci]
  doc/api/coordinates.rst
Due: none

Add newline to fix syntax
  doc/contribute/contributing.rst
Due: none

Add some underscores to make warning go away "WARNING: Duplicate explicit target name: "documentation""
  doc/contribute/contributing.rst
Due: none

Update documentation to copy tags when forking, so versioning is reasonable (#10576)
  doc/contribute/contributing.rst
Due: none

Improve reading and writing of NetCDF files to/from bytes or file-like objects.
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/h5netcdf_.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

install pyarrow from the scientific python nightly wheels (#10577)
  ci/install-upstream-wheels.sh
Due: none

move the definition of the new types out of the type checking block
  xarray/core/indexing.py
Due: unittests, mypy

chore: add comment
  xarray/core/extension_array.py
Due: unittests, mypy

Update xarray/core/utils.py
  xarray/core/utils.py
Due: unittests, mypy

refactor: use is_allowed_extension_array more
  xarray/core/extension_array.py
Due: unittests, mypy

fix: remove one of the loops
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Update xarray/computation/ops.py
  xarray/computation/ops.py
Due: unittests, mypy

fix: result handling
  xarray/core/variable.py
Due: unittests, mypy

try again
  xarray/computation/ops.py
Due: unittests, mypy

fix: Filter out `StringDType` even when the backing array is not `NumpyExtensionArray` (#10559)
  pyproject.toml
  xarray/computation/ops.py
  xarray/core/dataset.py
  xarray/core/dtypes.py
  xarray/core/duck_array_ops.py
  xarray/core/extension_array.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/tests/test_pandas_to_xarray.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Move close() fixes into scipy backends
  xarray/backends/api.py
  xarray/backends/file_manager.py
  xarray/backends/h5netcdf_.py
  xarray/backends/scipy_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

use `__new__` to avoid having to support `tuple[list[slice]]`
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

raise if there's one or more full slices with other slices
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

remove empty slices when merging
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

check that dask behaves correctly
  xarray/tests/test_indexing.py
Due: mypy

also support slicing pandas indexes
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

fix: avoid extra copy + comment
  xarray/core/variable.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/core/variable.py
Due: unittests, mypy

fix: pd.Series in pandas>=3 does not preserve object dtype metadata (#10564)
  xarray/core/variable.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Add whats-new for `h5netcdf`
  doc/whats-new.rst
Due: none

Fix `_get_default_engine_netcdf` to check for `h5netcdf` (#10557)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends_api.py
Due: unittests, mypy

Fix type annotations
  xarray/backends/api.py
  xarray/backends/h5netcdf_.py
  xarray/core/dataset.py
  xarray/core/datatree.py
Due: unittests, mypy

also support negative array values
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

pass filenames to `typos` again
  .pre-commit-config.yaml
Due: none

use a `typos` mirror
  .pre-commit-config.yaml
Due: none

`pre-commit` hook maintenance: `typos` (#10586)
  .pre-commit-config.yaml
Due: none
