Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Release 2023.09.0
  doc/whats-new.rst
Due: none

Rewrite typed_ops (#8204)
  doc/whats-new.rst
  xarray/core/_typed_ops.py
  xarray/core/_typed_ops.pyi
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/rolling.py
  xarray/core/types.py
  xarray/core/weighted.py
  xarray/tests/test_groupby.py
  xarray/tests/test_typed_ops.py
  xarray/util/generate_ops.py
Due: unittests, mypy

adapt to NEP 51 (#8064)
  xarray/core/formatting.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

fix whats-new.rst
  doc/whats-new.rst
Due: none

decode variable with mismatched coordinate attribute (#8195)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/conventions.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/tests/test_namedarray.py
Due: mypy

Update parallelcompat.py
  xarray/core/parallelcompat.py
Due: unittests, mypy

update docstrings
  xarray/namedarray/core.py
Due: unittests, mypy

update error messages
  xarray/namedarray/core.py
Due: unittests, mypy

update tests
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

test explicitly index array
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

remove unused types
  xarray/namedarray/utils.py
Due: unittests, mypy

Release 2023.09.0 (#8229)
  doc/whats-new.rst
Due: none

[skip-ci] dev whats-new
  doc/whats-new.rst
Due: none

[skip-ci] dev whats-new (#8232)
  doc/whats-new.rst
Due: none

Update xarray/tests/test_namedarray.py
  xarray/tests/test_namedarray.py
Due: mypy

use Self
  xarray/namedarray/core.py
Due: unittests, mypy

move covariant duckarray to types
  xarray/core/parallelcompat.py
  xarray/core/types.py
Due: unittests, mypy

does this work?
  xarray/tests/test_parallelcompat.py
Due: mypy

add overloads to align
  xarray/core/alignment.py
  xarray/core/common.py
  xarray/core/dataset.py
  xarray/core/types.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

add overloads to broadcast as well
  xarray/core/alignment.py
Due: unittests, mypy

add some more typing
  xarray/core/alignment.py
  xarray/core/computation.py
  xarray/core/merge.py
Due: unittests, mypy

initial refactor for NamedArray (#8075)
  xarray/core/common.py
  xarray/core/groupby.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/namedarray/__init__.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Update core.py
  xarray/namedarray/core.py
Due: unittests, mypy

Update variable.py
  xarray/core/variable.py
Due: unittests, mypy

fix namedarray tests
  xarray/tests/test_namedarray.py
Due: mypy

Bind T_DuckArray to NamedArray
  xarray/namedarray/core.py
Due: unittests, mypy

Fix tests
  xarray/tests/test_namedarray.py
Due: mypy

Disallow untyped defs in namedarray
  pyproject.toml
Due: none

Just use strict instead
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none
