Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Avoid copying vectorized indexes (#10316)
  asv_bench/benchmarks/indexing.py
  doc/whats-new.rst
  xarray/core/indexing.py
Due: unittests, mypy

apply_ufunc: don't modify attrs on input variables (#10330)
  xarray/structure/merge.py
  xarray/tests/test_computation.py
  xarray/tests/test_merge.py
  xarray/tests/test_ufuncs.py
Due: unittests, mypy

Add what's new entry
  doc/whats-new.rst
Due: none

add visual effect for "active" icons
  xarray/static/css/style.css
Due: unittests, mypy

fix accessibility borders (avoid resize height)
  xarray/static/css/style.css
Due: unittests, mypy

update whats new
  doc/whats-new.rst
Due: none

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

ruff: default rule set
  pyproject.toml
Due: none

Add a mypy tuple[Any, ...] type
  xarray/structure/alignment.py
Due: unittests, mypy

ruff: default rule set (#10360)
  pyproject.toml
Due: none

Apply ruff/flake8-pytest-style rule PT001
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_datatree.py
Due: mypy

Apply ruff/flake8-pytest-style rule PT003
  xarray/tests/test_distributed.py
  xarray/tests/test_formatting_html.py
  xarray/tests/test_plot.py
Due: mypy

Apply ruff/flake8-simplify rule SIM102
  xarray/backends/h5netcdf_.py
  xarray/backends/netcdf3.py
  xarray/coding/times.py
  xarray/computation/computation.py
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/groupby.py
  xarray/core/variable.py
  xarray/plot/utils.py
  xarray/structure/concat.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Grouper tweaks.
  xarray/core/groupby.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Apply ruff/flake8-simplify rule SIM102
  xarray/conventions.py
  xarray/core/missing.py
  xarray/core/parallel.py
  xarray/core/variable.py
  xarray/groupers.py
  xarray/structure/alignment.py
Due: unittests, mypy

Apply ruff/flake8-simplify rule SIM105
  xarray/coding/times.py
  xarray/core/utils.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_dataset.py
  xarray/tests/test_distributed.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_units.py
  xarray/util/print_versions.py
Due: unittests, mypy

Apply ruff/flake8-simplify rule SIM114
  xarray/backends/locks.py
  xarray/core/groupby.py
  xarray/indexes/range_index.py
  xarray/plot/utils.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Apply ruff/flake8-simplify rule SIM201
  xarray/backends/zarr.py
  xarray/coding/frequencies.py
  xarray/core/missing.py
Due: unittests, mypy

Apply ruff/flake8-simplify rule SIM210
  xarray/backends/zarr.py
  xarray/conventions.py
  xarray/plot/utils.py
Due: unittests, mypy

Apply ruff/flake8-simplify rule SIM211
  xarray/plot/facetgrid.py
Due: unittests, mypy

Apply ruff/flake8-simplify rule SIM910
  xarray/coding/times.py
Due: unittests, mypy

Fix "a array" misspelling
  doc/get-help/howdoi.rst
  xarray/core/common.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Apply ruff/flake8-pytest-style rule PT017
  xarray/tests/test_dask.py
Due: mypy

Apply ruff/refurb rule FURB136
  xarray/core/accessor_str.py
Due: unittests, mypy

Apply ruff/refurb rule FURB167
  xarray/tests/test_accessor_str.py
Due: mypy

Enforce ruff/refurb rules (FURB)
  pyproject.toml
Due: none

Ignore ruff/Pyflakes rule F401 more precisely
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Fix performance regression in interp from #9881
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_missing.py
Due: unittests, mypy

Fix "a array" misspelling (#10365)
  doc/get-help/howdoi.rst
  xarray/core/common.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Apply assorted ruff/flake8-pytest-style rules (PT) (#10363)
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dask.py
  xarray/tests/test_datatree.py
  xarray/tests/test_distributed.py
  xarray/tests/test_formatting_html.py
  xarray/tests/test_plot.py
Due: mypy

Apply assorted ruff/flake8-simplify rules (SIM) (#10364)
  xarray/backends/h5netcdf_.py
  xarray/backends/locks.py
  xarray/backends/netcdf3.py
  xarray/backends/zarr.py
  xarray/coding/frequencies.py
  xarray/coding/times.py
  xarray/computation/computation.py
  xarray/conventions.py
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/groupby.py
  xarray/core/missing.py
  xarray/core/parallel.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/groupers.py
  xarray/indexes/range_index.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
  xarray/structure/alignment.py
  xarray/structure/concat.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataset.py
  xarray/tests/test_distributed.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_units.py
  xarray/util/print_versions.py
Due: unittests, mypy

Ignore ruff/Pyflakes rule F401 more precisely (#10369)
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Enforce ruff/refurb rules (FURB) (#10367)
  pyproject.toml
  xarray/core/accessor_str.py
  xarray/tests/test_accessor_str.py
Due: unittests, mypy
