Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

impose sorted to `get_dimensions` method
  xarray/backends/pydap_.py
Due: unittests, mypy

reformat `whats-new.rst`
  doc/whats-new.rst
Due: none

Avoid refining parent dimensions in NetCDF files (#10623)
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

revert to install pydap from conda and not from repo
  ci/requirements/environment.yml
Due: none

Add DataTree.prune() method … (#10598)
  doc/user-guide/hierarchical-data.rst
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

parametrize test over async
  xarray/tests/test_variable.py
Due: mypy

Fixes per review
  xarray/core/datatree_io.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

expose checksum as user kwarg
  ci/requirements/environment.yml
  xarray/backends/pydap_.py
Due: unittests, mypy

include `checksums` optional argument in `whats-new`
  doc/whats-new.rst
Due: none

update to newest release of pydap via pip until conda install is available
  ci/requirements/environment.yml
Due: none

Clean up comments
  xarray/core/datatree_io.py
Due: unittests, mypy

add test
  xarray/tests/test_indexing.py
Due: mypy

add test
  xarray/tests/test_dataarray.py
Due: mypy

use requests_cache session with retry-params when 500 errors occur
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

Add asynchronous load method (#10327)
  ci/minimum_versions.py
  ci/requirements/all-but-dask.yml
  ci/requirements/all-but-numba.yml
  ci/requirements/bare-min-and-scipy.yml
  ci/requirements/bare-minimum.yml
  ci/requirements/environment-3.14.yml
  ci/requirements/environment-windows-3.14.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/api-hidden.rst
  doc/internals/how-to-add-new-backend.rst
  doc/whats-new.rst
  pyproject.toml
  xarray/backends/common.py
  xarray/backends/zarr.py
  xarray/coding/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/namedarray/pycompat.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_indexing.py
  xarray/tests/test_variable.py
Due: unittests, mypy

release notes for v2025.08.0
  doc/whats-new.rst
Due: none

Fix `ds.merge` to prevent altering original object depending on join value (#10596)
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/structure/merge.py
  xarray/tests/test_merge.py
Due: unittests, mypy

release notes for v2025.08.0 (#10641)
  doc/whats-new.rst
Due: none

update env yml file to use new pydap release via conda
  ci/requirements/environment.yml
Due: none

Empty release notes
  doc/whats-new.rst
Due: none

Empty release notes (#10642)
  doc/whats-new.rst
Due: none

Improve DataTree typing
  xarray/backends/api.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/core/datatree_mapping.py
  xarray/core/treenode.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_treenode.py
Due: unittests, mypy

a few more fixes
  xarray/tests/test_datatree.py
Due: mypy

Update Cartopy and Iris references
  doc/examples/multidimensional-coords.ipynb
  doc/get-help/faq.rst
  doc/getting-started-guide/installing.rst
  doc/user-guide/io.rst
  doc/user-guide/plotting.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
Due: none

Update Cartopy and Iris references (#10645)
  doc/examples/multidimensional-coords.ipynb
  doc/get-help/faq.rst
  doc/getting-started-guide/installing.rst
  doc/user-guide/io.rst
  doc/user-guide/plotting.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
Due: none

Improve DataTree typing (#10644)
  xarray/backends/api.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/core/datatree_mapping.py
  xarray/core/treenode.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_treenode.py
Due: unittests, mypy

Fix type for to_netcdf()
  xarray/core/datatree_io.py
Due: unittests, mypy

Add test and whats-new for cross-group redundant computation
  doc/whats-new.rst
  xarray/tests/test_backends_datatree.py
Due: mypy

prevent TestNetCDF4Data to be collected in test_backends_datatree.py
  xarray/tests/test_backends_datatree.py
Due: mypy

catch ValueError for test_child_group_with_inconsistent_dimensions when run on DataTree
  xarray/tests/test_backends_datatree.py
Due: mypy
