Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

enable data checker for batched deserialized data
  xarray/backends/pydap_.py
Due: unittests, mypy

update `whats new docs
  doc/whats-new.rst
Due: none

expose checksum as user kwarg
  ci/requirements/environment.yml
  xarray/backends/pydap_.py
Due: unittests, mypy

revert what`s new from previous commit
  doc/whats-new.rst
Due: none

fix for mypy
  xarray/tests/test_backends.py
Due: mypy

use requests_cache session with retry-params when 500 errors occur
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

update env yml file to use new pydap release via conda
  ci/requirements/environment.yml
Due: none

update to newest release of pydap via pip until conda install is available
  ci/requirements/environment.yml
Due: none

impose sorted to `get_dimensions` method
  xarray/backends/pydap_.py
Due: unittests, mypy

move cache session to `tmpdir`
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: mypy

set `batch=None` as default
  xarray/backends/pydap_.py
Due: unittests, mypy

update to use latest version of pydap
  ci/requirements/environment.yml
Due: none

adds tests to datatree backend to assert multiple dimensions downloaded at once (per group)
  xarray/tests/test_backends_datatree.py
Due: mypy

let `pydap` handle exceptions/warning
  xarray/backends/pydap_.py
Due: unittests, mypy

update `whats new`
  doc/whats-new.rst
Due: none

temporarily install from source for testing - will revert to conda install after new release if no further change to backend
  ci/requirements/environment.yml
Due: none

for flaky, install pydap from repo for now
  ci/requirements/environment.yml
Due: none

update import
  xarray/backends/pydap_.py
Due: unittests, mypy

simplified logic
  xarray/backends/pydap_.py
Due: unittests, mypy

user visible changes on `whats-new.rst`
  doc/whats-new.rst
Due: none

process dims at once, one per group
  xarray/backends/pydap_.py
Due: unittests, mypy

revert to install pydap from conda and not from repo
  ci/requirements/environment.yml
Due: none

include `checksums` optional argument in `whats-new`
  doc/whats-new.rst
Due: none

reformat `whats-new.rst`
  doc/whats-new.rst
Due: none

debug
  xarray/backends/pydap_.py
Due: unittests, mypy

Silence error on Windows
  xarray/tests/test_backends.py
Due: mypy

allow failures for any version of windows
  xarray/tests/test_backends.py
Due: mypy

Silence error in test_zarr_region_chunk_partial_offset on Windows (#10793)
  xarray/tests/test_backends.py
Due: mypy

Improve display of HTML reprs (#10785)
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/static/css/style.css
  xarray/tests/test_formatting_html.py
Due: unittests, mypy

Less vertical whitespace in HTML reprs
  xarray/static/css/style.css
Due: unittests, mypy

ensure consistent line-height in google colab
  xarray/static/css/style.css
Due: unittests, mypy

Refactor DataTree HTML repr
  xarray/core/formatting_html.py
  xarray/core/options.py
  xarray/static/css/style.css
Due: unittests, mypy

Use a default fill_value of NaN for floats in Zarr v3 (#10757)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Less vertical whitespace in HTML reprs (#10795)
  xarray/static/css/style.css
Due: unittests, mypy

Fix error when writing scalar varaibles to Zarr with region={}
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Add PR number
  doc/whats-new.rst
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
