Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

add whats-new
  doc/whats-new.rst
Due: none

Allow str in static typing of reindex, ffill etc. (#9194)
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/resample.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Construct ChainMap objects on demand.
  xarray/core/datatree.py
Due: unittests, mypy

slightly better error message with mis-aligned data trees
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/core/groupers.py
Due: unittests, mypy

Fix typing
  xarray/core/groupby.py
  xarray/core/groupers.py
  xarray/core/types.py
Due: unittests, mypy

clean up reprs
  xarray/core/groupby.py
  xarray/core/groupers.py
Due: unittests, mypy

Allow passing dicts
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Add `storage_options` to set cloud storage credentials when opening a datatree from the ZarrStore (Issue #9197)
  xarray/backends/zarr.py
Due: unittests, mypy

adding open_datatree backend keyword arguments for hdf5
  xarray/backends/h5netcdf_.py
Due: unittests, mypy

adding open_datatree backend keyword arguments for netCDF4
  xarray/backends/netCDF4_.py
Due: unittests, mypy

Fix dark-theme in html tag
  xarray/static/css/style.css
Due: unittests, mypy

Add to release notes
  doc/whats-new.rst
Due: none

Fix dark-theme in `html[data-theme=dark]`-tags (#9200)
  doc/whats-new.rst
  xarray/static/css/style.css
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

Add open_datatree benchmark (#9158)
  asv_bench/benchmarks/dataset_io.py
  xarray/backends/zarr.py
Due: unittests, mypy

use a `composite` strategy to generate the dataframe with a tz-aware datetime column (#9174)
  properties/test_pandas_roundtrip.py
Due: none

mypy fix
  xarray/core/datatree.py
Due: unittests, mypy

use float64 instead of float32 for windows
  xarray/tests/test_datatree.py
Due: mypy

remove pandas from ignore missing imports
  pyproject.toml
Due: none

add Any to dim arg of concat as placeholder
  xarray/core/concat.py
Due: unittests, mypy

allow sequence of np.ndarrays as coords in dataArray constructor
  xarray/core/dataarray.py
  xarray/core/utils.py
Due: unittests, mypy

fix several typing issues in tests
  xarray/tests/test_backends.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_formatting.py
  xarray/tests/test_indexes.py
Due: mypy

fix more types
  xarray/core/dataarray.py
  xarray/core/missing.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

update python syntax
  doc/user-guide/io.rst
Due: none

use html code blocks to fix spacing [skip-ci]
  doc/user-guide/io.rst
Due: none

clean-up per review
  xarray/core/datatree.py
  xarray/core/formatting.py
  xarray/core/treenode.py
Due: unittests, mypy

Update ci/requirements/doc.yml
  ci/requirements/doc.yml
Due: none

more fixes
  xarray/core/extension_array.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/namedarray/daskmanager.py
Due: unittests, mypy

Add note about inheritance to .ds docs
  xarray/core/datatree.py
Due: unittests, mypy

Hierarchical coordinates in DataTree (#9063)
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/core/treenode.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_utils.py
Due: unittests, mypy

more typing...
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/core/concat.py
  xarray/core/types.py
  xarray/core/variable.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
