Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

skip the `pandas` datetime roundtrip test with `pandas=3.0` (#9104)
  properties/test_pandas_roundtrip.py
Due: none

Upd whats new - add gregorian calendar - rename to decimal_year
  doc/whats-new.rst
  xarray/coding/calendar_ops.py
  xarray/core/accessor_dt.py
  xarray/tests/test_accessor_dt.py
Due: unittests, mypy

Add to api.rst and pr number
  doc/api.rst
  doc/whats-new.rst
Due: none

Add user survey announcement to docs (#9101)
  doc/_static/style.css
  doc/conf.py
Due: none

Add requires cftime decorators where needed
  xarray/tests/test_accessor_dt.py
Due: mypy

[skip-ci] Undo custom padding-top.
  doc/_static/style.css
Due: none

add remaining core-dev citations [skip-ci][skip-rtd]
  CITATION.cff
Due: none

add remaining core-dev citations [skip-ci][skip-rtd] (#9110)
  CITATION.cff
Due: none

Undo custom padding-top. (#9107)
  doc/_static/style.css
Due: none

update the release notes
  doc/whats-new.rst
Due: none

Simplify __init__
  xarray/core/datatree.py
Due: unittests, mypy

Adjust DataTree repr to include full path
  xarray/core/formatting.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

More tweaks
  xarray/core/datatree.py
  xarray/core/datatree_render.py
  xarray/core/formatting.py
  xarray/core/iterators.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Try fixing hypothesis CI trigger
  .github/workflows/hypothesis.yaml
Due: none

[skip-ci] Try fixing hypothesis CI trigger (#9112)
  .github/workflows/hypothesis.yaml
Due: none

Address review comments
  doc/whats-new.rst
  xarray/namedarray/core.py
  xarray/tests/test_dask.py
Due: unittests, mypy

core dev spelling [skip-ci]
  doc/whats-new.rst
Due: none

increase count [skip-ci][skip-rtd]
  doc/whats-new.rst
Due: none

release notes for 2024.06.0 (#9092)
  doc/whats-new.rst
  xarray/tests/__init__.py
Due: mypy

release v2024.06.0
  doc/whats-new.rst
Due: none

release v2024.06.0 (#9113)
  doc/whats-new.rst
Due: none

new whats-new section
  doc/whats-new.rst
Due: none

new whats-new section (#9115)
  doc/whats-new.rst
Due: none

Add test for #9108
  xarray/tests/test_groupby.py
Due: mypy

fix whats-new
  doc/whats-new.rst
Due: none

add comment
  xarray/namedarray/core.py
Due: unittests, mypy

Update xarray/tests/test_groupby.py
  xarray/tests/test_groupby.py
Due: mypy

Use "Group:" in repr instead of "DataTree:"
  xarray/core/datatree.py
  xarray/core/datatree_render.py
  xarray/core/formatting.py
  xarray/core/iterators.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Add test for rechunking to a size string
  xarray/core/types.py
  xarray/tests/test_dask.py
Due: unittests, mypy

Update computation.py
  xarray/core/computation.py
Due: unittests, mypy

Update xarray/tests/test_dask.py
  xarray/tests/test_dask.py
Due: mypy
