Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

Silence a bunch of CachingFileManager warnings
  xarray/tests/test_backends.py
Due: mypy

Skip checking indexes for region writes.
  xarray/backends/api.py
Due: unittests, mypy

Silence more.
  xarray/tests/test_backends.py
Due: mypy

WIP
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Silence a bunch of CachingFileManager warnings (#8584)
  xarray/tests/test_backends.py
Due: mypy

Support encoding
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Avoid SerializationWarning
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Fix mode="w-" test
  xarray/backends/api.py
Due: unittests, mypy

Remove store=None case
  xarray/backends/api.py
Due: unittests, mypy

Fix typing
  xarray/tests/test_backends.py
Due: mypy

ENH: vendor SerializableLock from dask and use as default backend lock, adapt tests (#8571)
  doc/whats-new.rst
  xarray/backends/locks.py
  xarray/tests/test_backends.py
  xarray/tests/test_distributed.py
Due: unittests, mypy

Faster encoding functions. (#8565)
  xarray/coding/strings.py
  xarray/conventions.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

Bump min deps.
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
Due: none

Fix scipy
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
Due: none

Update bare-minimum
  ci/requirements/bare-minimum.yml
  pyproject.toml
Due: none

Consolidate CI jobs
  .github/workflows/ci-additional.yaml
Due: none

Fix flox
  ci/requirements/min-all-deps.yml
Due: none

Flox 0.7
  ci/requirements/min-all-deps.yml
Due: none

Update packaging
  ci/requirements/bare-minimum.yml
  ci/requirements/min-all-deps.yml
Due: none

update whats-new list
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
Due: none

Enable Zarr V3 tests in all CI runs.
  .github/workflows/ci.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

add matrix.env to upload-artifact name
  .github/workflows/ci.yaml
Due: none

Explicitly avoid encoding coordinates multiple times
  xarray/backends/api.py
Due: unittests, mypy

Silence another warning in test_backends.py
  xarray/tests/test_backends.py
Due: mypy

Comprehensively test with every store.
  xarray/tests/test_backends.py
Due: mypy

Silence another warning
  xarray/coding/variables.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

Revert "Silence another warning in test_backends.py"
  xarray/tests/test_backends.py
Due: mypy

Update ecosystem.rst
  doc/ecosystem.rst
Due: none

Avoid region change.
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Update ecosystem.rst (#8588)
  doc/ecosystem.rst
Due: none

Handle scalar vars properly
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Fix docstring?
  xarray/backends/api.py
Due: unittests, mypy

Small updates
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

remove xfail in succession of #8571
  xarray/tests/test_backends.py
Due: mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
