Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Allow `rank` to run on dask arrays (#8475)
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Add whatsnew for #8475
  doc/whats-new.rst
Due: none

Add whatsnew for #8475 (#8478)
  doc/whats-new.rst
Due: none

Improve FutureWarning re: resample() loffset parameter
  xarray/core/common.py
Due: unittests, mypy

Add docs re: resample time offset arithmetic
  doc/user-guide/time-series.rst
Due: none

Add loffset deprecation warning to resample docstrings
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Add docs change to whats-new.rst
  doc/whats-new.rst
Due: none

Drop redundant FutureWarning in warning text
  xarray/core/common.py
Due: unittests, mypy

Fix bug for categorical pandas index with categories with EA dtype
  xarray/core/utils.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Add whatsnew
  doc/whats-new.rst
Due: none

Change deprecation warning to present tense
  xarray/core/common.py
Due: unittests, mypy

Update xarray/tests/test_dataset.py
  xarray/tests/test_dataset.py
Due: mypy

Use duck_array_ops for numbagg version, test import is lazy
  xarray/core/duck_array_ops.py
  xarray/core/nputils.py
  xarray/core/pycompat.py
  xarray/core/rolling_exp.py
  xarray/tests/test_plugins.py
Due: unittests, mypy

Improve "variable not found" error message (#8474)
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/tests/test_error_messages.py
Due: unittests, mypy

Fix bug for categorical pandas index with categories with EA dtype (#8481)
  doc/whats-new.rst
  xarray/core/utils.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Update xarray/core/duck_array_ops.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Update xarray/core/nputils.py
  xarray/core/nputils.py
Due: unittests, mypy

Update xarray/core/rolling_exp.py
  xarray/core/rolling_exp.py
Due: unittests, mypy

import from the new location of `normalize_axis_index` if possible
  xarray/core/duck_array_ops.py
  xarray/core/nputils.py
Due: unittests, mypy

disable build isolation for `cftime` [skip-ci] [skip-rtd]
  ci/install-upstream-wheels.sh
Due: none

actually apply the `--no-build-isolation` [skip-ci] [skip-rtd]
  ci/install-upstream-wheels.sh
Due: none

Fix Zarr region transpose
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Use numbagg for `ffill` by default (#8389)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
  xarray/core/missing.py
  xarray/core/nputils.py
  xarray/core/pycompat.py
  xarray/core/rolling_exp.py
  xarray/tests/__init__.py
  xarray/tests/test_missing.py
  xarray/tests/test_plugins.py
Due: unittests, mypy

Refine rolling_exp error messages
  xarray/core/rolling_exp.py
Due: unittests, mypy

Refine rolling_exp error messages (#8485)
  xarray/core/rolling_exp.py
Due: unittests, mypy

remove non-existent chunks method from API docs page
  xarray/datatree_/docs/source/api.rst
Due: unittests, mypy

Keep attrs in `map_over_subtree` https://github.com/xarray-contrib/datatree/pull/279
  xarray/datatree_/datatree/mapping.py
  xarray/datatree_/datatree/tests/test_mapping.py
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

Add code example for FutureWarning message
  xarray/core/common.py
Due: unittests, mypy

Fix Zarr region transpose (#8484)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Start renaming `dims` to `dim`
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataarray.py
  xarray/util/deprecation_helpers.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/namedarray/core.py
Due: unittests, mypy

Reduce redundancy between namedarray and variable tests (#8405)
  xarray/tests/test_namedarray.py
  xarray/tests/test_variable.py
Due: mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
