Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

tweak
  xarray/tests/__init__.py
Due: mypy

fix docs for aliased np funcs
  xarray/ufuncs.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

fix whats new
  doc/whats-new.rst
Due: none

Add utility for opening remote files with fsspec
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/store.py
  xarray/tests/test_backends.py
Due: unittests, mypy

merge sliding_window_view
  xarray/core/duck_array_ops.py
Due: unittests, mypy

namespaces constant
  xarray/tests/test_duck_array_wrapping.py
Due: mypy

Namespace-aware `xarray.ufuncs` (#9776)
  doc/api.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/tests/test_dask.py
  xarray/tests/test_sparse.py
  xarray/tests/test_ufuncs.py
  xarray/ufuncs.py
Due: unittests, mypy

Bump minimum versions (#9796)
  ci/requirements/doc.yml
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
  pyproject.toml
  xarray/core/duck_array_ops.py
  xarray/core/nputils.py
  xarray/core/rolling.py
  xarray/core/rolling_exp.py
  xarray/namedarray/daskmanager.py
  xarray/tests/__init__.py
Due: unittests, mypy

revert dask allowed
  xarray/core/variable.py
Due: unittests, mypy

fix
  xarray/tests/test_backends.py
Due: mypy

simplify recursive function, update tests
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

Apply Joe's suggestions from code review
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
Due: unittests, mypy

Lint
  xarray/backends/h5netcdf_.py
Due: unittests, mypy

Use tuples for indexing
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/zarr.py
  xarray/coding/strings.py
  xarray/core/indexing.py
  xarray/namedarray/_typing.py
Due: unittests, mypy

Remove CompatIndexedTuple
  xarray/core/indexing.py
Due: unittests, mypy

Some typing work
  xarray/coding/strings.py
  xarray/core/indexing.py
  xarray/namedarray/_typing.py
Due: unittests, mypy

more typing
  xarray/backends/common.py
Due: unittests, mypy

Fix test
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

strict=True
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

more typing
  xarray/core/indexing.py
Due: unittests, mypy

fix
  xarray/core/indexing.py
Due: unittests, mypy

some more fixes
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

more refactoring, update tests
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

add fixture, apply fixture to more tests.
  xarray/coding/times.py
  xarray/tests/conftest.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

update time-coding.rst
  doc/internals/time-coding.rst
Due: none

fix typing
  xarray/coding/times.py
Due: unittests, mypy

try to fix test, remove stale print
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

another attempt to fix test
  xarray/tests/test_coding_times.py
Due: mypy

little more type narrowing
  xarray/core/indexing.py
Due: unittests, mypy

debug failing test
  xarray/tests/test_coding_times.py
Due: mypy

Refactor backend indexing tests
  xarray/tests/test_backends.py
Due: mypy

Add legacy backend indexing tests
  xarray/backends/common.py
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/zarr.py
  xarray/core/indexing.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Avoid raising deprecation warning now.
  xarray/core/indexing.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Remove shuffle_by
  xarray/core/common.py
  xarray/tests/test_dask.py
Due: unittests, mypy

fix up some tests
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/nputils.py
  xarray/core/variable.py
Due: unittests, mypy

shuffle -> distributed_shuffle
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

return xarray object from distributed_shuffle
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy
