Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Clarifications in contributors guide (#7595)
  ci/requirements/doc.yml
  doc/_static/ci.png
  doc/_static/view-docs.png
  doc/contributing.rst
  doc/whats-new.rst
Due: none

add a test for scatter colorbar extend (#7616)
  xarray/tests/test_plot.py
Due: mypy

fixed full_like
  xarray/core/common.py
  xarray/core/parallelcompat.py
Due: unittests, mypy

add from_array_kwargs to open_zarr
  xarray/backends/zarr.py
Due: unittests, mypy

adding an introdcution to reshaping doc
  doc/user-guide/reshaping.rst
Due: none

Smaller test
  xarray/tests/test_backends.py
Due: mypy

Update xarray/core/missing.py
  xarray/core/missing.py
Due: unittests, mypy

[skip-ci] xfail resample binary ops
  asv_bench/benchmarks/groupby.py
Due: none

don't import dask.tokenize
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/common.py
  xarray/core/dataset.py
Due: unittests, mypy

Add feature to convert dataarray to dask dataframe. This is for the issue #7409
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
Due: unittests, mypy

added an introduction to the reshaping doc
  doc/user-guide/reshaping.rst
Due: none

fix bugs with passing from_array_kwargs down
  xarray/backends/api.py
  xarray/core/common.py
  xarray/core/dataset.py
Due: unittests, mypy

Use more descriptive link texts
  doc/contributing.rst
  doc/developers-meeting.rst
  doc/user-guide/computation.rst
  doc/user-guide/dask.rst
  doc/user-guide/groupby.rst
  doc/user-guide/indexing.rst
  doc/user-guide/io.rst
  doc/user-guide/pandas.rst
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
Due: none

Fix link target name
  doc/user-guide/time-series.rst
Due: none

generalise reductions by adding to chunkmanager
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
  xarray/core/parallelcompat.py
Due: unittests, mypy

moved nanfirst/nanlast to duck_array_ops from dask_array_ops
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

generalize interp
  xarray/core/missing.py
Due: unittests, mypy

generalized chunk_hint function inside indexing
  xarray/core/indexing.py
  xarray/core/parallelcompat.py
Due: unittests, mypy

DaskIndexingAdapter->ChunkedIndexingAdapter
  xarray/core/indexing.py
  xarray/tests/test_backends.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Revert "DaskIndexingAdapter->ChunkedIndexingAdapter"
  xarray/core/indexing.py
  xarray/tests/test_backends.py
  xarray/tests/test_variable.py
Due: unittests, mypy

[skip-ci] add skipping message
  asv_bench/benchmarks/groupby.py
Due: none

pass cubed-related kwargs down through to_zarr by adding .store to ChunkManager
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/core/parallelcompat.py
  xarray/core/types.py
Due: unittests, mypy

fix typing_extensions on py3.9
  xarray/core/types.py
Due: unittests, mypy

fix ImportError with cubed array type
  xarray/core/parallelcompat.py
Due: unittests, mypy

give up trying to import TypeAlias in CI
  xarray/core/parallelcompat.py
  xarray/core/types.py
Due: unittests, mypy

fix import of T_Chunks
  xarray/core/parallelcompat.py
  xarray/tests/test_parallelcompat.py
Due: unittests, mypy

fix no_implicit_optional warnings
  xarray/backends/api.py
  xarray/core/common.py
  xarray/core/parallelcompat.py
Due: unittests, mypy

don't define CubedManager if cubed can't be imported
  xarray/core/parallelcompat.py
Due: unittests, mypy

fix local mypy errors
  xarray/backends/plugins.py
  xarray/core/parallelcompat.py
  xarray/core/pycompat.py
  xarray/core/types.py
  xarray/tests/test_parallelcompat.py
Due: unittests, mypy

don't explicitly pass enforce_ndim into dask.array.map_blocks
  xarray/core/parallelcompat.py
Due: unittests, mypy

Add new method to format DataArray as strings
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/tests/test_accessor_str.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

Add new method to format DataArray as strings
  doc/api.rst
Due: none

fix drop_axis default
  xarray/core/parallelcompat.py
Due: unittests, mypy

Allow indexing unindexed dimensions using dask arrays (#5873)
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/indexing.py
  xarray/core/nputils.py
  xarray/core/pycompat.py
  xarray/core/variable.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

Revert "Merge"
  xarray/core/computation.py
Due: unittests, mypy

Remove incomplete sentence
  doc/user-guide/io.rst
Due: none

Remove incomplete sentence in IO docs (#7631)
  doc/user-guide/io.rst
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
