Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Use explicit repo name in upstream wheels
  ci/install-upstream-wheels.sh
Due: none

initial pydap4 commit
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

update some links on documentation, and how to define opendap protocol via urls
  doc/user-guide/io.rst
Due: none

fix spacing
  doc/user-guide/io.rst
Due: none

Use explicit repo name in upstream wheels (#10181)
  ci/install-upstream-wheels.sh
Due: none

Add test to check units appear in FacetGrid plot
  xarray/tests/test_plot.py
Due: mypy

fix: ensure axis labels include units in FacetGrid plots
  xarray/plot/facetgrid.py
Due: unittests, mypy

added whats-new documentation
  doc/whats-new.rst
Due: none

Remove mention of xarray-mongodb
  doc/user-guide/io.rst
Due: none

Fix: Correct axis labelling with units for FacetGrid plots (#10185)
  doc/whats-new.rst
  xarray/plot/facetgrid.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Small cleanup
  xarray/core/indexing.py
  xarray/core/variable.py
Due: unittests, mypy

Skip dask tests with pandas index
  xarray/namedarray/core.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Vendor pandas to xarray conversion tests
  xarray/compat/pdcompat.py
  xarray/core/extension_array.py
  xarray/tests/test_pandas_to_xarray.py
Due: unittests, mypy

fix test, typing
  xarray/core/indexing.py
Due: unittests, mypy

Vendor pandas to xarray conversion tests (#10187)
  xarray/compat/pdcompat.py
  xarray/core/extension_array.py
  xarray/tests/test_pandas_to_xarray.py
Due: unittests, mypy

fix
  xarray/core/indexing.py
Due: unittests, mypy

Add nbytes
  xarray/core/utils.py
Due: unittests, mypy

Update pandas_to_xarray tests
  xarray/tests/test_pandas_to_xarray.py
Due: mypy

Revert nbytes
  xarray/core/utils.py
Due: unittests, mypy

One more fix.
  xarray/core/variable.py
Due: unittests, mypy

small edits
  xarray/tests/test_backends.py
Due: mypy

Support zarr `write_empty_chunks` for zarr-python 3 and up (#10177)
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

release 2025.03.1
  doc/whats-new.rst
Due: none

release 2025.03.1 (#10188)
  doc/whats-new.rst
Due: none

Add new whats-new section
  doc/whats-new.rst
Due: none

Add new whats-new section (#10190)
  doc/whats-new.rst
Due: none

docstrings improvements
  xarray/core/indexes.py
Due: unittests, mypy

doc: list RangeIndex constructors in API ref
  doc/api-hidden.rst
  doc/api.rst
Due: none

CoordinateTransformIndex.rename: deep copy transform
  xarray/core/indexes.py
Due: unittests, mypy

update arange and linspace signatures
  xarray/indexes/range_index.py
  xarray/tests/test_range_index.py
Due: unittests, mypy

RangeIndex repr: show size, coord_name and dim props
  xarray/indexes/range_index.py
  xarray/tests/test_range_index.py
Due: unittests, mypy

fix doctests
  xarray/indexes/range_index.py
Due: unittests, mypy

Expose PandasExtensionArray
  xarray/core/indexing.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
