Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Add `inclusive` argument to `cftime_range` and `date_range` and deprecate `closed` argument (#7373)
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/core/pdcompat.py
  xarray/core/types.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex_resample.py
Due: unittests, mypy

Add inventory map.
  doc/conf.py
Due: none

Whats-new for 2023.03.0
  doc/whats-new.rst
Due: none

fix
  doc/whats-new.rst
Due: none

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

Fix typo
  doc/whats-new.rst
Due: none

test for error message
  xarray/tests/test_computation.py
Due: mypy

fix
  xarray/core/computation.py
Due: unittests, mypy

whatsnew
  doc/whats-new.rst
Due: none

Zarr: drop "source" and "original_shape" from encoding (#7500)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Update apply_ufunc output_sizes error message (#7509)
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Update whats-new
  doc/whats-new.rst
Due: none

fix.
  doc/whats-new.rst
Due: none

Fix whats-new for 2023.02.0 (#7506)
  doc/whats-new.rst
Due: none

Update whats-new for dev
  doc/whats-new.rst
Due: none

Update HOW_TO_RELEASE.md
  HOW_TO_RELEASE.md
Due: none

Update whats-new for dev (#7511)
  doc/whats-new.rst
Due: none

Update HOW_TO_RELEASE.md (#7512)
  HOW_TO_RELEASE.md
Due: none

Use plt.rc_context for default styles (#7318)
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Update whats-new.rst
  doc/whats-new.rst
Due: none

move to a `pyproject.toml`-based build configuration https://github.com/xarray-contrib/datatree/pull/219
  xarray/datatree_/.flake8
  xarray/datatree_/.git_archival.txt
  xarray/datatree_/.pre-commit-config.yaml
  xarray/datatree_/ci/doc.yml
  xarray/datatree_/pyproject.toml
  xarray/datatree_/setup.cfg
Due: unittests, mypy

copy subtrees without creating nodes for ancestors https://github.com/xarray-contrib/datatree/pull/201
  xarray/datatree_/datatree/datatree.py
  xarray/datatree_/datatree/tests/test_datatree.py
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

test
  xarray/tests/test_dataset.py
Due: mypy

improve error message
  xarray/core/dataset.py
Due: unittests, mypy

update using dictionary unpacking https://github.com/xarray-contrib/datatree/pull/213
  xarray/datatree_/datatree/datatree.py
  xarray/datatree_/datatree/tests/test_datatree.py
Due: unittests, mypy

use numpys SupportsDtype
  xarray/core/types.py
Due: unittests, mypy

slight improvements to tests
  xarray/tests/test_computation.py
Due: mypy

bugfix in corr_cov for multiple dims
  xarray/core/computation.py
Due: unittests, mypy

fix whats-new
  doc/whats-new.rst
Due: none

Require to explicitly defining optional dimensions such as hue and markersize (#7277)
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy
