Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Reimplement Datatree typed ops (#9619)
  doc/api.rst
  xarray/core/_typed_ops.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/tests/test_datatree.py
  xarray/util/generate_ops.py
Due: unittests, mypy

Migration guide for users of old datatree repo (#9598)
  DATATREE_MIGRATION_GUIDE.md
  doc/whats-new.rst
Due: none

Re-implement map_over_datasets
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/core/treenode.py
  xarray/tests/test_datatree_mapping.py
Due: unittests, mypy

through 850
  xarray/core/missing.py
Due: unittests, mypy

docs(groupby): mention deprecation of `squeeze` kwarg (#9625)
  xarray/core/dataset.py
Due: unittests, mypy

fix typing
  xarray/core/treenode.py
Due: unittests, mypy

disable broken test
  xarray/tests/test_datatree.py
Due: mypy

add migration guide note
  DATATREE_MIGRATION_GUIDE.md
  xarray/core/treenode.py
Due: unittests, mypy

ignore typing error
  xarray/core/datatree.py
Due: unittests, mypy

Add inherit=False option to DataTree.copy() (#9628)
  DATATREE_MIGRATION_GUIDE.md
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Bug fixes for DataTree indexing and aggregation (#9626)
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Add missing `memo` argument to DataTree.__deepcopy__
  xarray/core/datatree.py
  xarray/core/treenode.py
Due: unittests, mypy

Tweaks per review
  xarray/core/treenode.py
  xarray/tests/test_treenode.py
Due: unittests, mypy

Add missing `memo` argument to DataTree.__deepcopy__ (#9631)
  xarray/core/datatree.py
  xarray/core/treenode.py
Due: unittests, mypy

moving duck array
  xarray/core/missing.py
Due: unittests, mypy

undoing code affecting change
  xarray/core/missing.py
Due: unittests, mypy

docs
  xarray/core/dataarray.py
Due: unittests, mypy

type hints for datatree ops tests
  xarray/tests/test_datatree.py
Due: mypy

type hints for datatree aggregations tests
  xarray/tests/test_datatree.py
Due: mypy

type hints for datatree indexing tests
  xarray/tests/test_datatree.py
Due: mypy

type hint a lot more tests
  xarray/tests/test_datatree.py
Due: mypy

more type hints
  xarray/tests/test_datatree.py
Due: mypy

_inherited_vars -> inherited_vars
  xarray/core/formatting.py
Due: unittests, mypy

implementation using Coordinates
  xarray/core/formatting_html.py
Due: unittests, mypy

datatree.DataTree -> xarray.DataTree
  xarray/core/formatting_html.py
Due: unittests, mypy

only show inherited coordinates on root
  xarray/core/formatting_html.py
Due: unittests, mypy

Type check datatree tests (#9632)
  xarray/tests/test_datatree.py
Due: mypy

test that there is an Inherited coordinates header
  xarray/tests/test_formatting_html.py
Due: mypy

Add zip_subtrees for paired iteration over DataTrees (#9623)
  xarray/core/datatree_mapping.py
  xarray/core/formatting.py
  xarray/core/iterators.py
  xarray/core/treenode.py
  xarray/tests/test_treenode.py
Due: unittests, mypy

More efficient check for inherited coordinates
  xarray/core/datatree.py
Due: unittests, mypy

DOC: Clarify error message in open_dataarray
  xarray/backends/api.py
Due: unittests, mypy

fix typing of map_over_datasets
  xarray/core/datatree.py
Due: unittests, mypy
