Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Skip the pydap network tests when the server is unreachable
  xarray/tests/__init__.py
  xarray/tests/backends/test_datatree.py
  xarray/tests/backends/test_pydap.py
Due: mypy

Fix the last-release benchmark workflow
  asv_bench/asv.conf.json
  asv_bench/benchmarks/groupby.py
Due: none

Group chunked arrays by chunk manager, not type
  doc/whats-new.rst
  xarray/namedarray/parallelcompat.py
  xarray/tests/test_parallelcompat.py
Due: unittests, mypy

Fix groupby median on dask arrays with non-contiguous groups (#11653)
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Fix the last-release benchmark workflow (#11661)
  asv_bench/asv.conf.json
  asv_bench/benchmarks/groupby.py
Due: none

Explain the decreasing-coordinate case in _sort_for_interp and test ties
  xarray/core/dataset.py
  xarray/tests/test_interp.py
Due: unittests, mypy

Skip sortby in interp for coordinates that are already sorted (#11658)
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_interp.py
Due: unittests, mypy

Add Arrow PyCapsule support for Dataset and speed up coord broadcasting
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Assert full xarray schema metadata dict in arrow tests
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: mypy

perf: remove 1D broadcasting fast path
  xarray/core/dataarray.py
Due: unittests, mypy

fix: add ravel for C-contiguity
  xarray/core/dataarray.py
Due: unittests, mypy

chore: simplify docstring
  xarray/core/dataset.py
Due: unittests, mypy

Revert "perf: remove 1D broadcasting fast path"
  xarray/core/dataarray.py
Due: unittests, mypy

Add docs for Arrow/Parquet export via to_arrow
  doc/api/io.rst
  doc/conf.py
  doc/user-guide/io.md
Due: none

chore: simplify case where dims match
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

chore: add item in whatsnew
  doc/user-guide/io.md
  doc/whats-new.rst
Due: none

chore: improve docstring
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

chore: simplify broadcast
  xarray/core/dataarray.py
Due: unittests, mypy

feat: add a small asv benchmark
  asv_bench/benchmarks/__init__.py
  asv_bench/benchmarks/arrow.py
Due: none

doc: move whatnew to top
  doc/whats-new.rst
Due: none

Modernize the generated arithmetic operators and test their types (#11657)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  doc/whats-new.rst
  pixi.toml
  xarray/core/_typed_ops.py
  xarray/core/types.py
  xarray/tests/test_typed_ops_typing.yml
  xarray/util/generate_ops.py
Due: unittests, mypy

Fix Zarr fill-value masking options for DataTree reads
  doc/user-guide/io.md
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/backends/test_datatree.py
Due: unittests, mypy

Fix masked-array typing in NamedArray checks
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Fix assign_coords dropping pandas Series index name
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

BUG: support JSON-native Zarr fill values
  xarray/backends/zarr.py
  xarray/tests/backends/test_zarr.py
Due: unittests, mypy

Fix inconsistent hue color mapping in plot.line with duplicate values
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

Recolor lines from the axes' own cycle instead of re-plotting per hue group
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/plot/facetgrid.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Move plot.line hue whats-new entry to current unreleased section
  doc/whats-new.rst
Due: none

Skip broken test.opendap.org tests to fix CI
  xarray/tests/backends/test_datatree.py
  xarray/tests/backends/test_pydap.py
Due: mypy

BUG: support JSON-native Zarr fill values
  doc/whats-new.rst
  xarray/tests/backends/test_zarr.py
Due: mypy

DOC: fix backend indexing examples (GH7450) (#11583)
  doc/internals/how-to-add-new-backend.md
  doc/whats-new.rst
Due: none

Use PEP 695 type parameters in namedarray
  xarray/namedarray/_array_api.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/namedarray/daskmanager.py
  xarray/namedarray/parallelcompat.py
  xarray/namedarray/pycompat.py
  xarray/namedarray/utils.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Document the variance decisions of NamedArray
  xarray/namedarray/core.py
Due: unittests, mypy

Move whats-new entry to the unreleased section
  doc/whats-new.rst
Due: none

Merge the whats-new entries into one breaking change
  doc/whats-new.rst
Due: none

BUG raise for indexed and plain coordinate conflicts
  doc/whats-new.rst
  xarray/structure/alignment.py
  xarray/structure/merge.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Type __array_ufunc__ of Variable, DataArray and Dataset
  doc/whats-new.rst
  xarray/computation/arithmetic.py
  xarray/tests/test_array_ufunc_typing.yml
Due: unittests, mypy
