Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Note about deleting comments
  doc/contribute/ai-policy.md
Due: none

Rename AI-POLICY.md -> AI_POLICY.md
  AI_POLICY.md
Due: none

MAINT: Update Variable.to_dict type hint
  xarray/core/variable.py
Due: unittests, mypy

MAINT: Fix Variable.to_dict type hint (#11258)
  xarray/core/variable.py
Due: unittests, mypy

MAINT: Remove setup.py
  setup.py
Due: none

Update whatsnew
  doc/whats-new.rst
Due: none

Add `inherit='all_coords'` option to `DataTree.to_dataset()` (#11230)
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

adding async for datatrees
  xarray/backends/zarr.py
Due: unittests, mypy

adding async method to _maybe_create_index
  xarray/backends/api.py
Due: unittests, mypy

adding tests for open_group, open_dtree and _maybe_create_index using async
  xarray/tests/test_backends_zarr_async.py
Due: mypy

using async as complete instead of gathering results
  xarray/backends/api.py
Due: unittests, mypy

ensuing _maybe_create_default_indexes_async is compatible with zarr v2
  xarray/backends/api.py
Due: unittests, mypy

resolving the mypy type errors
  xarray/tests/test_backends_zarr_async.py
Due: mypy

attemp 2: resolving mypy type errors
  xarray/tests/test_backends_zarr_async.py
Due: mypy

perf: remove unnecessary semaphore from async datatree opening
  xarray/backends/zarr.py
Due: unittests, mypy

refactor: consolidate async index creation for DataTree opening
  xarray/backends/zarr.py
Due: unittests, mypy

updating whats-new.rst file
  doc/whats-new.rst
Due: none

fix: add zarr v2 fallback for datatree opening
  xarray/backends/zarr.py
Due: unittests, mypy

fix: re-add semaphore to async datatree opening to prevent deadlocks
  xarray/backends/zarr.py
Due: unittests, mypy

refactor: use async index creation in sync open_datatree for zarr
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/tests/test_backends_zarr_async.py
Due: unittests, mypy

fix: add type ignore for mypy arg-type error in open_datatree_async
  xarray/backends/api.py
Due: unittests, mypy

fix: add type annotations to nested async functions for mypy
  xarray/backends/api.py
Due: unittests, mypy

fix: add type annotations and fix Windows path in test
  xarray/backends/api.py
  xarray/tests/test_backends_zarr_async.py
Due: unittests, mypy

refactor: remove public open_datatree_async API per review feedback
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/tests/test_backends_zarr_async.py
Due: unittests, mypy

refactor: convert _build_group_members to module-level helper function
  xarray/backends/zarr.py
Due: unittests, mypy

Update xarray/backends/api.py
  xarray/backends/api.py
Due: unittests, mypy

refactor: use sync index creation in _maybe_create_default_indexes_async
  xarray/backends/api.py
Due: unittests, mypy

fix: add cast for mypy type checking in _build_group_members
  xarray/backends/zarr.py
Due: unittests, mypy

Address PR review: TaskGroup, max_concurrency, and open_dataset_async
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/store.py
  xarray/backends/zarr.py
  xarray/tests/test_backends_zarr_async.py
Due: unittests, mypy

Fix async deadlock risks: use zarr built-in members(), run_in_executor safety
  xarray/backends/api.py
  xarray/backends/zarr.py
Due: unittests, mypy

Fix zarr v2 fallback in _iter_zarr_groups_async
  xarray/backends/zarr.py
Due: unittests, mypy

Trim verbose comments to match xarray style
  xarray/backends/zarr.py
Due: unittests, mypy

Remove double index creation from async DataTree open
  xarray/backends/zarr.py
Due: unittests, mypy

Use native async for DataTree open, threads only for CPU decode
  xarray/backends/zarr.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
