Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

use zarr v2 and consolidated=False to silence execution warnings
  doc/internals/zarr-encoding-spec.rst
Due: none

cleanup, handle more warnings for RTD build
  doc/user-guide/indexing.rst
  doc/user-guide/io.rst
Due: none

catch cartopy coastline download warning
  doc/user-guide/plotting.rst
Due: none

catch downloading 50m coastline warning too
  doc/user-guide/plotting.rst
Due: none

silence xmode minimal printouts, more compact numpy printout
  doc/internals/internal-design.rst
  doc/user-guide/combining.rst
  doc/user-guide/computation.rst
  doc/user-guide/indexing.rst
Due: none

Update xarray/tests/indexes.py
  xarray/tests/indexes.py
Due: mypy

typing fixes
  xarray/tests/indexes.py
Due: mypy

more typing fixes
  xarray/tests/test_concat.py
Due: mypy

dont execute code in whatsnew
  doc/contribute/contributing.rst
  doc/whats-new.rst
Due: none

Improve the docs of the align_chunks parameter
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Update a link in ROMS_ocean_model.ipynb
  doc/examples/ROMS_ocean_model.ipynb
Due: none

MIN: forward variable name down to coders for CharacterArrayCoder
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/netcdf3.py
  xarray/backends/scipy_.py
  xarray/backends/zarr.py
Due: unittests, mypy

FIX: check character arrays for possible changes in dimension name and length, issue appropriate warnings
  xarray/coding/strings.py
  xarray/tests/test_coding_strings.py
Due: unittests, mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

fix subclass in test
  xarray/tests/test_conventions.py
Due: mypy

fix dark mode for datatrees
  doc/user-guide/hierarchical-data.rst
Due: none

fix mermaid diagram, kerchunk, ncdata, and zarr sections
  doc/user-guide/io.rst
Due: none

use tree command to check local zarrs
  doc/user-guide/io.rst
Due: none

address time-coding review
  doc/internals/time-coding.rst
Due: none

Fix reindex on Dataset from MultiIndex DataFrame with RuntimeError (#10347)
  xarray/structure/alignment.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Update a link in ROMS_ocean_model.ipynb (#10394)
  doc/examples/ROMS_ocean_model.ipynb
Due: none

only rewrite dimension name, if new length differs from original length
  xarray/coding/strings.py
Due: unittests, mypy

add DataTree.subset
  doc/api.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

changelog
  doc/whats-new.rst
Due: none

[WIP] Add LazilyConcatenatedArray
  xarray/core/indexing.py
  xarray/tests/test_concat.py
Due: unittests, mypy

Automatic Dask-Zarr chunk alignment (#10336)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/chunks.py
  xarray/backends/zarr.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_chunks.py
Due: unittests, mypy

added movement to Xarray related projects
  doc/user-guide/ecosystem.rst
Due: none

added movement to Xarray related projects (#10403)
  doc/user-guide/ecosystem.rst
Due: none

Update concat for multi-variable indexes. (#10371)
  xarray/structure/concat.py
  xarray/tests/indexes.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Switch docs to jupyter-execute sphinx extension for HTML reprs (#10383)
  .gitignore
  doc/conf.py
  doc/contribute/contributing.rst
  doc/get-help/faq.rst
  doc/internals/duck-arrays-integration.rst
  doc/internals/extending-xarray.rst
  doc/internals/how-to-add-new-backend.rst
  doc/internals/internal-design.rst
  doc/internals/time-coding.rst
  doc/internals/zarr-encoding-spec.rst
  doc/user-guide/combining.rst
  doc/user-guide/complex-numbers.rst
  doc/user-guide/computation.rst
  doc/user-guide/dask.rst
  doc/user-guide/data-structures.rst
  doc/user-guide/duckarrays.rst
  doc/user-guide/groupby.rst
  doc/user-guide/hierarchical-data.rst
  doc/user-guide/indexing.rst
  doc/user-guide/interpolation.rst
  doc/user-guide/io.rst
  doc/user-guide/pandas.rst
  doc/user-guide/plotting.rst
  doc/user-guide/reshaping.rst
  doc/user-guide/terminology.rst
  doc/user-guide/testing.rst
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
Due: none

Release v2025.06.0
  doc/user-guide/time-series.rst
  doc/whats-new.rst
Due: none

Update xarray/tests/test_backends.py
  xarray/tests/test_backends.py
Due: mypy

Apply suggestions from code review
  doc/internals/zarr-encoding-spec.rst
Due: none

Adds chunk key encoding to kwargs passed to zarr (#10274)
  doc/internals/zarr-encoding-spec.rst
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
