Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

we are getting there?
  xarray/coding/cftime_offsets.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/resample_cftime.py
Due: unittests, mypy

Only use necessary dims when creating temporary dataarray
  xarray/plot/dataset_plot.py
Due: unittests, mypy

Update dataset_plot.py
  xarray/plot/dataset_plot.py
Due: unittests, mypy

Can't check only data_vars all corrds are no longer added by default
  xarray/plot/dataset_plot.py
Due: unittests, mypy

who might have guessed it... more typing
  xarray/core/groupers.py
  xarray/core/types.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

avoid converting custom indexes to pandas indexes when formatting coordinate diffs (#9157)
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Update faq.rst
  doc/getting-started-guide/faq.rst
Due: none

Add tests
  xarray/tests/test_plot.py
Due: mypy

Update whats-new.rst
  doc/whats-new.rst
Due: none

Fix reductions for `np.complex_` dtypes with numbagg
  doc/whats-new.rst
  xarray/core/nputils.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Fix reductions for `np.complex_` dtypes with numbagg (#9210)
  doc/whats-new.rst
  xarray/core/nputils.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Consolidate some numbagg tests
  xarray/tests/test_missing.py
Due: mypy

Revert "effectively remove fastpath"
  xarray/core/indexes.py
Due: unittests, mypy

use `nested_duck_arrays` to detect `cupy` beneath duck array layers
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Fix by reassigning coordinate
  xarray/coding/calendar_ops.py
  xarray/tests/test_calendar_ops.py
  xarray/tests/test_cftimeindex.py
Due: unittests, mypy

Update what's new entry
  doc/whats-new.rst
Due: none

Simplify if condition
  xarray/coding/calendar_ops.py
Due: unittests, mypy

typo
  xarray/core/duck_array_ops.py
Due: unittests, mypy

use `issubclass` instead
  xarray/core/duck_array_ops.py
Due: unittests, mypy

check if chunked cupy also works
  xarray/tests/test_cupy.py
Due: mypy

require nested duck arrays to be installed for this
  xarray/tests/__init__.py
  xarray/tests/test_cupy.py
Due: mypy

explicitly import `nested_duck_arrays.dask`
  xarray/tests/test_cupy.py
Due: mypy

continue fixing typing issues
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_variable.py
Due: mypy

fix some typed_ops
  xarray/core/_typed_ops.py
  xarray/util/generate_ops.py
Due: unittests, mypy

fix last non-typed-ops errors
  xarray/tests/test_plot.py
  xarray/tests/test_rolling.py
  xarray/util/generate_ops.py
Due: unittests, mypy

Consolidate some numbagg tests (#9211)
  xarray/tests/test_missing.py
Due: mypy

Fix two bugs in DataTree.update()
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

add mypy annotation
  xarray/core/datatree.py
Due: unittests, mypy

Use numpy 2.0-compat `np.complex64` dtype in test
  xarray/tests/test_computation.py
Due: mypy

Use numpy 2.0-compat `np.complex64` dtype in test (#9217)
  xarray/tests/test_computation.py
Due: mypy

allow per-variable choice of mask_and_scale in open_dataset
  xarray/backends/api.py
  xarray/conventions.py
Due: unittests, mypy

simplify docstring datatype
  xarray/backends/api.py
Due: unittests, mypy

Fix two bugs in DataTree.update() (#9214)
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy
