Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Update core.py
  xarray/namedarray/core.py
Due: unittests, mypy

Fix inheritance in DataTree.copy()
  xarray/core/datatree.py
  xarray/core/formatting.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

skip cumulative sum
  xarray/tests/namedarray_array_api_skips.txt
Due: mypy

Update _typing.py
  xarray/namedarray/_typing.py
Due: unittests, mypy

typing error
  xarray/tests/test_datatree.py
Due: mypy

add missing inherited argument
  xarray/core/formatting_html.py
Due: unittests, mypy

Add ASV for datatree.from_dict
  asv_bench/benchmarks/datatree.py
Due: none

Add ASV for datatree.from_dict (#9459)
  asv_bench/benchmarks/datatree.py
Due: none

Use proper sphinx roles for cross-referencing.
  doc/whats-new.rst
Due: none

fix pytest raises expected error message
  xarray/tests/test_datatree.py
Due: mypy

Implement `DataTree.__delitem__` (#9453)
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/core/datatree.py
Due: unittests, mypy

tweaks to from_dict
  asv_bench/benchmarks/datatree.py
  xarray/core/datatree.py
Due: unittests, mypy

add issue link
  xarray/core/formatting.py
Due: unittests, mypy

remove parent argument from DataTree.__init__
  xarray/core/datatree.py
Due: unittests, mypy

Fix inheritance in DataTree.copy() (#9457)
  asv_bench/benchmarks/datatree.py
  xarray/core/datatree.py
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

update indexes correctly
  xarray/core/coordinates.py
Due: unittests, mypy

remove parent argument from DataTree.__init__ (#9465)
  xarray/core/datatree.py
Due: unittests, mypy

passes test
  xarray/tests/test_datatree.py
Due: mypy

update ._drop_indexed_coords
  xarray/core/coordinates.py
Due: unittests, mypy

added tests
  xarray/backends/zarr.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

Update DataTree repr to indicate inheritance
  xarray/core/formatting.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Make zarr ArrayWriter customizable when writing dataset to zarr
  xarray/backends/api.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Due: unittests, mypy

fix whitespace
  xarray/tests/test_datatree.py
Due: mypy

add more repr tests, fix failure
  xarray/tests/test_datatree.py
  xarray/tests/test_formatting.py
Due: mypy

some mypy fixes
  xarray/core/coordinates.py
  xarray/core/datatree.py
Due: unittests, mypy

remove the apparently-unused _drop_indexed_coords method
  xarray/core/coordinates.py
Due: unittests, mypy

fix import error
  xarray/core/coordinates.py
Due: unittests, mypy

fix failure on windows
  asv_bench/benchmarks/datatree.py
  xarray/tests/test_datatree.py
Due: mypy

test that Dataset and DataArray constructors can handle being passed a DataTreeCoordinates object
  xarray/core/coordinates.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

test dt.coords can be passed to DataTree constructor
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

improve readability of inline comment
  xarray/core/datatree.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
