Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

change expectations
  xarray/tests/test_backends.py
Due: mypy

set apparently changed too
  xarray/tests/test_backends.py
Due: mypy

.to_zarr is also issuing more get requests...
  xarray/tests/test_backends.py
Due: mypy

to_zarr also issuing more set requests
  xarray/tests/test_backends.py
Due: mypy

more problems
  xarray/tests/test_backends.py
Due: mypy

just print all the changes in CI
  xarray/tests/test_backends.py
Due: mypy

more issues
  xarray/tests/test_backends.py
Due: mypy

Remove print statements
  xarray/tests/test_backends.py
Due: mypy

Downgrade zarr requests performance expectations for zarr 3.0.9 (#10491)
  xarray/tests/test_backends.py
Due: mypy

release note
  doc/whats-new.rst
Due: none

correct RST syntax
  doc/whats-new.rst
Due: none

Use add_note() to annotate exceptions when encoding fails (#10464)
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/conventions.py
  xarray/tests/test_backends_common.py
Due: unittests, mypy

Check if zarr store supports consolidated metadata (#10457)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Revert "Downgrade zarr requests performance expectations for zarr 3.0.9 (#10491)"
  xarray/tests/test_backends.py
Due: mypy

test: rescope fixture to prevent state leakage
  xarray/tests/conftest.py
Due: mypy

Fix Zarr 'number of requests' test (#10492)
  xarray/tests/conftest.py
  xarray/tests/test_backends.py
Due: mypy

rename toplevel header from Contribute to Development (#10472)
  doc/contribute/index.rst
  doc/index.rst
Due: none

lint
  .github/workflows/pypi-release.yaml
Due: none

a few tweaks
  xarray/indexes/nd_point_index.py
  xarray/tests/test_nd_point_index.py
Due: unittests, mypy

fix doctest
  xarray/core/dataarray.py
Due: unittests, mypy

rename IntervalIndex -> CFIntervalIndex
  xarray/indexes/__init__.py
  xarray/indexes/cf_interval_index.py
Due: unittests, mypy

fix circular import
  xarray/indexes/cf_interval_index.py
Due: unittests, mypy

coerce to list to dodge bug with interaction between gitpython and toolz
  ci/release_contributors.py
Due: none

Release workflows: always check that the built dist is valid. (#10408)
  .github/workflows/pypi-release.yaml
  HOW_TO_RELEASE.md
Due: none

coerce to list to dodge bug with interaction between gitpython and toolz (#10494)
  ci/release_contributors.py
Due: none

move older release notes to current release
  doc/whats-new.rst
Due: none

remove empty section headers
  doc/whats-new.rst
Due: none

release summary
  doc/whats-new.rst
Due: none

add release date
  doc/whats-new.rst
Due: none

remove repeated contributor name
  doc/whats-new.rst
Due: none

read fill value with new datatypes
  xarray/backends/zarr.py
Due: unittests, mypy

test: use davis branch
  .github/workflows/upstream-dev-ci.yaml
  ci/install-upstream-wheels.sh
  xarray/backends/zarr.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Due: unittests, mypy

ci: correct installation of xarray
  .github/workflows/upstream-dev-ci.yaml
Due: none
