Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

temporarily install from source for testing - will revert to conda install after new release if no further change to backend
  ci/requirements/environment.yml
Due: none

enable data checker for batched deserialized data
  xarray/backends/pydap_.py
Due: unittests, mypy

update testing to show number of download urls
  xarray/tests/test_backends.py
Due: mypy

user visible changes on `whats-new.rst`
  doc/whats-new.rst
Due: none

use requests_cache session with retry-params when 500 errors occur
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

include `checksums` optional argument in `whats-new`
  doc/whats-new.rst
Due: none

impose sorted to `get_dimensions` method
  xarray/backends/pydap_.py
Due: unittests, mypy

update import
  xarray/backends/pydap_.py
Due: unittests, mypy

update `whats new`
  doc/whats-new.rst
Due: none

add to `whats-new` for next release
  doc/whats-new.rst
Due: none

more caution in scipy netcdf backend
  xarray/backends/scipy_.py
Due: unittests, mypy

correct suffix detection for scipy backend
  xarray/backends/scipy_.py
Due: unittests, mypy

Add supports_groups=True to Zarr backend
  xarray/backends/zarr.py
Due: unittests, mypy

Add test case
  xarray/tests/test_backends_datatree.py
Due: mypy

more formatting
  xarray/core/formatting_html.py
  xarray/static/css/style.css
Due: unittests, mypy

fix test without dask
  xarray/tests/test_backends.py
Due: mypy

xfail test_zarr_engine_recognised on windows
  xarray/tests/test_backends_datatree.py
Due: mypy

stricter URL detection for netcdf/dap
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
  xarray/core/utils.py
  xarray/tests/test_backends.py
Due: unittests, mypy

no query params for h5netcdf
  xarray/backends/h5netcdf_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Add supports_groups=True to Zarr backend (#10809)
  xarray/backends/zarr.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

scipy no urls
  xarray/backends/scipy_.py
Due: unittests, mypy

Tweaks
  xarray/core/formatting_html.py
  xarray/core/options.py
  xarray/tests/test_formatting_html.py
Due: unittests, mypy

allow ignoring by email
  ci/release_contributors.py
Due: none

add more email addresses for the AI agent Claude
  ci/release_contributors.py
Due: none

allow ignoring contributors by email for the release notes (#10814)
  ci/release_contributors.py
Due: none

Enable htmlzip documentation build
  .readthedocs.yaml
Due: none

Enable htmlzip documentation build (#10815)
  .readthedocs.yaml
Due: none

Fix error when writing scalar varaibles to Zarr with region={} (#10796)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Switch back default netCDF engine
  doc/whats-new.rst
  xarray/core/options.py
Due: unittests, mypy

add re.escape
  xarray/tests/test_datatree.py
Due: mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

Switch back default netCDF engine (#10817)
  doc/whats-new.rst
  xarray/core/options.py
Due: unittests, mypy

release notes for 2025.10.0
  doc/whats-new.rst
Due: none

release notes for 2025.10.0 (#10821)
  doc/whats-new.rst
Due: none
