Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Update test_groupby.py
  xarray/tests/test_groupby.py
Due: mypy

Revert "possible fix for failing groupby test"
  xarray/core/concat.py
Due: unittests, mypy

Add whats-new
  doc/whats-new.rst
Due: none

Avoid in-place multiplication of a large value to an array with small integer dtype (#8867)
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

Add typing to test_groupby.py (#8890)
  pyproject.toml
  xarray/tests/test_groupby.py
Due: mypy

2024.03.0: Add whats-new (#8891)
  doc/whats-new.rst
Due: none

Avoid extra read from disk when creating Pandas Index.
  xarray/core/indexes.py
Due: unittests, mypy

Remove bundles
  properties/test_index_manipulation.py
Due: none

Fixes
  properties/test_index_manipulation.py
  xarray/testing/strategies.py
Due: unittests, mypy

Add hypothesis cache to CI
  .github/workflows/ci.yaml
Due: none

Prevent index variables with NaNs, infs
  xarray/testing/strategies.py
Due: unittests, mypy

[revert]
  .github/workflows/ci.yaml
  pyproject.toml
Due: none

Always save hypothesis cache
  .github/workflows/ci.yaml
Due: none

Expand dtypes
  xarray/testing/strategies.py
Due: unittests, mypy

Add invariant check for #8646
  xarray/testing/assertions.py
Due: unittests, mypy

raise ValueError if too many dims are requested
  xarray/tests/test_plot.py
Due: mypy

Add drop_dims
  properties/test_index_manipulation.py
Due: none

Add create_index to stack
  properties/test_index_manipulation.py
Due: none

Generalize a bit
  properties/test_index_manipulation.py
Due: none

limit number of indexes to stack
  properties/test_index_manipulation.py
Due: none

Fix endianness?
  xarray/testing/strategies.py
Due: unittests, mypy

uniquify drop_dims
  properties/test_index_manipulation.py
Due: none

Avoid NaTs in index vars
  properties/test_index_manipulation.py
Due: none

Revert "Add invariant check for #8646"
  xarray/testing/assertions.py
Due: unittests, mypy

Add drop_indexes
  properties/test_index_manipulation.py
Due: none

Guard swap_dims
  properties/test_index_manipulation.py
Due: none

Add assign_coords
  properties/test_index_manipulation.py
Due: none

Fix max_period for pandas timedelta
  xarray/testing/strategies.py
Due: unittests, mypy

Skip timedelta indexes
  properties/test_index_manipulation.py
Due: none

Add xfailed test
  properties/test_index_manipulation.py
Due: none

to_zarr
  properties/test_index_manipulation.py
Due: none

Add notes
  properties/test_index_manipulation.py
Due: none
