Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

sel->isel
  doc/internals/internal-design.rst
Due: none

changing it intlo sub-heading
  doc/contributing.rst
Due: none

typing: add Alignable protocol class
  xarray/core/alignment.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
Due: unittests, mypy

try fixing mypy error (Self redefinition)
  xarray/core/types.py
Due: unittests, mypy

remove Coordinate alias of Variable
  xarray/__init__.py
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

what's new added
  doc/whats-new.rst
Due: none

fix groupby test
  xarray/core/coordinates.py
Due: unittests, mypy

indentation error fixed
  xarray/core/dataset.py
Due: unittests, mypy

Link to source code for PandasIndex and PandasMultiIndex
  doc/internals/how-to-create-custom-index.rst
Due: none

doctest
  xarray/core/dataset.py
Due: unittests, mypy

Add documentation on custom indexes (#6975)
  doc/api-hidden.rst
  doc/api.rst
  doc/internals/how-to-create-custom-index.rst
  doc/internals/index.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/indexes.py
Due: unittests, mypy

Move whats-new entry
  doc/whats-new.rst
Due: none

add section on lazy indexing
  doc/internals/internal-design.rst
Due: none

actually show lazy indexing example
  doc/internals/internal-design.rst
Due: none

link to custom indexes page
  doc/internals/how-to-create-custom-index.rst
  doc/internals/interoperability.rst
Due: none

doc: remove merge_coords in api reference
  doc/api-hidden.rst
Due: none

doc: improve docstrings and glossary
  doc/user-guide/terminology.rst
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

use Self type annotation in Coordinate class
  xarray/core/coordinates.py
Due: unittests, mypy

better comment
  xarray/core/coordinates.py
Due: unittests, mypy

fix Self undefined error with python < 3.11
  xarray/core/coordinates.py
Due: unittests, mypy

use a subclass instead of monkeypatching and type-ignores
  xarray/tests/test_formatting.py
Due: mypy

copy napari core dev guide
  CORE_DEV_GUIDE.md
Due: none

replace all instance of napari with xarray
  CORE_DEV_GUIDE.md
Due: none

rewrite some napari-specific sentences
  CORE_DEV_GUIDE.md
Due: none

update links in the resources
  CORE_DEV_GUIDE.md
Due: none

list tasks
  CORE_DEV_GUIDE.md
Due: none

fixes
  CORE_DEV_GUIDE.md
Due: none

mention the plan to merge label
  CORE_DEV_GUIDE.md
Due: none

core dev -> core team member
  CORE_TEAM_GUIDE.md
Due: none

choose your own title
  CORE_TEAM_GUIDE.md
Due: none

rearrange sections to put tasks before code contributions
  CORE_TEAM_GUIDE.md
Due: none

remove dramatic nuclear launch keys analogy
  CORE_TEAM_GUIDE.md
Due: none

link to bi-weekly developers meeting
  CORE_TEAM_GUIDE.md
Due: none

add more types of tasks
  CORE_TEAM_GUIDE.md
Due: none

mention presenting tutorials
  CORE_TEAM_GUIDE.md
Due: none

mention representing xarray in user communities
  CORE_TEAM_GUIDE.md
Due: none

yet more tasks
  CORE_TEAM_GUIDE.md
Due: none

note that you don't have to do everything
  CORE_TEAM_GUIDE.md
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
