Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Assert that dimensions match before transposing or comparing values
  xarray/testing/assertions.py
Due: unittests, mypy

Add docstring for check_dims to assert_equal and assert_identical
  xarray/testing/assertions.py
Due: unittests, mypy

avoid a couple of warnings in `polyfit` (#8939)
  pyproject.toml
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/tests/test_assertions.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

don't create dimension coordinates just to drop them at the end
  xarray/core/concat.py
Due: unittests, mypy

Remove ToDo about not using Coordinates object to pass indexes
  xarray/core/concat.py
Due: unittests, mypy

get rid of unlabeled_dims variable entirely
  xarray/core/concat.py
Due: unittests, mypy

Undo fat finger
  xarray/testing/assertions.py
Due: unittests, mypy

Add attribution to whats-new.rst
  doc/whats-new.rst
Due: none

Replace check_dims with bool argument check_dim_order, rename align_dims to maybe_transpose_dims
  xarray/testing/assertions.py
  xarray/tests/test_assertions.py
Due: unittests, mypy

convert the expected parameters to arrays
  xarray/tests/test_computation.py
Due: mypy

manually zero-pad to avoid calling `np.cross` with 2D vectors
  xarray/tests/test_computation.py
Due: mypy

update docstring
  xarray/coding/variables.py
Due: unittests, mypy

use `BasicIndexer` instead of `CompatIndexedTuple`
  xarray/coding/strings.py
Due: unittests, mypy

support explicit indexing with tuples
  xarray/core/indexing.py
Due: unittests, mypy

fix mypy errors
  xarray/tests/test_coding_strings.py
Due: mypy

remove unused IndexerMaker
  xarray/tests/__init__.py
Due: mypy

Update LazilyIndexedArray._updated_key to support explicit indexing with tuples
  xarray/core/indexing.py
Due: unittests, mypy

Migration of datatree/ops.py -> datatree_ops.py (#8976)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/core/datatree_ops.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

xfail test_use_cftime_false_standard_calendar_in_range
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Due: mypy

Mark `test_use_cftime_false_standard_calendar_in_range` as an expected failure (#8996)
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Due: mypy

call `np.cross` with 3D vectors only (#8993)
  xarray/tests/test_computation.py
Due: mypy

Enable explicit use of key tuples (instead of *Indexer objects) in indexing adapters and explicitly indexed arrays (#8870)
  xarray/coding/strings.py
  xarray/coding/variables.py
  xarray/core/indexing.py
  xarray/namedarray/_typing.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_strings.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

refactor to have different code paths for numpy dtypes and others
  xarray/core/dtypes.py
Due: unittests, mypy

remove the deprecated dtype alias `"a"`
  xarray/tests/test_dtypes.py
Due: mypy

use `isdtype` for all other dtype checks in `xarray.core.dtypes`
  xarray/core/dtypes.py
Due: unittests, mypy

use the proper kinds
  xarray/core/dtypes.py
Due: unittests, mypy

remove the now unused "always tuple" branch in `split_numpy_kinds`
  xarray/core/dtypes.py
Due: unittests, mypy

raise an error on invalid / unknown kinds
  xarray/core/dtypes.py
Due: unittests, mypy

Zarr: Optimize region detection
  xarray/backends/api.py
  xarray/backends/zarr.py
Due: unittests, mypy

Better example
  doc/user-guide/io.rst
Due: none

Fix for unindexed dimensions.
  xarray/backends/zarr.py
Due: unittests, mypy

small cleanup
  xarray/backends/api.py
  xarray/backends/zarr.py
Due: unittests, mypy

add tests for `isdtype`
  xarray/tests/__init__.py
  xarray/tests/test_dtypes.py
Due: mypy

pass in the iterable version of `kind`
  xarray/core/dtypes.py
Due: unittests, mypy

remove the array api check
  xarray/tests/__init__.py
Due: mypy
