Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Add nextafter
  xarray/namedarray/_array_api/_dtypes.py
  xarray/namedarray/_array_api/_utils_inputs.py
Due: unittests, mypy

Add diff
  xarray/namedarray/_array_api/__init__.py
  xarray/namedarray/_array_api/_utility_functions.py
Due: unittests, mypy

Update __init__.py
  xarray/namedarray/_array_api/__init__.py
Due: unittests, mypy

Update _utility_functions.py
  xarray/namedarray/_array_api/_utility_functions.py
Due: unittests, mypy

Add reciprocal
  xarray/namedarray/_array_api/__init__.py
  xarray/namedarray/_array_api/_elementwise_functions.py
Due: unittests, mypy

Add take_along_axis
  xarray/namedarray/_array_api/__init__.py
  xarray/namedarray/_array_api/_indexing_functions.py
Due: unittests, mypy

Add max rank
  xarray/namedarray/_array_api/_info.py
  xarray/namedarray/_typing.py
Due: unittests, mypy

fix nextafter
  xarray/namedarray/_array_api/_elementwise_functions.py
  xarray/namedarray/_array_api/_utils_inputs.py
Due: unittests, mypy

add `pydap` as `T_DataTreeNetcdfEngine`
  xarray/core/datatree_io.py
Due: unittests, mypy

opendap / dap4 support for pydap backend (#10182)
  ci/requirements/min-all-deps.yml
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/pydap_.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

numpy (r)fftfreq does not support dtype yet
  xarray/namedarray/_array_api/_fft/_fft.py
  xarray/namedarray/core.py
Due: unittests, mypy

np does not support arrays for iinfo finfo
  xarray/namedarray/_array_api/_data_type_functions.py
Due: unittests, mypy

feat: enhance RollingExp to support Timedelta windows with halflife
  xarray/computation/rolling_exp.py
Due: unittests, mypy

test: add tests for rolling_exp with Timedelta windows
  xarray/tests/test_rolling.py
Due: mypy

added complex-numbers guide to doc/user-guide
  doc/user-guide/complex-numbers.rst
Due: none

added complex-numbers guide to the user-guide index
  doc/user-guide/index.rst
Due: none

doc: update computation guide to include rolling_exp support for Timedelta windows
  doc/user-guide/computation.rst
Due: none

mentioned changes in whats-new
  doc/whats-new.rst
Due: none

fix: added cleanup code for tmp time-series files
  doc/internals/time-coding.rst
Due: none

fix: added cleanup code for tmp saved_on_disk.h5 file
  doc/user-guide/io.rst
Due: none

doc: update what's new
  doc/whats-new.rst
Due: none

Fix: Docs generation create temporary files that are not cleaned up. (#10238)
  doc/internals/time-coding.rst
  doc/user-guide/io.rst
Due: none

alphabetical order
  xarray/namedarray/_array_api/_statistical_functions.py
Due: unittests, mypy

Handle scalars in result_type
  xarray/namedarray/_array_api/_data_type_functions.py
Due: unittests, mypy

Add _promote_scalar
  xarray/namedarray/core.py
Due: unittests, mypy

Add _promote_scalars
  xarray/namedarray/_array_api/_data_type_functions.py
Due: unittests, mypy

Add scalars to elementwise functions
  xarray/namedarray/_array_api/_elementwise_functions.py
  xarray/namedarray/_typing.py
Due: unittests, mypy

types are not the same, start with all available and reduce
  xarray/namedarray/_array_api/_elementwise_functions.py
Due: unittests, mypy

Update _data_type_functions.py
  xarray/namedarray/_array_api/_data_type_functions.py
Due: unittests, mypy

Update _elementwise_functions.py
  xarray/namedarray/_array_api/_elementwise_functions.py
Due: unittests, mypy

the functions handles scalars now
  xarray/namedarray/core.py
Due: unittests, mypy

test: adjust rolling_exp test to avoid re-assigning pandas_array for compatibility with pandas < 2.2.0
  xarray/tests/test_rolling.py
Due: mypy

Fix __radd__ issues
  xarray/namedarray/_array_api/_elementwise_functions.py
  xarray/namedarray/core.py
Due: unittests, mypy

Handle iadd
  xarray/namedarray/core.py
Due: unittests, mypy

Update core.py
  xarray/namedarray/core.py
Due: unittests, mypy

Revert "Update core.py"
  xarray/namedarray/core.py
Due: unittests, mypy
