Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

don't skip the no chunkmanager test if dask is not installed
  xarray/tests/test_parallelcompat.py
Due: mypy

Fix writing of DataTree subgroups to zarr or netCDF
  xarray/core/datatree_io.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

whats-new
  doc/whats-new.rst
Due: none

drop the length from `numpy`'s fixed-width string dtypes (#9586)
  xarray/core/dtypes.py
  xarray/tests/test_dtypes.py
Due: unittests, mypy

ensure at least one chunk manager is available
  xarray/tests/test_parallelcompat.py
Due: mypy

release summary
  doc/whats-new.rst
Due: none

move some notes to correct version
  doc/whats-new.rst
Due: none

v2024.10.0 release summary (#9678)
  doc/whats-new.rst
Due: none

new blank whatsnew
  doc/whats-new.rst
Due: none

new blank whatsnew (#9679)
  doc/whats-new.rst
Due: none

Add write_inherited_coords for additional control in DataTree.to_zarr
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

(fix): account for series -> numpy conversions
  xarray/tests/test_variable.py
Due: mypy

(fix): ensure dtype check is for numpy type
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

(fix): convert pandas `IntervalArray`
  xarray/tests/test_groupby.py
Due: mypy

don't install `dask`
  ci/requirements/environment-3.13.yml
Due: none

don't install `pydap`
  ci/requirements/environment-3.13.yml
Due: none

run CI on python 3.13
  .github/workflows/ci.yaml
Due: none

same for windows
  ci/requirements/environment-windows-3.13.yml
Due: none

classifier
  pyproject.toml
Due: none

add persist
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

add to api.rst
  doc/api.rst
  xarray/tests/test_datatree.py
Due: mypy

FIX: Make it play well with mypy
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/zarr.py
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/core/utils.py
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
  xarray/testing/strategies.py
  xarray/tests/test_utils.py
Due: unittests, mypy

FIX, TST: match error
  xarray/tests/test_utils.py
Due: mypy

add persist to chunkmanager
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/namedarray/daskmanager.py
  xarray/namedarray/parallelcompat.py
Due: unittests, mypy

Fix inadvertent deep-copying of child data in DataTree
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Fix inadvertent deep-copying of child data in DataTree (#9684)
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

update mypy to 1.13
  .github/workflows/ci-additional.yaml
Due: none

workaround netcdf4 typing issue
  xarray/tests/test_backends.py
Due: mypy

fix further mypy issues
  xarray/backends/common.py
  xarray/plot/facetgrid.py
Due: unittests, mypy

Typing annotations for arithmetic overrides (e.g., DataArray + Dataset)
  xarray/core/_typed_ops.py
  xarray/util/generate_ops.py
Due: unittests, mypy

Update mypy on GitHub CI to use python 3.12
  .github/workflows/ci-additional.yaml
Due: none

add `ValueError`
  xarray/core/dataarray.py
Due: unittests, mypy

more generalization
  xarray/core/dataset.py
  xarray/core/datatree.py
Due: unittests, mypy

whats-new internal changes
  doc/whats-new.rst
Due: none

add test
  xarray/tests/test_dataarray.py
Due: mypy
