Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

paragraph at top making it clear no extra work is required!
  CORE_TEAM_GUIDE.md
Due: none

whatsnew
  doc/whats-new.rst
Due: none

add section on issue triage
  CORE_TEAM_GUIDE.md
Due: none

fix some formatting
  doc/internals/interoperability.rst
Due: none

put encoding last
  doc/internals/index.rst
Due: none

Apply suggestions from Deepak's code review
  CORE_TEAM_GUIDE.md
Due: none

various fixes
  CORE_TEAM_GUIDE.md
Due: none

Make possible raising of ValueError in drop_vars general
  xarray/core/dataset.py
Due: unittests, mypy

Allow opening datasets with nD dimenson coordinate variables. (#7989)
  doc/whats-new.rst
  xarray/core/indexes.py
  xarray/core/variable.py
  xarray/testing.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Update copyright year in README
  README.md
Due: none

Update CORE_TEAM_GUIDE.md
  CORE_TEAM_GUIDE.md
Due: none

Update copyright year in README (#8007)
  README.md
Due: none

join together duplicate entries in the text `repr` (#7225)
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/core/indexes.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

How to run benchmark CI using PR label
  CORE_TEAM_GUIDE.md
Due: none

Core team member guide (#7999)
  CORE_TEAM_GUIDE.md
  doc/whats-new.rst
Due: none

add HDF5 section to read/write docs
  doc/user-guide/io.rst
Due: none

change wording for hdf5 vs. netcdf4
  doc/user-guide/io.rst
Due: none

Expose "Coordinates" as part of Xarray's public API (#7368)
  doc/api-hidden.rst
  doc/api.rst
  doc/user-guide/terminology.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/alignment.py
  xarray/core/common.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/indexes.py
  xarray/core/merge.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/testing.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexes.py
  xarray/tests/test_merge.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Update xarray/core/dataset.py
  xarray/core/dataset.py
Due: unittests, mypy

improved docstring of to_netcdf (issue #7127) (#7947)
  xarray/core/dataset.py
Due: unittests, mypy

size -> sizes
  doc/internals/internal-design.rst
Due: none

fix some api links in docs
  doc/user-guide/testing.rst
Due: none

link to UXarray
  doc/internals/extending-xarray.rst
Due: none

Update interpolate_na in dataset.py (#7974)
  xarray/core/dataset.py
Due: unittests, mypy

Added parameter write_empty_chunks to Dataset.to_zarr
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Missed a couple things...
  xarray/backends/zarr.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Due: unittests, mypy

add write section for hdf5 docs
  doc/user-guide/io.rst
Due: none

Add HDF5 Section to read/write docs page (#8012)
  doc/user-guide/io.rst
Due: none

Update xarray/tests/test_backends.py
  xarray/tests/test_backends.py
Due: mypy

Alternate chunking method if dask not present in test run
  xarray/tests/test_backends.py
Due: mypy

Add test
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy
