Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Avoid recasting a CFTimeIndex (#7735)
  xarray/core/indexes.py
Due: unittests, mypy

Clarify vectorized indexing documentation (#7747)
  doc/user-guide/indexing.rst
Due: none

testing equality of encodings on Ds.from_dict(ds.to_dict()) roundtrips
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

.values -> .to_numpy()
  xarray/core/variable.py
Due: unittests, mypy

restore the pin
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  setup.cfg
Due: none

changelog
  doc/whats-new.rst
Due: none

Move logic to Aligner.align
  xarray/core/alignment.py
Due: unittests, mypy

Add whats-new
  doc/whats-new.rst
Due: none

`pandas=2.0` support (#7724)
  doc/whats-new.rst
  xarray/core/accessor_dt.py
  xarray/core/indexes.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_utils.py
Due: unittests, mypy

unpin `pandas`
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  setup.cfg
Due: none

align: Avoid reindexing when join="exact" (#7736)
  doc/whats-new.rst
  xarray/core/alignment.py
Due: unittests, mypy

refactored to all passing ChunkManagerEntrypoint objects directly
  xarray/backends/api.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallelcompat.py
  xarray/core/variable.py
  xarray/tests/test_parallelcompat.py
Due: unittests, mypy

minor doc updates to clarify extensions using accessors (#7751)
  doc/internals/extending-xarray.rst
Due: none

test newest mypy
  .github/workflows/ci-additional.yaml
Due: none

Update ci-additional.yaml
  .github/workflows/ci-additional.yaml
Due: none

remove ignores
  xarray/core/combine.py
  xarray/core/rolling.py
  xarray/core/utils.py
Due: unittests, mypy

add typing
  xarray/tests/test_concat.py
Due: mypy

Use ClassVar
  xarray/tests/test_variable.py
Due: mypy

Add type hint for nanosecond_precision_timestamp
  xarray/core/pdcompat.py
Due: unittests, mypy

Add one more TODO comment
  xarray/coding/times.py
Due: unittests, mypy

Remove deleted attributes in CFTimeIndex documentation
  doc/api-hidden.rst
Due: none

Add a what's new entry
  doc/whats-new.rst
Due: none

Remove one more attribute from api-hidden.rst
  doc/api-hidden.rst
Due: none

Silence conversion warnings in tests
  xarray/tests/test_concat.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Due: mypy

Silence more conversion warnings
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: mypy

Continue to use nanosecond-precision Timestamps in precision-sensitive areas (#7731)
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  doc/api-hidden.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  setup.cfg
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/core/pdcompat.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_concat.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Due: unittests, mypy

restructure the contributing guide (#7681)
  doc/contributing.rst
Due: none

Generalize data_vars typing concat.
  xarray/core/concat.py
  xarray/tests/test_concat.py
Due: unittests, mypy

Add benchmark against latest release on main.
  .github/workflows/benchmarks-last-release.yml
Due: none

Revert
  .github/workflows/benchmarks-last-release.yml
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
