Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

fix scatter plot typing and remove funky pyplot import
  xarray/plot/dataarray_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
Due: unittests, mypy

fix some more typing errors
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/facetgrid.py
Due: unittests, mypy

tests: Update US/Eastern timezone to America/New_York
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: mypy

Fix mypy error
  xarray/core/dataset.py
Due: unittests, mypy

Cut middle version from CI
  .github/workflows/ci.yaml
Due: none

Cut middle version from CI (#8156)
  .github/workflows/ci.yaml
Due: none

dirty workaround for mypy 1.5 error (#8142)
  xarray/core/dataset.py
Due: unittests, mypy

improve warning message
  xarray/core/indexes.py
Due: unittests, mypy

update what's new
  doc/whats-new.rst
Due: none

fix some import errors
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
Due: unittests, mypy

undo some typing errors
  xarray/core/options.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
Due: unittests, mypy

fix xylim typing
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/utils.py
Due: unittests, mypy

Add a test case for the attr update issue
  xarray/tests/test_backends.py
Due: mypy

Update metadata in data variables
  xarray/backends/zarr.py
Due: unittests, mypy

Adjust existing test to new, correct behaviour
  xarray/tests/test_backends.py
Due: mypy

Fix test
  xarray/tests/test_dataarray.py
Due: mypy

tests: Update US/Eastern timezone to America/New_York (#8153)
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: mypy

Docs page on internal design (#7991)
  doc/conf.py
  doc/internals/duck-arrays-integration.rst
  doc/internals/extending-xarray.rst
  doc/internals/index.rst
  doc/internals/internal-design.rst
  doc/internals/variable-objects.rst
  doc/whats-new.rst
Due: none

Update xarray/core/dataset.py
  xarray/core/dataset.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Fix tokenize with empty attrs (#8101)
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_dask.py
Due: unittests, mypy

Consistently report all dimensions in error messages if invalid dimensions are given (#8079)
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/core/concat.py
  xarray/core/coordinates.py
  xarray/core/dataset.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/rolling.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/tests/test_coarsen.py
  xarray/tests/test_concat.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexes.py
  xarray/tests/test_rolling.py
  xarray/tests/test_weighted.py
Due: unittests, mypy

Fix typos
  asv_bench/benchmarks/dataset_io.py
  asv_bench/benchmarks/merge.py
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/netCDF4_.py
  xarray/core/dataarray.py
  xarray/core/indexes.py
  xarray/core/rolling.py
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
Due: unittests, mypy

Fix typos (#8163)
  asv_bench/benchmarks/dataset_io.py
  asv_bench/benchmarks/merge.py
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/netCDF4_.py
  xarray/core/dataarray.py
  xarray/core/indexes.py
  xarray/core/rolling.py
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
Due: unittests, mypy

use `float` instead of the removed `np.float_`
  xarray/core/missing.py
  xarray/tests/test_variable.py
Due: unittests, mypy

ignore missing stubs for `numpy.exceptions`
  pyproject.toml
Due: none

Apply suggestions from code review
  xarray/tests/test_dataarray.py
Due: mypy

to_stacked_array: better error msg & refactor (#8130)
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

add dim and unstack args to Dataset.from_dataframe
  xarray/core/dataset.py
Due: unittests, mypy

fix miscellaneous `numpy=2.0` errors (#8117)
  pyproject.toml
  xarray/backends/netCDF4_.py
  xarray/coding/strings.py
  xarray/coding/times.py
  xarray/core/accessor_str.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/dtypes.py
  xarray/core/missing.py
  xarray/core/nputils.py
  xarray/tests/test_accessor_str.py
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_dtypes.py
  xarray/tests/test_groupby.py
  xarray/tests/test_variable.py
  xarray/tests/test_weighted.py
Due: unittests, mypy

[skip-ci] WIP: make _check_dims public, generalize to accept sequences and add error message
  xarray/core/utils.py
Due: unittests, mypy
