Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Fix netCDF4 backend byte-swapping non-native-endian attribute values
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Add whats-new entry for #11543
  doc/whats-new.rst
Due: none

Fix idxmax/idxmin silently promoting integer label coordinate dtype to float64 (GH#7527)
  doc/whats-new.rst
  xarray/computation/computation.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

fix: make str.replace with n=0 perform no replacements
  xarray/core/accessor_str.py
  xarray/tests/test_accessor_str.py
Due: unittests, mypy

docs: add whats-new entry for str.replace n=0 fix
  doc/whats-new.rst
Due: none

docs: reference PR number in whats-new entry
  doc/whats-new.rst
Due: none

MAINT: Update pixi-lock action
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

MAINT: Update pixi-lock action (#11546)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

Apply suggestion from @dcherian
  xarray/computation/computation.py
Due: unittests, mypy

Apply suggestion from @dcherian
  xarray/backends/zarr.py
Due: unittests, mypy

Adapt to upstream change in resampling with Day frequency
  doc/whats-new.rst
  xarray/core/resample_cftime.py
  xarray/tests/__init__.py
  xarray/tests/test_cftimeindex_resample.py
Due: unittests, mypy

Adapt to change in behavior of pd.DateOffset in isinstance
  xarray/coding/cftime_offsets.py
  xarray/core/types.py
  xarray/tests/test_cftime_offsets.py
Due: unittests, mypy

Adapt to upstream change in resampling with a `Day` frequency (#11547)
  doc/whats-new.rst
  xarray/core/resample_cftime.py
  xarray/tests/__init__.py
  xarray/tests/test_cftimeindex_resample.py
Due: unittests, mypy

Require h5netcdf for running TestNetCDF4ClassicViaH5NetCDFData tests
  xarray/tests/test_backends.py
Due: mypy

Harmonize platforms in nightly pixi.toml with main pixi.toml
  ci/nightly/pixi.toml
Due: none

Require h5netcdf for running TestNetCDF4ClassicViaH5NetCDFData tests (#11550)
  xarray/tests/test_backends.py
Due: mypy

Update xarray/backends/zarr.py
  xarray/backends/zarr.py
Due: unittests, mypy

Adapt to change in behavior of pd.DateOffset in isinstance (#11548)
  xarray/coding/cftime_offsets.py
  xarray/core/types.py
  xarray/tests/test_cftime_offsets.py
Due: unittests, mypy

ENH support DataTree in apply_ufunc
  xarray/computation/apply_ufunc.py
  xarray/tests/test_computation.py
  xarray/tests/test_ufuncs.py
  xarray/ufuncs.py
Due: unittests, mypy

Fix quantile raising on an empty result
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Validate q and method on an empty quantile, and cover both entry points
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Keep the empty-quantile check working for extension dtypes
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Keep datetime and timedelta dtypes on an empty quantile
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Use a scalar NaT and cover the chunked empty quantile
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Keep the unit on the NaT fill value
  xarray/core/variable.py
Due: unittests, mypy

Fix reductions on empty dimensions returning NaN/NaT instead of raising
  doc/whats-new.rst
  xarray/core/duck_array_ops.py
  xarray/tests/test_duck_array_ops.py
Due: unittests, mypy

makes reduction method generation explicit in Coarsen objects to satisfy type checkers
  xarray/computation/arithmetic.py
  xarray/computation/ops.py
  xarray/computation/rolling.py
Due: unittests, mypy

update whats-new.rst with recent bug fix
  doc/whats-new.rst
Due: none

mark _reduce_method_impl as static method to pass type checking tests
  xarray/computation/rolling.py
Due: unittests, mypy

Trivial fix, came across whilst looking at inernal semantics of `Dataset/DataArray.rename()`
  xarray/core/dataset.py
Due: unittests, mypy

Trivial fix, came across whilst looking at inernal semantics of `Dataset/DataArray.rename()` (#11557)
  xarray/core/dataset.py
Due: unittests, mypy

cached import for cftime in _maybe_cast_to_cftimeindex
  xarray/core/indexes.py
Due: unittests, mypy

add whats-new comment
  doc/whats-new.rst
  xarray/core/indexes.py
Due: unittests, mypy

Preserve object dtype on full reduction (e.g. .sum()) of object-dtype Variable
  xarray/namedarray/core.py
Due: unittests, mypy

remove type: ignore comments in tests for coarsen reduction methods, since it no longer fails
  xarray/tests/test_coarsen.py
  xarray/tests/test_sparse.py
Due: mypy

Fix type error for Coarsen reduction methods (#11556)
  doc/whats-new.rst
  xarray/computation/arithmetic.py
  xarray/computation/ops.py
  xarray/computation/rolling.py
  xarray/tests/test_coarsen.py
  xarray/tests/test_sparse.py
Due: unittests, mypy

add tests for cftime import in safe_cast_to_index
  xarray/tests/test_indexes.py
Due: mypy

Show inherited indexes separately in DataTree repr
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Add a couple of extra guards. Think the only issue now is the missing dims are missing in the test data
  pixi.toml
  xarray/computation/weighted.py
Due: unittests, mypy

WIP
  xarray/tests/test_weighted.py
Due: mypy
