Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Use active chunked array backend
  xarray/compat/dask_array_compat.py
  xarray/compat/dask_array_ops.py
Due: unittests, mypy

Inline dask-array expression check
  xarray/core/dask_array_expr.py
  xarray/core/dataset.py
  xarray/tests/test_dask_expr_protocol.py
Due: unittests, mypy

Refine dask-array expression follow-ups
  pixi.toml
  xarray/compat/dask_array_ops.py
  xarray/core/dataset.py
  xarray/tests/test_dask_expr_protocol.py
Due: unittests, mypy

Put __array_namespace__ on ImplicitToExplicitIndexingAdapter instead
  xarray/core/formatting.py
  xarray/core/indexing.py
  xarray/core/utils.py
Due: unittests, mypy

remove the additional python 3.13 envs
  .github/workflows/ci-additional.yaml
  pixi.toml
Due: none

explicitly use the gil version of python 3.14
  pixi.toml
Due: none

don't use `pytest=9.1.0`
  pixi.toml
Due: none

remove the unused python 3.12 feature
  pixi.toml
Due: none

Revert "pin pixi until the nightly ci resolves again (#11372)"
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
  .readthedocs.yaml
Due: none

ci: add Python 3.14 test environment to CI matrix (#11377)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
  .readthedocs.yaml
  pixi.toml
Due: none

Revert "Remove iris from feature.extras.dependencies because it depends on dask"
  pixi.toml
Due: none

Add iris under feature.dask.dependencies
  pixi.toml
Due: none

Add requires_dask marker to two unit tests checking open_mfdataset
  xarray/tests/test_backends.py
Due: mypy

Add iris to feature.doc.dependencies
  pixi.toml
Due: none

fix: handle OSError in _get_mtime for non-file paths (fixes #11386)
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

fix: avoid copying data in Variable.drop_encoding (fixes #11390)
  xarray/core/variable.py
Due: unittests, mypy

Harmonize encoding from h5netcdf with netcdf4
  ci/policy.yaml
  doc/whats-new.rst
  pixi.toml
  pyproject.toml
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Move what's new entries to latest section
  doc/whats-new.rst
Due: none

Silence datetime accessor deprecation warnings (#11270)
  _stubtest/allowlist.txt
  doc/api-hidden.rst
  doc/api/dataarray.rst
  doc/getting-started-guide/why-xarray.rst
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/coding/calendar_ops.py
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/core/accessor_dt.py
  xarray/core/dataarray.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_calendar_ops.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cupy.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting_html.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

fix drop_encoding to avoid copying data — GH#11390
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Support query optimization with Dask expression arrays (#11382)
  xarray/compat/dask_array_compat.py
  xarray/compat/dask_array_ops.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallel.py
  xarray/tests/test_dask_expr_protocol.py
Due: unittests, mypy

remove the condition and temporarily disable uploads
  .github/workflows/upstream-dev-ci.yaml
Due: none

don't do early skips
  .github/workflows/upstream-dev-ci.yaml
Due: none

temporarily run the `create-issue` job outside scheduled runs
  .github/workflows/upstream-dev-ci.yaml
Due: none

temporarily skip running the tests
  .github/workflows/upstream-dev-ci.yaml
Due: none

remove comments [skip-rtd]
  .github/workflows/upstream-dev-ci.yaml
Due: none

re-activate the tests
  .github/workflows/upstream-dev-ci.yaml
Due: none

remove unnecessary parentheses [skip-rtd]
  .github/workflows/upstream-dev-ci.yaml
Due: none

error if the log file was not generated [skip-rtd]
  .github/workflows/upstream-dev-ci.yaml
Due: none

temporarily skip the mypy run
  .github/workflows/upstream-dev-ci.yaml
Due: none

typo [skip-rtd]
  .github/workflows/upstream-dev-ci.yaml
Due: none

re-enable the CI jobs
  .github/workflows/upstream-dev-ci.yaml
Due: none

change the deps for the mypy CI [skip-rtd]
  .github/workflows/upstream-dev-ci.yaml
Due: none

add back the permission to edit issues [skip-rtd]
  .github/workflows/upstream-dev-ci.yaml
Due: none

debug the nightly CI (#11395)
  .github/workflows/upstream-dev-ci.yaml
Due: none

Enable dask-array chunk manager test mode
  conftest.py
  xarray/backends/api.py
  xarray/compat/dask_array_compat.py
  xarray/core/accessor_dt.py
  xarray/core/dask_array_expr.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/parallel.py
  xarray/core/variable.py
  xarray/namedarray/parallelcompat.py
  xarray/structure/chunks.py
  xarray/tests/__init__.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_accessor_str.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_coding.py
  xarray/tests/test_coding_strings.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_computation.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dask.py
  xarray/tests/test_dask_expr_protocol.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_datatree.py
  xarray/tests/test_distributed.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_groupby.py
  xarray/tests/test_indexing.py
  xarray/tests/test_interp.py
  xarray/tests/test_missing.py
  xarray/tests/test_parallelcompat.py
  xarray/tests/test_plot.py
  xarray/tests/test_rolling.py
  xarray/tests/test_sparse.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Fix CI for dask-array test mode
  xarray/core/accessor_dt.py
  xarray/tests/test_backends.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Add nodask constraint for test-py314-no-dask environment (#11385)
  pixi.toml
  xarray/tests/test_backends.py
Due: mypy

Fix RangeIndex.linspace with num=1
  xarray/indexes/range_index.py
  xarray/tests/test_range_index.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
