Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Input argument period included in test_cftime_range_no_freq and test_date_range_no_freq following #8770
  xarray/tests/test_cftime_offsets.py
Due: mypy

Fixes
  xarray/core/groupby.py
Due: unittests, mypy

Add comments.
  xarray/core/groupby.py
Due: unittests, mypy

[skip-ci] NamedArray: Add lazy indexing array refactoring plan (#8775)
  design_notes/named_array_design_doc.md
Due: none

replace `_oindex` with `_oindex_get`
  xarray/core/indexing.py
Due: unittests, mypy

Update xarray/core/indexing.py
  xarray/core/indexing.py
Due: unittests, mypy

Fix __setitem__ method in IndexCallable class
  xarray/core/indexing.py
Due: unittests, mypy

refactor `indexing.py`: introduce `.oindex` for Explicitly Indexed Arrays (#8750)
  doc/whats-new.rst
  xarray/core/indexing.py
  xarray/core/variable.py
Due: unittests, mypy

introduce `.vindex` property for Explicitly Indexed Arrays
  xarray/core/indexing.py
  xarray/core/variable.py
Due: unittests, mypy

Add support for oindex and vindex in LazilyVectorizedIndexedArray
  xarray/core/indexing.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

date_range: set default freq to 'D' only if periods, start, or end are None (#8774)
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/tests/test_cftime_offsets.py
Due: unittests, mypy

Fix non-nanosecond casting behavior for expand_dims
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: unittests, mypy

increase plot size
  xarray/core/options.py
  xarray/core/variable.py
Due: unittests, mypy

added old tests
  xarray/tests/__init__.py
  xarray/tests/test_dataarray.py
Due: mypy

Keep relevant test
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

what's new
  doc/whats-new.rst
Due: none

PR comment
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

remove unnecessary (?) check
  xarray/core/variable.py
Due: unittests, mypy

unnecessary line removal
  xarray/core/variable.py
Due: unittests, mypy

removal of variable reassignment to avoid type issue
  xarray/tests/test_dataarray.py
Due: mypy

Update xarray/core/variable.py
  xarray/core/variable.py
Due: unittests, mypy

Update tests
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

tweaks to the header
  xarray/core/dataarray.py
Due: unittests, mypy

update whats-new
  doc/whats-new.rst
Due: none

introduce `.vindex` property for Explicitly Indexed Arrays (#8780)
  doc/whats-new.rst
  xarray/core/indexing.py
  xarray/core/variable.py
Due: unittests, mypy

Use ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

pre-commit run --all
  .pre-commit-config.yaml
  asv_bench/benchmarks/__init__.py
  doc/examples/apply_ufunc_vectorize_1d.ipynb
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/locks.py
  xarray/backends/plugins.py
  xarray/core/_typed_ops.py
  xarray/core/alignment.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/concat.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/extensions.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/options.py
  xarray/core/parallel.py
  xarray/core/resample.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/namedarray/_array_api.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/namedarray/parallelcompat.py
  xarray/plot/accessor.py
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/utils.py
  xarray/testing/strategies.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Migrate treenode module. (#8757)
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/zarr.py
  xarray/core/treenode.py
  xarray/datatree_/datatree/__init__.py
  xarray/datatree_/datatree/datatree.py
  xarray/datatree_/datatree/iterators.py
  xarray/datatree_/datatree/mapping.py
  xarray/datatree_/datatree/tests/test_formatting.py
  xarray/tests/conftest.py
  xarray/tests/datatree/conftest.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_treenode.py
Due: unittests, mypy

Fix non-nanosecond casting behavior for `expand_dims` (#8782)
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: unittests, mypy

refactor __getitem__() by removing vectorized and orthogonal indexing logic from it
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy
