Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Display data returned in `apply_ufunc` error message (#8179)
  xarray/core/computation.py
  xarray/core/formatting.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Set dev version above released version (#8181)
  pyproject.toml
  setup.py
Due: none

Remove `setup.cfg` in favor of `pyproject.toml` (#8183)
  pyproject.toml
  setup.cfg
  xarray/__init__.py
Due: unittests, mypy

Fix comment alignment in `pyproject.toml`
  pyproject.toml
Due: none

Fix comment alignment in `pyproject.toml` (#8185)
  pyproject.toml
Due: none

Update contourf call check for mpl 3.8
  xarray/tests/test_plot.py
Due: mypy

FIX: use "krogh" as interpolator method-string instead of "krog"
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/tests/test_missing.py
Due: unittests, mypy

Update xarray/tests/test_missing.py
  xarray/tests/test_missing.py
Due: mypy

don't try to build with `pandas=2.1.0`
  ci/requirements/doc.yml
Due: none

reorder the project metadata sections
  pyproject.toml
Due: none

source the exhaustive list of optional deps from `pyproject.toml`
  doc/getting-started-guide/installing.rst
Due: none

dirty
  xarray/backends/netCDF4_.py
Due: unittests, mypy

clean
  xarray/backends/netCDF4_.py
Due: unittests, mypy

Remove dict from valid attrs type
  xarray/backends/api.py
Due: unittests, mypy

Fix encoding
  xarray/backends/netCDF4_.py
Due: unittests, mypy

link to the new location of the colormap tutorial in matplotlib
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
Due: unittests, mypy

also convert the narrative documentation to `pyproject.toml`
  doc/getting-started-guide/installing.rst
Due: none

ENH: test_interpolate_pd_compat with range of fill_value's
  xarray/tests/test_missing.py
Due: mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

add missing "linear" method
  xarray/tests/test_missing.py
Due: mypy

fix the failing docs (#8188)
  ci/requirements/doc.yml
  doc/getting-started-guide/installing.rst
  pyproject.toml
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
Due: unittests, mypy

FIX: ordering of flags
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Add array_namespace
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
Due: mypy

Update xarray/core/missing.py
  xarray/core/missing.py
Due: unittests, mypy

Update test_dataset.py
  xarray/tests/test_dataset.py
Due: mypy

use filterwarnings instead of pytest.warns
  xarray/tests/test_backends.py
Due: mypy

remove Frozen
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
Due: unittests, mypy

Update xarray/core/computation.py
  xarray/core/computation.py
Due: unittests, mypy

Fix pytest markers
  pyproject.toml
Due: none

Adjust ufunc error message
  xarray/core/computation.py
Due: unittests, mypy

Fix pytest markers (#8191)
  pyproject.toml
Due: none

new rolling construct strategy for coords
  xarray/core/rolling.py
  xarray/tests/test_rolling.py
Due: unittests, mypy

add whats-new
  doc/whats-new.rst
Due: none

Fix several warnings in the tests (#8184)
  xarray/tests/test_backends.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting_html.py
Due: mypy
