Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

try not to build `numcodecs` in CI [skip-ci] [skip-rtd]
  ci/install-upstream-wheels.sh
Due: none

don't remove `numcodecs` from the upstream-dev environment
  ci/install-upstream-wheels.sh
Due: none

also don't remove `pint`, it's not in the environment at the moment
  ci/install-upstream-wheels.sh
Due: none

don't build `bottleneck` without build isolation
  ci/install-upstream-wheels.sh
Due: none

also build `cftime` without build isolation
  ci/install-upstream-wheels.sh
Due: none

remove the build-deps
  ci/install-upstream-wheels.sh
Due: none

try removing the upstream-dev build of `pyarrow` [skip-ci][skip-rtd]
  ci/install-upstream-wheels.sh
Due: none

Add support for CompatIndexedTuple in explicit indexing adapter
  xarray/coding/strings.py
  xarray/core/indexing.py
Due: unittests, mypy

remove unused code
  xarray/core/indexing.py
Due: unittests, mypy

type hint fixes
  xarray/core/indexing.py
Due: unittests, mypy

Revert "try removing the upstream-dev build of `pyarrow`" [skip-ci][skip-rtd]
  ci/install-upstream-wheels.sh
Due: none

fix docstrings
  xarray/coding/variables.py
  xarray/core/indexing.py
Due: unittests, mypy

fix tests
  xarray/tests/test_dataset.py
Due: mypy

revert the change to the signature of `__array__`
  xarray/core/common.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/groupby.py
  xarray/core/indexing.py
  xarray/namedarray/_typing.py
  xarray/tests/__init__.py
  xarray/tests/test_formatting.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

fix docstrings
  xarray/coding/strings.py
  xarray/coding/variables.py
Due: unittests, mypy

ignore all deprecation warnings about `__array__` gaining a new kwarg
  pyproject.toml
Due: none

add back the `copy` kwarg if the protocol does not have type hints
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Add notes on when to add ignores to warnings
  pyproject.toml
Due: none

Remove `.drop` warning allow
  pyproject.toml
Due: none

Docstring and documentation improvement for the Dataset class (#8973)
  doc/user-guide/data-structures.rst
  xarray/core/dataset.py
Due: unittests, mypy

Add notes on when to add ignores to warnings (#8987)
  pyproject.toml
Due: none

Skip flaky `test_open_mfdataset_manyfiles` test
  xarray/tests/test_backends.py
Due: mypy

Remove `.drop` warning allow (#8988)
  pyproject.toml
Due: none

Skip flaky `test_open_mfdataset_manyfiles` test (#8989)
  xarray/tests/test_backends.py
Due: mypy

Update xarray/core/dataset.py
  xarray/core/dataset.py
Due: unittests, mypy

clean up the upstream-dev setup script (#8986)
  ci/install-upstream-wheels.sh
Due: none

Apply suggestions from code review
  xarray/coding/strings.py
Due: unittests, mypy

update docstrings and pass tuples directly
  xarray/coding/strings.py
  xarray/coding/variables.py
  xarray/core/indexing.py
  xarray/tests/test_coding_strings.py
Due: unittests, mypy

DAS-2065: Adds types
  xarray/core/datatree_ops.py
Due: unittests, mypy

Some test cleanup
  xarray/tests/test_coding_strings.py
  xarray/tests/test_indexing.py
Due: mypy

Add argument check_dims to assert_allclose to allow transposed inputs
  xarray/testing/assertions.py
  xarray/tests/test_assertions.py
Due: unittests, mypy

Update whats-new.rst
  doc/whats-new.rst
Due: none

Add `check_dims` argument to assert_equal and assert_identical + tests
  doc/whats-new.rst
  xarray/testing/assertions.py
  xarray/tests/test_assertions.py
Due: unittests, mypy
