Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Add a test matching #11098
  xarray/tests/__init__.py
  xarray/tests/test_indexing.py
Due: mypy

Update what's new
  doc/whats-new.rst
Due: none

Coerce `pd.StringDtype` to `np.dtypes.StringDType` (#11102)
  doc/whats-new.rst
  xarray/core/indexing.py
  xarray/tests/__init__.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

Optimize mask_and_scale decoder.
  pyproject.toml
  xarray/coding/variables.py
Due: unittests, mypy

MAINT: Update pixi pin to v0.63.2
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

MAINT: Update pixi pin to v0.63.2 (#11106)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

Add test for `na_object`
  xarray/tests/test_duck_array_ops.py
Due: mypy

Handle `na_object`
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Fix whitespace in docstrings
  xarray/structure/combine.py
Due: unittests, mypy

Use 'list of str' consistently in docstrings
  xarray/structure/combine.py
  xarray/structure/concat.py
Due: unittests, mypy

Zarr >= 3
  doc/whats-new.rst
  pixi.toml
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: mypy

SPEC-0 compliance
  doc/whats-new.rst
  pixi.toml
  pyproject.toml
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_rolling.py
  xarray/tests/test_variable.py
Due: mypy

numpy>=2
  pyproject.toml
Due: none

ignore Zarr warnings
  pyproject.toml
Due: none

Revert "numpy>=2"
  pyproject.toml
Due: none

Use array instead of asarray for numpy<2 compat
  xarray/coding/variables.py
Due: unittests, mypy

DOCS: Update contributing instructions with note on pixi version
  doc/contribute/contributing.rst
Due: none

formatting
  doc/contribute/contributing.rst
Due: none

DOCS: Update contributing instructions with note on pixi version (#11108)
  doc/contribute/contributing.rst
Due: none

Fix skipif with parametrize
  xarray/tests/test_duck_array_ops.py
Due: mypy

Use `StringDType` when reading from zarr string variables (#11097)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_backends.py
  xarray/tests/test_duck_array_ops.py
Due: unittests, mypy

Optimize CFMaskScale decoder. (#11105)
  pyproject.toml
  xarray/coding/variables.py
Due: unittests, mypy

Ensure netcdf4 is locked while closing (#10788)
  xarray/backends/file_manager.py
  xarray/backends/netCDF4_.py
Due: unittests, mypy

cleanup
  xarray/tests/test_nd_point_index.py
  xarray/tests/test_nd_point_index_missing_scipy.py
Due: mypy

Prep for new combine kwargs: improve combine docstrings, tidy up tests (#11080)
  xarray/backends/api.py
  xarray/structure/combine.py
  xarray/structure/concat.py
  xarray/tests/test_concat.py
  xarray/tests/test_dask.py
  xarray/tests/test_merge.py
  xarray/tests/test_units.py
Due: unittests, mypy

Improve error message when scipy is missing for NDPointIndex (#11085)
  xarray/indexes/nd_point_index.py
  xarray/tests/test_nd_point_index.py
Due: unittests, mypy

Prep whats-new for v2026.01.0 release
  HOW_TO_RELEASE.md
  doc/whats-new.rst
Due: none

tweak
  doc/whats-new.rst
Due: none

more cleanup
  doc/whats-new.rst
Due: none

Add missing entries and fix rST formatting in whats-new
  doc/whats-new.rst
Due: none

Update whats-new for v2026.01.0 release (#11109)
  HOW_TO_RELEASE.md
  doc/whats-new.rst
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
