Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Update xarray/namedarray/dtypes.py
  xarray/namedarray/dtypes.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/namedarray/dtypes.py
Due: unittests, mypy

fix missing imports
  xarray/namedarray/dtypes.py
Due: unittests, mypy

update typing
  xarray/namedarray/dtypes.py
Due: unittests, mypy

fix return types
  xarray/namedarray/dtypes.py
Due: unittests, mypy

update pytest config and un-xfail some tests (#8246)
  pyproject.toml
  xarray/tests/test_backends.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_options.py
  xarray/tests/test_rolling.py
  xarray/tests/test_sparse.py
  xarray/tests/test_units.py
  xarray/tests/test_variable.py
Due: mypy

Update utils.py
  xarray/namedarray/utils.py
Due: unittests, mypy

Update core.py
  xarray/namedarray/core.py
Due: unittests, mypy

Update test_namedarray.py
  xarray/tests/test_namedarray.py
Due: mypy

Accept `lambda` for `other` param
  doc/whats-new.rst
  xarray/core/common.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

Mandate kwargs on `to_zarr`
  xarray/backends/api.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Add a `.drop_attrs` method
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Accept `lambda` for `other` param (#8256)
  doc/whats-new.rst
  xarray/core/common.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

Update pyproject.toml
  pyproject.toml
Due: none

Update xarray/namedarray/utils.py
  xarray/namedarray/utils.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
