Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

promote release-notes to navbar, create seperate social media section
  doc/conf.py
  doc/contribute/developers-meeting.rst
  doc/get-help/help-diagram.rst
  doc/get-help/socials.rst
  doc/index.rst
  doc/whats-new.rst
Due: none

Avoid stacking when grouping by chunked array
  doc/whats-new.rst
  xarray/core/groupby.py
Due: unittests, mypy

GroupBy: Finish eagerly_compute_group deprecation
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Fix mypy
  xarray/tests/test_dataarray.py
Due: mypy

Fix pydap min versions CI
  ci/minimum_versions.py
  ci/requirements/min-all-deps.yml
Due: none

Fix mypy
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

add test
  xarray/tests/test_computation.py
Due: mypy

Fix Zarr tests
  xarray/tests/test_backends.py
Due: mypy

Silence some warnings
  pyproject.toml
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_variable.py
Due: mypy

Fix mypy, min-versions CI, xfail Zarr tests (#10255)
  ci/minimum_versions.py
  ci/requirements/min-all-deps.yml
  pyproject.toml
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_variable.py
Due: mypy

fix mypy
  xarray/core/groupby.py
Due: unittests, mypy

Switch documentation to pydata-sphinx-theme (#8708)
  ci/requirements/doc.yml
  doc/_static/style.css
  doc/api.rst
  doc/conf.py
  doc/contribute/contributing.rst
  doc/contribute/developers-meeting.rst
  doc/contribute/index.rst
  doc/examples/ERA5-GRIB-example.ipynb
  doc/examples/monthly_means_output.png
  doc/examples/weather-data.ipynb
  doc/gallery.rst
  doc/get-help/faq.rst
  doc/get-help/help-diagram.rst
  doc/get-help/howdoi.rst
  doc/get-help/socials.rst
  doc/getting-started-guide/index.rst
  doc/getting-started-guide/quick-overview.rst
  doc/getting-started-guide/tutorials-and-videos.rst
  doc/index.rst
  doc/user-guide/ecosystem.rst
  doc/user-guide/index.rst
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
Due: unittests, mypy

fix doctest
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Update whats-new
  doc/whats-new.rst
Due: none

Support extension array indexes (#9671)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/extension_array.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/namedarray/core.py
  xarray/plot/dataarray_plot.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_pandas_to_xarray.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Fix CI
  xarray/structure/alignment.py
  xarray/structure/merge.py
Due: unittests, mypy

Fix reduction by subset of grouper dimensions
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

BinGrouper: Support setting labels when provided with IntervalIndex
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

update whats new
  doc/whats-new.rst
Due: none

fix doctests (custom exception class path)
  xarray/structure/alignment.py
  xarray/structure/merge.py
Due: unittests, mypy

ignore type
  xarray/tests/test_groupby.py
Due: mypy

Update how-to-add-new-backend.rst (#10240)
  doc/internals/how-to-add-new-backend.rst
Due: none

Small edits
  xarray/core/groupby.py
Due: unittests, mypy

Add xarray-lmfit extension for curve fitting to ecosystem documentation
  doc/user-guide/ecosystem.rst
Due: none

(chore): add relnote
  doc/whats-new.rst
Due: none

(fix): recursion on `getattr`
  xarray/core/extension_array.py
Due: unittests, mypy

(refactor): remove unnecessary explicit methods
  xarray/core/extension_array.py
Due: unittests, mypy

add return_scalar=False as __array_wrap__ kwarg
  xarray/core/dataarray.py
  xarray/core/variable.py
Due: unittests, mypy

fix test
  xarray/tests/test_computation.py
Due: mypy

Improve alignment checks (#10251)
  doc/api.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/structure/alignment.py
  xarray/structure/merge.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Avoid stacking when grouping by chunked array (#10254)
  doc/whats-new.rst
  xarray/core/groupby.py
Due: unittests, mypy

run pre-commit
  xarray/core/dataarray.py
Due: unittests, mypy

BinGrouper: Support setting labels when provided with IntervalIndex (#10259)
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
