Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

.
  doc/user-guide/terminology.rst
Due: none

add appendix
  design_notes/xarray_lite_design_doc.md
Due: none

update API surface
  design_notes/xarray_lite_design_doc.md
Due: none

[skip-ci] add references/links
  design_notes/xarray_lite_design_doc.md
Due: none

[skip-ci] update doc
  design_notes/xarray_lite_design_doc.md
Due: none

also directly check that `Variable.unstack` does not raise warnings
  xarray/tests/test_variable.py
Due: mypy

Update design_notes/xarray_lite_design_doc.md
  design_notes/xarray_lite_design_doc.md
Due: none

[skip-ci] update name
  design_notes/named_array_design_doc.md
Due: none

fix the unstack test
  xarray/tests/test_variable.py
Due: mypy

initial prototype for NamedArray
  xarray/core/variable.py
  xarray/named_array/__init__.py
  xarray/named_array/core.py
Due: unittests, mypy

move NDArrayMixin and NdimSizeLenMixin inside named_array
  xarray/backends/common.py
  xarray/core/indexing.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/named_array/core.py
  xarray/named_array/utils.py
  xarray/tests/__init__.py
Due: unittests, mypy

vendor is_duck_dask_array
  xarray/named_array/core.py
  xarray/named_array/utils.py
Due: unittests, mypy

vendor Frozen object
  xarray/named_array/core.py
  xarray/named_array/utils.py
Due: unittests, mypy

update import
  xarray/tests/test_variable.py
Due: mypy

move _default sentinel value
  xarray/core/alignment.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/named_array/core.py
  xarray/named_array/utils.py
Due: unittests, mypy

generic warning implicitly wrap a pd.MultiIndex
  xarray/core/coordinates.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Update doc/user-guide/terminology.rst
  doc/user-guide/terminology.rst
Due: none

[skip-ci] Update design_notes/named_array_design_doc.md
  design_notes/named_array_design_doc.md
Due: none

add design document for "named-array" (#8073)
  design_notes/named_array_design_doc.md
Due: none

rename subpackage to namedarray per @TomNicholas suggestion
  xarray/backends/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/namedarray/__init__.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
  xarray/tests/__init__.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Add 2023.08.0 whats-new
  doc/whats-new.rst
Due: none

unpin `numpy` (#8061)
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  xarray/core/variable.py
  xarray/tests/test_coding_strings.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_groupby.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Remove NdimSizeLenMixin
  xarray/backends/common.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
Due: unittests, mypy

fix typing
  xarray/namedarray/core.py
Due: unittests, mypy

add annotations
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
Due: unittests, mypy

fix some mypy errors
  xarray/core/rolling.py
Due: unittests, mypy

improve typing of DataArray and Dataset reductions
  xarray/core/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Remove NDArrayMixin
  xarray/core/indexing.py
  xarray/namedarray/utils.py
  xarray/tests/__init__.py
  xarray/tests/test_variable.py
Due: unittests, mypy

import Self from xarray.core.types
  xarray/core/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

fix typing errors
  xarray/core/computation.py
Due: unittests, mypy

fix remaining mypy error
  xarray/core/dataset.py
Due: unittests, mypy

Add regression test for Dataset (#7030)
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: mypy

Document drop_variables in open_mfdataset
  xarray/backends/api.py
Due: unittests, mypy

FIX: handle NaT values in dt-accessor
  xarray/core/accessor_dt.py
Due: unittests, mypy

FIX: only use isnat-check for datetimes not cftime
  xarray/core/accessor_dt.py
Due: unittests, mypy
