Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Ask for show_versions(markdown=True) in the bug report template
  .github/ISSUE_TEMPLATE/bugreport.yml
Due: none

fix: defer pd.to_datetime() calls in test parametrize to avoid nightly segfault (#11407)
  xarray/tests/test_coding_times.py
Due: mypy

fix: guard against None version in module_available (#11379)
  doc/whats-new.rst
  xarray/namedarray/utils.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Improve the HTML repr colors, layout and add toggles for all items
  doc/whats-new.rst
  xarray/core/formatting_html.py
  xarray/static/css/style.css
  xarray/tests/test_formatting_html.py
Due: unittests, mypy

Support path-like keys in DataTree.__contains__
  doc/user-guide/hierarchical-data.md
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Add PR number to whats-new entries
  doc/whats-new.rst
Due: none

Fix VS Code dark mode detection in HTML representation (#11284)
  doc/whats-new.rst
  xarray/core/formatting_html.py
  xarray/static/css/style.css
  xarray/tests/test_formatting_html.py
Due: unittests, mypy

Re-enable the nightly version of numcodecs (#11695)
  ci/nightly/pixi.toml
Due: none

Clean up test coverage: omit generators, drop dead dtypes copy, test tutorial offline
  doc/whats-new.rst
  pyproject.toml
  xarray/namedarray/dtypes.py
  xarray/tests/__init__.py
  xarray/tests/test_tutorial.py
Due: unittests, mypy

Add PR number to whats-new
  doc/whats-new.rst
Due: none

Close tutorial files before removing them with cache=False
  doc/whats-new.rst
  xarray/tests/test_tutorial.py
  xarray/tutorial.py
Due: unittests, mypy

Update idxmin/idxmax tests for keep_attrs default and FutureWarning
  xarray/tests/test_dataarray.py
Due: mypy

Document and type idxmin/idxmax with multiple dims, handle Dataset
  doc/whats-new.rst
  xarray/computation/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Document idxmin/idxmax with skipna=False and NaN
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Keep the coordinate attrs in the results of idxmin/idxmax
  doc/whats-new.rst
  xarray/computation/computation.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

Document that idxmin/idxmax keep the coordinate attrs
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Enable the skipna=False 3D idxmin/idxmax tests and parametrize them
  xarray/tests/test_dataarray.py
Due: mypy

Clean up test coverage: omit generators, drop dead dtypes copy, test tutorial offline (#11703)
  doc/whats-new.rst
  pyproject.toml
  xarray/namedarray/dtypes.py
  xarray/tests/__init__.py
  xarray/tests/test_tutorial.py
  xarray/tutorial.py
Due: unittests, mypy

Check all-NaN slices in the 3D idxmin/idxmax tests instead of skipping
  xarray/tests/test_dataarray.py
Due: mypy

Loop instead of recursing in Dataset.diff
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Return False instead of raising for invalid paths in DataTree.__contains__
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Treat a double leading slash in DataTree paths like a single one
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_datatree.py
  xarray/tests/test_treenode.py
Due: unittests, mypy
