Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Update ci-additional.yaml
  .github/workflows/ci-additional.yaml
Due: none

Add numba to nightly upstream
  ci/install-upstream-wheels.sh
Due: none

Switch to T_DataArray in .coords (#7285)
  xarray/core/coordinates.py
  xarray/core/dataarray.py
Due: unittests, mypy

typing fixes
  xarray/plot/dataarray_plot.py
  xarray/plot/facetgrid.py
Due: unittests, mypy

Reduce number of tests
  xarray/tests/test_cftimeindex_resample.py
Due: mypy

Address initial review comments
  xarray/core/common.py
  xarray/core/resample_cftime.py
  xarray/tests/test_cftimeindex_resample.py
Due: unittests, mypy

Add more typing information
  xarray/core/resample_cftime.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Make cftime import lazy
  xarray/core/resample_cftime.py
Due: unittests, mypy

Fix module_available import and test
  xarray/core/resample_cftime.py
  xarray/tests/test_cftimeindex_resample.py
Due: unittests, mypy

Remove old origin argument
  xarray/tests/test_cftimeindex_resample.py
Due: mypy

fix polyval overloads
  xarray/core/computation.py
Due: unittests, mypy

add to whatsnew
  doc/whats-new.rst
Due: none

Only guess x-axis.
  xarray/plot/utils.py
Due: unittests, mypy

fix tests
  xarray/tests/test_plot.py
Due: mypy

Use plt.rc_context for default styles
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

Add tests
  xarray/tests/test_plot.py
Due: mypy

Explain tests
  xarray/tests/test_plot.py
Due: mypy

Allow type checking dask
  pyproject.toml
Due: none

test removing numpy
  pyproject.toml
Due: none

remove ignore for pycompat
  pyproject.toml
Due: none

fix pycompat typing error
  xarray/core/pycompat.py
Due: unittests, mypy

remove double ellipsis typehints
  xarray/core/_aggregations.py
Due: unittests, mypy

fix gen aggrs
  xarray/util/generate_aggregations.py
Due: unittests, mypy

remove more double ellipsis typehints
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/core/variable.py
  xarray/core/weighted.py
Due: unittests, mypy

fix flake8 config
  setup.cfg
Due: none

Add type annotations for resample_cftime.py
  xarray/core/resample_cftime.py
  xarray/core/types.py
Due: unittests, mypy

Add None as a possibility for closed and label
  xarray/core/resample_cftime.py
Due: unittests, mypy

Add what's new entry
  doc/whats-new.rst
Due: none

Add missing type annotation
  xarray/core/resample_cftime.py
Due: unittests, mypy

Delete added line
  xarray/core/types.py
Due: unittests, mypy

Fix typing errors
  xarray/coding/cftime_offsets.py
  xarray/core/resample_cftime.py
  xarray/core/types.py
Due: unittests, mypy

Add comment and test for as_timedelta stub
  xarray/coding/cftime_offsets.py
  xarray/tests/test_cftime_offsets.py
Due: unittests, mypy

Remove old code
  xarray/core/types.py
Due: unittests, mypy

added function that allows for data values to be returned while saving on memeory usage by deleting the original Xarray.DataArray
  xarray/core/dataarray.py
Due: unittests, mypy

improved preformance, .values is called after check
  xarray/core/dataarray.py
Due: unittests, mypy

remove pint
  pyproject.toml
Due: none

test removing pandas
  pyproject.toml
Due: none

Revert "test removing pandas"
  pyproject.toml
Due: none

Check that args are prioritized
  xarray/tests/test_plot.py
Due: mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
