Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

add todo to change default padding for missing variables in constant_values
  xarray/core/dataset.py
Due: unittests, mypy

DAS-2155: Adds open_groups to the API and docs
  doc/api.rst
  xarray/__init__.py
Due: unittests, mypy

More tests
  xarray/tests/test_groupby.py
Due: mypy

Refactoring GroupBy
  xarray/core/coordinates.py
  xarray/core/groupby.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

bail on pandas 2.0
  xarray/tests/__init__.py
  xarray/tests/test_groupby.py
Due: mypy

refactor GroupBy internals (#9389)
  xarray/core/coordinates.py
  xarray/core/groupby.py
  xarray/groupers.py
  xarray/tests/__init__.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

GroupBy(multiple groupers)
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Add example to docs
  doc/user-guide/groupby.rst
Due: none

fix docs
  doc/user-guide/groupby.rst
Due: none

More docs
  doc/user-guide/groupby.rst
Due: none

fix doc
  doc/user-guide/groupby.rst
Due: none

re instate `pydap` to CI
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

fix doc again
  doc/user-guide/groupby.rst
Due: none

include description on `what is new`
  doc/whats-new.rst
Due: none

re-instate testing pydap
  ci/install-upstream-wheels.sh
Due: none

move whats new docs entry from `bug fixes` to `internal changes`
  doc/whats-new.rst
Due: none

add changes to whats new
  doc/whats-new.rst
Due: none

fix cumsum
  xarray/namedarray/_array_api/_statistical_functions.py
Due: unittests, mypy

Update _searching_functions.py
  xarray/namedarray/_array_api/_searching_functions.py
Due: unittests, mypy

Extend padding functionalities (#9353)
  doc/conf.py
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

handle scalars
  xarray/namedarray/core.py
Due: unittests, mypy

Fix bug.
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Add whats-new note
  doc/whats-new.rst
Due: none

edit
  doc/whats-new.rst
Due: none

pyarrow dependency added to doc environment
  ci/requirements/doc.yml
Due: none

Error on multi-variable groupby with MultiIndex
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Update doc/user-guide/groupby.rst
  doc/user-guide/groupby.rst
Due: none

pyarrow dependency added to doc environment (#9394)
  ci/requirements/doc.yml
Due: none

Update conf.py
  doc/conf.py
Due: none

`numpy 2` compatibility in the `pydap` backend (#9391)
  ci/install-upstream-wheels.sh
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  doc/whats-new.rst
Due: none

[skip-ci] Try speeding up docs build
  ci/requirements/doc.yml
  doc/conf.py
Due: none

bump to 3.12
  ci/requirements/doc.yml
Due: none

[skip-ci] latest mamba
  .readthedocs.yaml
Due: none

Adds copy parameter to __array__ for numpy 2.0
  xarray/core/common.py
Due: unittests, mypy

Fails test when a warning is raised for calling np.array() on an xr.DataArray
  xarray/tests/test_dataarray.py
Due: mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
