Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

check that weighted ops propagate attrs on coords
  xarray/tests/test_weighted.py
Due: mypy

propagate attrs on coords in `map` if keep_attrs
  xarray/core/dataset.py
Due: unittests, mypy

force `sparse>=0.15` (for benchmarks)
  ci/requirements/environment.yml
Due: none

test error comment resolves
  xarray/tests/test_dataset.py
Due: mypy

precommit
  xarray/tests/test_dataset.py
Due: mypy

test sparse>0.15 in the asv matrix
  asv_bench/asv.conf.json
Due: none

Fix typo found by codespell (#10601)
  doc/internals/time-coding.rst
Due: none

directly check that `map` propagates attrs on coords
  xarray/tests/test_dataset.py
Due: mypy

change `ogp_custom_meta_tags` to a tuple
  doc/conf.py
Due: none

change the type of `ogp_custom_meta_tags` to `tuple` (#10603)
  doc/conf.py
Due: none

use method directly when possible
  xarray/tests/test_async.py
Due: mypy

remove repeated API docs from bad merge
  doc/api.rst
Due: none

Update what's new
  doc/whats-new.rst
Due: none

fix bad merge in release note
  doc/whats-new.rst
Due: none

fix other bad merge in whatsnew
  doc/whats-new.rst
Due: none

remove prints
  xarray/backends/zarr.py
  xarray/core/indexing.py
  xarray/namedarray/pycompat.py
Due: unittests, mypy

remove last print statement
  xarray/namedarray/pycompat.py
Due: unittests, mypy

test async basic indexing raises informative error before zarr-python v3.0.0
  xarray/backends/zarr.py
  xarray/tests/test_async.py
Due: unittests, mypy

test correct error message is raised for each indexing case
  xarray/backends/zarr.py
  xarray/tests/test_async.py
Due: unittests, mypy

ensure each test runs on the earliest version of xaarr it can
  xarray/tests/test_async.py
Due: mypy

remove pointless repeated getitem
  xarray/tests/test_async.py
Due: mypy

set N_LAZY_VARS correctly in test
  xarray/tests/test_async.py
Due: mypy

remove unused import
  xarray/tests/test_async.py
Due: mypy

rename flag to make it more clear its only for orthogonal and vectorized indexing
  xarray/tests/__init__.py
  xarray/tests/test_async.py
Due: mypy

removing new property instead using data_vars and fixing corresponding test
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

removing .is_empty_data entry
  doc/whats-new.rst
Due: none

updating github url
  doc/whats-new.rst
Due: none

fixing test accordingly
  xarray/tests/test_datatree.py
Due: mypy

fixing doctest
  xarray/core/datatree.py
Due: unittests, mypy

replacing doctest
  xarray/core/datatree.py
Due: unittests, mypy

removing empty line
  xarray/core/datatree.py
Due: unittests, mypy

Update xarray/core/datatree.py
  xarray/core/datatree.py
Due: unittests, mypy
