Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Add whats-new
  doc/whats-new.rst
Due: none

[skip-ci] Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

Attribute-like access and ipython autocomplete https://github.com/xarray-contrib/datatree/pull/98
  xarray/datatree_/datatree/common.py
  xarray/datatree_/datatree/datatree.py
  xarray/datatree_/datatree/tests/test_datatree.py
  xarray/datatree_/docs/source/api.rst
  xarray/datatree_/docs/source/hierarchical-data.rst
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

Mention flox in docs (#7454)
  doc/user-guide/dask.rst
  doc/user-guide/groupby.rst
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Follow keep_attrs in Dataset binary ops (#7391)
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Avoid in-memory broadcasting when converting to_dask_dataframe (#7472)
  doc/whats-new.rst
  xarray/core/dataset.py
Due: unittests, mypy

bump to min version of 3.9
  pyproject.toml
Due: none

update ruff
  .pre-commit-config.yaml
Due: none

update ignores
  pyproject.toml
Due: none

rename function to a better name.
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

remove isort comment
  .pre-commit-config.yaml
  xarray/tests/test_distributed.py
Due: mypy

clarification for thresh arg of dataset.dropna()
  xarray/core/dataset.py
Due: unittests, mypy

Deprecate python 3.8 https://github.com/xarray-contrib/datatree/pull/214
  xarray/datatree_/.github/workflows/main.yaml
  xarray/datatree_/.github/workflows/pypipublish.yaml
  xarray/datatree_/ci/doc.yml
  xarray/datatree_/ci/environment.yml
  xarray/datatree_/docs/source/whats-new.rst
  xarray/datatree_/setup.cfg
Due: unittests, mypy

Implemented groupby tests as described by feedback
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Implemented groupby tests as described by feedback
  xarray/tests/test_groupby.py
Due: mypy

tempoarily remove iris from ci, trying to reproduce #7079
  ci/requirements/environment-py311.yml
  ci/requirements/environment.yml
Due: none

Remove Dask single-threaded setting in tests
  xarray/tests/__init__.py
Due: mypy

Fix isort pre-commit install
  .pre-commit-config.yaml
Due: none

Lint with ruff (#7458)
  .pre-commit-config.yaml
  ci/min_deps_check.py
  pyproject.toml
  setup.cfg
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_distributed.py
  xarray/tests/test_ufuncs.py
Due: unittests, mypy

Update contains_cftime_datetimes to avoid loading entire variable array
  xarray/core/common.py
Due: unittests, mypy

Update whats-new.rst
  doc/whats-new.rst
Due: none

add parallel=True test when using dask cluster
  xarray/tests/test_distributed.py
Due: mypy

lint
  xarray/tests/test_distributed.py
Due: mypy

add local scheduler test
  xarray/tests/test_distributed.py
Due: mypy

deprecate open_zarr
  doc/api.rst
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Update xarray/backends/zarr.py
  xarray/backends/zarr.py
Due: unittests, mypy

pin netcdf version >= 1.6.1
  ci/requirements/environment.yml
Due: none

Remove Dask single-threaded setting in tests (#7489)
  xarray/tests/__init__.py
Due: mypy

Convert arrays to variable instead for better control
  xarray/core/accessor_dt.py
  xarray/core/common.py
Due: unittests, mypy

fix mypy?
  xarray/core/common.py
Due: unittests, mypy

add test that DataTree class can be imported
  xarray/tests/__init__.py
  xarray/tests/test_datatree.py
Due: mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
