Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

add NativeEnumCoder, adapt tests
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/tests/test_backends.py
Due: unittests, mypy

remove test-file
  toto.nc
Due: none

restructure datatype extraction
  xarray/backends/netCDF4_.py
Due: unittests, mypy

use invalid_netcdf for h5netcdf tests
  xarray/tests/test_backends.py
Due: mypy

FIX: encoding typing
  xarray/backends/netCDF4_.py
Due: unittests, mypy

enable a special 3.12 ci job
  .github/workflows/ci.yaml
Due: none

add the special environment files
  ci/requirements/environment-3.12.yml
  ci/requirements/environment-windows-3.12.yml
Due: none

use `module_available` instead of eagerly importing
  xarray/core/duck_array_ops.py
Due: unittests, mypy

add a `minversion` kwarg to `module_available`
  xarray/core/utils.py
Due: unittests, mypy

use `module_available` in `nputils` as well
  xarray/core/nputils.py
Due: unittests, mypy

update the trove classifiers
  pyproject.toml
Due: none

fix empty cftimindex
  xarray/coding/cftimeindex.py
Due: unittests, mypy

add tests
  xarray/tests/test_cftimeindex.py
Due: mypy

none not a string in repr
  xarray/coding/cftimeindex.py
Due: unittests, mypy

make it explicit
  xarray/coding/cftimeindex.py
Due: unittests, mypy

Update xarray/backends/netCDF4_.py
  xarray/backends/netCDF4_.py
Due: unittests, mypy

Support non-str Hashables in DataArray (#8559)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/__init__.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_hashable.py
Due: unittests, mypy

improve typing of locks
  xarray/backends/h5netcdf_.py
  xarray/backends/locks.py
  xarray/core/types.py
Due: unittests, mypy

remove unneccessary ImportError catches in type checking
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

raise Error if unsupported kwarg is passed
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/zarr.py
Due: unittests, mypy

DIms_type
  xarray/core/computation.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/tests/test_interp.py
  xarray/tests/test_utils.py
Due: unittests, mypy

partial revert
  xarray/core/types.py
  xarray/core/utils.py
  xarray/tests/test_utils.py
Due: unittests, mypy

fix
  xarray/core/computation.py
  xarray/core/types.py
Due: unittests, mypy

fix
  xarray/core/utils.py
Due: unittests, mypy

Upgrade mypy
  .github/workflows/ci-additional.yaml
Due: none

once more with passion
  .github/workflows/ci-additional.yaml
Due: none

explicitely test dtype of date fields
  xarray/tests/test_cftimeindex.py
Due: mypy

set date_field dtype
  xarray/coding/cftimeindex.py
Due: unittests, mypy

use repr fstring to avoid conditional
  xarray/coding/cftimeindex.py
Due: unittests, mypy

whats new entry
  doc/whats-new.rst
Due: none

Apply suggestions from code review
  xarray/coding/cftimeindex.py
  xarray/tests/test_cftimeindex.py
Due: unittests, mypy

fix and test empty CFTimeIndex (#8600)
  doc/whats-new.rst
  xarray/coding/cftimeindex.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Fix ruff config flagged by repo review
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Clean up Dims type annotation (#8606)
  .github/workflows/ci-additional.yaml
  xarray/core/computation.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/tests/test_interp.py
  xarray/tests/test_utils.py
Due: unittests, mypy

Fix ruff config flagged by repo review (#8611)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

ADD: objects can override is_dict_like()
  xarray/core/utils.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
