Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

don't specify `environment-file: false`
  .github/workflows/ci-additional.yaml
Due: none

store a reference to the acquire function on the object
  xarray/backends/file_manager.py
Due: unittests, mypy

whats-new.rst
  doc/whats-new.rst
Due: none

make `lock_acquire` a static method
  xarray/backends/file_manager.py
Due: unittests, mypy

add examples
  xarray/core/dataset.py
Due: unittests, mypy

deprecate the `cdms2` conversion methods (#7876)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

fix rst link
  doc/whats-new.rst
Due: none

comment on the existence of the static method `lock_acquire`
  xarray/backends/file_manager.py
Due: unittests, mypy

Update whats-new.rst
  doc/whats-new.rst
Due: none

Implement multidimensional initial guess and bounds for `curvefit` (#7821)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

Update xarray/core/concat.py
  xarray/core/concat.py
Due: unittests, mypy

no need to check arrays if cupy isnt even installed
  xarray/core/duck_array_ops.py
Due: unittests, mypy

check for h5py-variant ("vlen") in coding.strings.check_vlen_dtype
  xarray/coding/strings.py
  xarray/tests/test_coding_strings.py
Due: unittests, mypy

add test to check preserving vlen dtype for empty vlen string arrays
  xarray/tests/test_backends.py
Due: mypy

Add cfgrib to doc env
  ci/requirements/doc.yml
Due: none

[skip-ci] Raise for errors in doc build
  doc/conf.py
Due: none

move to `setup-micromamba` (#7878)
  .github/workflows/benchmarks-last-release.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/parse_logs.py
  .github/workflows/upstream-dev-ci.yaml
Due: none

also store a reference to `OPTIONS`
  xarray/backends/file_manager.py
Due: unittests, mypy

Add concat comment
  xarray/core/concat.py
Due: unittests, mypy

minimize diff
  xarray/core/dataset.py
Due: unittests, mypy

revert sketchy
  xarray/core/indexes.py
Due: unittests, mypy

revert storing additional references
  xarray/backends/file_manager.py
Due: unittests, mypy

remove `CachingFileManager.__del__` on interpreter shutdown
  xarray/backends/file_manager.py
Due: unittests, mypy

retire the TestPyPI workflow
  .github/workflows/testpypi-release.yaml
Due: none

Improve concat performance (#7824)
  asv_bench/benchmarks/combine.py
  doc/whats-new.rst
  xarray/core/combine.py
  xarray/core/common.py
  xarray/core/concat.py
  xarray/core/dataset.py
  xarray/core/dtypes.py
  xarray/core/duck_array_ops.py
  xarray/core/indexes.py
  xarray/core/merge.py
  xarray/core/pycompat.py
  xarray/core/variable.py
Due: unittests, mypy

rephrase the changelog [skip-ci]
  doc/whats-new.rst
Due: none

changelog
  doc/whats-new.rst
Due: none

add issue / pr numbers to the nightly wheels changelog entry [skip-ci]
  doc/whats-new.rst
Due: none

Add allow_failures flag to Dataset.curve_fit
  xarray/core/dataset.py
Due: unittests, mypy

Reword docstring
  xarray/core/dataset.py
Due: unittests, mypy

Add allow_failures flag also to DataArray
  xarray/core/dataarray.py
Due: unittests, mypy

Add unit test for curvefit with allow_failures
  xarray/tests/test_dataarray.py
Due: mypy

Update whats-new
  doc/whats-new.rst
Due: none

Add PR to whats-new
  doc/whats-new.rst
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
