Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

add indexes argument to Dataset.__init__
  xarray/core/dataset.py
  xarray/core/merge.py
Due: unittests, mypy

make indexes arg public for DataArray.__init__
  xarray/core/dataarray.py
Due: unittests, mypy

consistent step name spelling [skip-ci]
  .github/workflows/upstream-dev-ci.yaml
Due: none

use the moving release tag of ci-trigger (#7213)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

Rename FacetGrid.axes to FacetGrid.axs
  xarray/tests/test_plot.py
Due: mypy

Explicitly remove grids for pcolormesh
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

Update test_units.py
  xarray/tests/test_units.py
Due: mypy

Add numeric_only=True
  xarray/core/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

[test-upstream] add separate test for second-precision TimedeltaIndex
  xarray/tests/test_variable.py
Due: mypy

Assert nanosecond dtype after conversion in all cases
  xarray/tests/test_variable.py
Due: mypy

[test-upstream] Emit a warning when converting to nanosecond precision
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/__init__.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/tests/test_variable.py
Due: mypy

Remove debugging slow assert statement
  xarray/core/alignment.py
Due: unittests, mypy

Actually make the fast code path return early
  xarray/core/alignment.py
Due: unittests, mypy

Totally avoid any kind of copy
  xarray/core/alignment.py
Due: unittests, mypy

Add a benchmark
  asv_bench/benchmarks/dataset_creation.py
Due: none

Revert "Totally avoid any kind of copy"
  xarray/core/alignment.py
Due: unittests, mypy

Update asv_bench/benchmarks/dataset_creation.py
  asv_bench/benchmarks/dataset_creation.py
Due: none

use the new action to create an issue from the output of reportlog (#7212)
  .github/workflows/upstream-dev-ci.yaml
Due: none

Indexes constructor updates
  xarray/core/indexes.py
  xarray/core/merge.py
Due: unittests, mypy

use the generic Mapping[Any, Index] for indexes
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/merge.py
Due: unittests, mypy

add wrap_pandas_multiindex function
  xarray/core/indexes.py
  xarray/indexes/__init__.py
Due: unittests, mypy

do not create default indexes when not desired
  xarray/core/merge.py
Due: unittests, mypy

fix Dataset dimensions
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Rework the benchmark
  asv_bench/benchmarks/dataset_creation.py
Due: none

Add a benchmark for dataset element insertion
  asv_bench/benchmarks/dataset_creation.py
Due: none

lint before the bot
  asv_bench/benchmarks/dataset_creation.py
Due: none

implement option 1: separate with just newlines
  xarray/core/formatting.py
Due: unittests, mypy

implement option 3: light box components in front of the coord names
  xarray/core/formatting.py
Due: unittests, mypy

implement option 4: light box components after the coord names
  xarray/core/formatting.py
Due: unittests, mypy

implement option 2: list-like presentation of the indexes
  xarray/core/formatting.py
Due: unittests, mypy

fix the repr of `Indexes`
  xarray/core/indexes.py
Due: unittests, mypy

only add combine markers for xarray indexes
  xarray/core/formatting.py
Due: unittests, mypy

make clearer that sortby() do not run inplace
  xarray/core/dataset.py
Due: unittests, mypy

copy the coordinate variables of passed indexes
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

make clearer that sortby() do not run inplace (#7226)
  xarray/core/dataset.py
Due: unittests, mypy
