Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

follow numpys example
  xarray/namedarray/core.py
Due: unittests, mypy

specify exact scalartype
  xarray/tests/test_namedarray.py
Due: mypy

is_hollow method https://github.com/xarray-contrib/datatree/pull/272
  xarray/datatree_/datatree/datatree.py
  xarray/datatree_/datatree/tests/test_datatree.py
  xarray/datatree_/docs/source/api.rst
  xarray/datatree_/docs/source/hierarchical-data.rst
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

Use `opt_einsum` by default if installed.
  ci/install-upstream-wheels.sh
  ci/requirements/environment.yml
  doc/whats-new.rst
  pyproject.toml
  xarray/core/computation.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

docstring update
  doc/conf.py
  xarray/core/computation.py
Due: unittests, mypy

_
  xarray/core/computation.py
Due: unittests, mypy

Update xarray/core/computation.py
  xarray/core/computation.py
Due: unittests, mypy

fix `NamedArray.imag` and `NamedArray.real` typing info (#8369)
  xarray/core/variable.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Fix docs?
  doc/whats-new.rst
Due: none

update utils
  xarray/namedarray/parallelcompat.py
  xarray/namedarray/pycompat.py
  xarray/namedarray/utils.py
Due: unittests, mypy

Add use_opt_einsum option.
  xarray/core/duck_array_ops.py
  xarray/core/options.py
  xarray/tests/test_units.py
Due: unittests, mypy

mypy ignore
  pyproject.toml
Due: none

one more test ignore
  xarray/tests/test_units.py
Due: mypy

Disable navigation_with_keys
  doc/conf.py
Due: none

remove intersphinx
  doc/conf.py
Due: none

One more skip
  xarray/tests/test_units.py
Due: mypy

add more checks
  xarray/namedarray/_typing.py
Due: unittests, mypy

fix imports
  doc/internals/chunked-arrays.rst
  xarray/namedarray/core.py
  xarray/namedarray/daskmanager.py
Due: unittests, mypy

fixes and cleanup
  xarray/namedarray/_typing.py
Due: unittests, mypy

more imports fixes
  xarray/coding/times.py
  xarray/conventions.py
  xarray/core/accessor_dt.py
  xarray/core/computation.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/indexing.py
  xarray/core/parallel.py
  xarray/core/rolling.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/namedarray/daskmanager.py
  xarray/namedarray/pycompat.py
Due: unittests, mypy

replace is_duck_array with _arrayfunction_or_api instead
  xarray/core/arithmetic.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/formatting.py
  xarray/core/indexing.py
  xarray/core/nputils.py
  xarray/core/variable.py
  xarray/namedarray/pycompat.py
  xarray/namedarray/utils.py
  xarray/testing.py
Due: unittests, mypy

more typing updates
  xarray/namedarray/daskmanager.py
  xarray/namedarray/parallelcompat.py
  xarray/namedarray/pycompat.py
  xarray/namedarray/utils.py
Due: unittests, mypy

Add chunkedduckarray to _typing (#8376)
  xarray/namedarray/_typing.py
Due: unittests, mypy

Do not intercept left/right keys in HTML docs
  doc/conf.py
Due: none

Fix typos found by codespell
  doc/examples/apply_ufunc_vectorize_1d.ipynb
  doc/user-guide/io.rst
  xarray/backends/common.py
  xarray/core/accessor_dt.py
  xarray/core/computation.py
  xarray/core/groupby.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/namedarray/core.py
  xarray/tests/test_concat.py
  xarray/tests/test_formatting.py
  xarray/tests/test_plot.py
  xarray/util/generate_ops.py
Due: unittests, mypy

Do not intercept left/right keys in HTML docs (#8379)
  doc/conf.py
Due: none

Docs page on interoperability (#7992)
  doc/internals/how-to-create-custom-index.rst
  doc/internals/index.rst
  doc/internals/internal-design.rst
  doc/internals/interoperability.rst
  doc/whats-new.rst
Due: none

Fix typos found by codespell (#8375)
  doc/examples/apply_ufunc_vectorize_1d.ipynb
  doc/user-guide/io.rst
  xarray/backends/common.py
  xarray/core/accessor_dt.py
  xarray/core/computation.py
  xarray/core/groupby.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/namedarray/core.py
  xarray/tests/test_concat.py
  xarray/tests/test_formatting.py
  xarray/tests/test_plot.py
  xarray/util/generate_ops.py
Due: unittests, mypy

more typing
  xarray/backends/common.py
  xarray/namedarray/parallelcompat.py
  xarray/namedarray/pycompat.py
Due: unittests, mypy

fix imports
  xarray/core/duck_array_ops.py
Due: unittests, mypy

revert get_array_namespace
  xarray/core/duck_array_ops.py
Due: unittests, mypy

update generate_ops.py
  xarray/core/arithmetic.py
  xarray/namedarray/_typed_ops.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/util/generate_ops.py
Due: unittests, mypy

add `.set_dims()`, `.transpose()` and `.T` to namedarray
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
  xarray/tests/test_utils.py
Due: unittests, mypy

more typying fixes
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
