Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Handle extension arrays in to_like_array
  xarray/compat/array_api_compat.py
  xarray/computation/computation.py
Due: unittests, mypy

add `coders` arg to `encode_cf_variable` allowing backends to specify the encoders; default of `None` calls new `_default_encode_cf_coders`
  xarray/conventions.py
Due: unittests, mypy

remove `BooleanCoder` from variables written to `zarr`
  xarray/backends/zarr.py
Due: unittests, mypy

add tests validating zarr boolean array handling, and backward compatibility with old arrays encoded with `BooleanCoder`
  xarray/tests/test_backends.py
  xarray/tests/test_conventions.py
Due: mypy

document changes for changelog
  doc/whats-new.rst
Due: none

remove `data` arg from `zarr.create_array` to make compatible with `zarr<3.1,>=3`
  xarray/tests/test_backends.py
Due: mypy

fixes for mypy
  xarray/tests/test_backends.py
Due: mypy

added the decode_times flags to open_dataset, with full tests.
  xarray/backends/api.py
  xarray/coding/times.py
  xarray/core/types.py
  xarray/tests/test_backends_api.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

clean up some docstrings
  xarray/coding/times.py
  xarray/core/types.py
Due: unittests, mypy

fixed type hints Please enter the commit message for your changes. Lines starting
  xarray/conventions.py
Due: unittests, mypy

a couple more type hint fixes.
  xarray/coding/variables.py
Due: unittests, mypy

style: add pre-commit CI autofix commit message
  .pre-commit-config.yaml
Due: none

docs: clarify DataArray coords list description
  doc/user-guide/data-structures.rst
Due: none

docs: Document Index._repr_inline_ in custom-index how-to
  doc/internals/how-to-create-custom-index.rst
  doc/whats-new.rst
Due: none

Fix docs build: use set_xindex API, restore jupyter-execute blocks, fix from_variables signatures
  doc/internals/how-to-create-custom-index.rst
Due: none

exclude 0.68.0 to avoid the broken v7 format for now [skip-rtd]
  pixi.toml
Due: none

temporarily pin pixi in CI
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

version formatting
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

missing propagation of the pixi version [skip-rtd]
  .github/workflows/ci.yaml
Due: none

work around a bug in pixi that disallows custom PyPI servers (#11331)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
  pixi.toml
Due: none

Add __hash__ to core.types.Lock protocol
  xarray/core/types.py
Due: unittests, mypy

Implement hash in `Lock` protocol
  xarray/core/types.py
Due: unittests, mypy

Revert "work around a bug in pixi that disallows custom PyPI servers (#11331)"
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
  pixi.toml
Due: none

exclude the broken version, anyways
  pixi.toml
Due: none

undo the pin on the pixi version (#11334)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

Apply suggestions from code review
  xarray/backends/chunks.py
  xarray/backends/zarr.py
Due: unittests, mypy

Add whats-new entry for CF datetime dtype inference speedup
  doc/whats-new.rst
Due: none

Add tests for metadata-first CF datetime dtype inference
  xarray/tests/test_coding_times.py
Due: mypy

Prefer metadata over store reads in _decode_cf_datetime_dtype
  xarray/coding/times.py
Due: unittests, mypy

Update CF datetime dtype inference tests for narrowed fast path
  xarray/tests/test_coding_times.py
Due: mypy

Address CI review: narrow fast path, drop runtime verification wrapper
  xarray/coding/times.py
Due: unittests, mypy

Refresh _is_overflow_safe_from_metadata docstring
  xarray/coding/times.py
Due: unittests, mypy

Update whats-new entry to match final implementation
  doc/whats-new.rst
Due: none

Replace lazy-backend heuristic with opt-in infer_dtype=metadata
  xarray/coding/times.py
Due: unittests, mypy

Update whats-new entry for infer_dtype=metadata opt-in
  doc/whats-new.rst
Due: none

Replace metadata-fast-path tests with TestInferDtypeOptIn
  xarray/tests/test_coding_times.py
Due: mypy

Inline the decode-error message instead of using a helper
  xarray/coding/times.py
Due: unittests, mypy

BUG: fix scipy backend pickling after multiple opens
  doc/whats-new.rst
  xarray/backends/scipy_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Document Zarr encoding options
  doc/user-guide/io.rst
  xarray/core/dataset.py
Due: unittests, mypy

fix: ensure fill_value for zarr v3 arrays round-trips
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy
