Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

address comments
  xarray/structure/concat.py
Due: unittests, mypy

add whats-new
  doc/whats-new.rst
Due: none

re-enable blackdoc with a newer version of black
  .pre-commit-config.yaml
Due: none

explicit string
  .pre-commit-config.yaml
Due: none

enable `toml` linting
  .pre-commit-config.yaml
Due: none

comment about the version of black
  .pre-commit-config.yaml
Due: none

update hook versions
  .pre-commit-config.yaml
Due: none

`pre-commit` hook maintenance (#10871)
  .pre-commit-config.yaml
  doc/user-guide/io.rst
Due: none

Fix empty indexing (#10870)
  doc/whats-new.rst
  xarray/core/indexing.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Minimize concat memory usage (#10866)
  asv_bench/asv.conf.json
  asv_bench/benchmarks/combine.py
  ci/requirements/environment-benchmark.yml
  doc/whats-new.rst
  xarray/structure/concat.py
Due: unittests, mypy

fix xfail
  xarray/tests/test_backends_datatree.py
Due: mypy

xfail variant
  xarray/tests/test_backends_datatree.py
Due: mypy

DOC: lets -> let's
  doc/user-guide/hierarchical-data.rst
Due: none

DOC: Correct another typo
  doc/examples/apply_ufunc_vectorize_1d.ipynb
Due: none

DOC: Correct typos: lets -> let's (#10874)
  doc/examples/apply_ufunc_vectorize_1d.ipynb
  doc/user-guide/hierarchical-data.rst
Due: none

remove notes pointing to non-existing projects
  doc/roadmap.rst
Due: none

Fix handling of getitem on child nodes
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

allow variable chunk sizes for zarr v3
  xarray/backends/zarr.py
Due: unittests, mypy

change the error message to mention zarr v2
  xarray/backends/zarr.py
Due: unittests, mypy

infer the chunk shape(s) from the zarr v3 metadata
  xarray/backends/zarr.py
Due: unittests, mypy

use version-independent Zenodo DOI
  README.md
Due: none

use version-independent Zenodo DOI (#10881)
  README.md
Due: none

Import h5netcdf.core to use EnumType (#10779)
  xarray/backends/h5netcdf_.py
Due: unittests, mypy

alternative xfails
  xarray/tests/test_backends_datatree.py
Due: mypy

Fix typing issue with numpy 2.3.4
  xarray/namedarray/dtypes.py
Due: unittests, mypy

Fix typing issue with numpy 2.3.4 (#10882)
  xarray/namedarray/dtypes.py
Due: unittests, mypy

xfail pydap datatree tests (#10869)
  xarray/tests/test_backends_datatree.py
Due: mypy

remove notes pointing to non-existing projects (#10877)
  doc/roadmap.rst
Due: none

Fix mypy type checking errors
  xarray/coding/cftimeindex.py
  xarray/namedarray/dtypes.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Fix mypy errors for CI environment
  xarray/coding/cftimeindex.py
  xarray/namedarray/dtypes.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
