Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

add links to glue packages, dask, and cubed
  doc/user-guide/duckarrays.rst
Due: none

link to todense method
  doc/user-guide/duckarrays.rst
Due: none

link to numpy-like arrays page
  doc/user-guide/data-structures.rst
Due: none

link to numpy ufunc docs
  doc/user-guide/duckarrays.rst
Due: none

more text about chunkmanagers
  doc/internals/chunked-arrays.rst
Due: none

add example of using .to_numpy
  doc/user-guide/duckarrays.rst
Due: none

note on ideally not having an entrypoint system
  doc/internals/chunked-arrays.rst
Due: none

parallel processing without chunks
  doc/internals/chunked-arrays.rst
Due: none

explain the user interface
  doc/internals/chunked-arrays.rst
Due: none

how to register the chunkmanager
  doc/internals/chunked-arrays.rst
Due: none

show example of .values failing
  doc/user-guide/duckarrays.rst
Due: none

link from duck arrays page
  doc/user-guide/duckarrays.rst
Due: none

whatsnew
  doc/whats-new.rst
Due: none

move whatsnew entry to unreleased version
  doc/whats-new.rst
Due: none

capitalization
  doc/internals/chunked-arrays.rst
Due: none

fix warning in docs build
  doc/whats-new.rst
Due: none

Add unit tests for preferred chunking
  xarray/tests/test_backends.py
Due: mypy

Fix formatting
  xarray/tests/test_backends.py
Due: mypy

Require dask for a couple of chunking tests
  xarray/tests/test_backends.py
Due: mypy

Duck array documentation improvements (#7911)
  doc/howdoi.rst
  doc/internals/duck-arrays-integration.rst
  doc/internals/extending-xarray.rst
  doc/internals/index.rst
  doc/user-guide/data-structures.rst
  doc/user-guide/duckarrays.rst
  doc/whats-new.rst
Due: none

ensure no forward slashes in names for HDF5-based backends
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

fix mypy
  xarray/tests/test_backends.py
Due: mypy

changes
  xarray/core/dataset.py
Due: unittests, mypy

argmin_indices
  xarray/core/dataset.py
Due: unittests, mypy

Try adding blank lines
  xarray/core/dataset.py
Due: unittests, mypy

indentation change
  xarray/core/dataset.py
Due: unittests, mypy

Update xarray/backends/netCDF4_.py
  xarray/backends/netCDF4_.py
Due: unittests, mypy

indentation
  xarray/core/dataset.py
Due: unittests, mypy

fix a bunch of links
  doc/internals/chunked-arrays.rst
Due: none

indented
  xarray/core/dataset.py
Due: unittests, mypy

Make doc of DataArray.where clearer
  xarray/core/common.py
Due: unittests, mypy

removed dataset.reduce 'skew' example
  xarray/core/dataset.py
Due: unittests, mypy

Use xarray's interface to create a test chunked nc file
  xarray/tests/test_backends.py
Due: mypy

doctests
  xarray/core/dataset.py
Due: unittests, mypy

minute_changes
  xarray/core/dataset.py
Due: unittests, mypy

change
  xarray/core/dataset.py
Due: unittests, mypy
