Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Address pandas-related upstream test failures
  xarray/coding/cftime_offsets.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

Address more warnings
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_groupby.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Due: mypy

Don't lose coverage for pandas < 3
  xarray/tests/test_variable.py
Due: mypy

Address one more warning
  xarray/tests/test_combine.py
Due: mypy

Fix accidental change from MS to ME
  xarray/tests/test_plot.py
Due: mypy

stop explicitly installing `pint` dependencies
  ci/install-upstream-wheels.sh
Due: none

move `_future_array_api_result_type` to `npcompat`
  xarray/core/dtypes.py
  xarray/core/npcompat.py
Due: unittests, mypy

rename `is_scalar_type` to `is_weak_scalar_type`
  xarray/core/npcompat.py
Due: unittests, mypy

move the dispatch to `_future_array_api_result_type` to `npcompat`
  xarray/core/dtypes.py
  xarray/core/npcompat.py
Due: unittests, mypy

support passing *only* weak dtypes to `_future_array_api_result_type`
  xarray/core/npcompat.py
Due: unittests, mypy

don't `xfail` the Array API `where` test
  xarray/tests/test_array_api.py
Due: mypy

determine the array namespace if not passed and no `cupy` arrays present
  xarray/core/duck_array_ops.py
Due: unittests, mypy

comment on what to do with `npcompat.result_type`
  xarray/core/dtypes.py
Due: unittests, mypy

orcid
  CITATION.cff
Due: none

citation: orcid (#9082)
  CITATION.cff
Due: none

Use datetime64[ns] arrays
  xarray/tests/test_combine.py
Due: mypy

Switch to @pytest.mark.filterwarnings
  xarray/tests/test_dataarray.py
  xarray/tests/test_variable.py
Due: mypy

Revert "Run tests on changes to root dotfiles (#9062)"
  .github/workflows/ci.yaml
Due: none

Revert "Trigger CI only if code files are modified. (#9006)"
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
Due: none

Update dropna docstring
  xarray/core/dataset.py
Due: unittests, mypy

Always run code tests (#9083)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
Due: none

fixes for the `pint` tests (#8983)
  ci/install-upstream-wheels.sh
  xarray/tests/test_units.py
Due: mypy

Fix Typo in Bfill benchmark
  asv_bench/benchmarks/dataarray_missing.py
Due: none

Address latest pandas-related upstream test failures (#9081)
  xarray/coding/cftime_offsets.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_combine.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_groupby.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Due: unittests, mypy

move the `result_type` compat code to `array_api_compat`
  xarray/core/array_api_compat.py
  xarray/core/dtypes.py
  xarray/core/npcompat.py
Due: unittests, mypy

also update the comment
  xarray/core/dtypes.py
Due: unittests, mypy

Update xarray/core/resample.py
  xarray/core/resample.py
Due: unittests, mypy

chore(test) : polynomial resample
  xarray/tests/test_groupby.py
Due: mypy

fix(setdefault) : change dict to arg
  xarray/core/resample.py
Due: unittests, mypy

Update CITATION.cff
  CITATION.cff
Due: none

Add scottyhq to CITATION.cff (#9089)
  CITATION.cff
Due: none

Fix Typo in Bfill benchmark (#9087)
  asv_bench/benchmarks/dataarray_missing.py
Due: none

mention the Array API issue on python scalars in a comment
  xarray/core/array_api_compat.py
Due: unittests, mypy

fix(test) : polynomial interpolate tests
  xarray/tests/test_groupby.py
Due: mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
