Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

(fix): add in `reshape` implemented + remove integer tests
  xarray/core/extension_array.py
  xarray/core/formatting.py
  xarray/tests/__init__.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

(fix): add different test cases for fillna + dropna
  xarray/core/extension_array.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

(fix): `dataset` tests + marks for pyarrow
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: mypy

(fix): remove error for 1d arrays
  xarray/core/extension_array.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

(fix): test deps for min versions
  xarray/tests/__init__.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: mypy

(fix): function name
  xarray/core/extension_array.py
Due: unittests, mypy

(fix): `ignore` comment mypy
  xarray/tests/test_dataset.py
Due: mypy

(fix): explicit skipped line
  xarray/tests/test_dataset.py
Due: mypy

(fix): repr test
  xarray/tests/test_dataset.py
Due: mypy

fix roundtripping zero-size timedelta arrays
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

update tests
  xarray/tests/test_dataset.py
Due: mypy

add exclude kwarg to CoordinateTransform.equals
  xarray/core/coordinate_transform.py
  xarray/core/indexes.py
  xarray/indexes/range_index.py
  xarray/tests/test_coordinate_transform.py
Due: unittests, mypy

update whats new
  doc/whats-new.rst
Due: none

(fix): add copy + deepcopy
  xarray/core/extension_array.py
Due: unittests, mypy

(fix): numeric `arrow` dtype deep copies
  xarray/core/extension_array.py
  xarray/tests/test_duck_array_ops.py
Due: unittests, mypy

(fix): numeric `arrow` dtype deep copies (#10315)
  xarray/core/extension_array.py
  xarray/tests/test_duck_array_ops.py
Due: unittests, mypy

implement `Coordinates` methods modifying coords
  xarray/core/coordinates.py
Due: unittests, mypy

(fix): pandas extension array repr for int64[pyarrow]
  xarray/core/extension_array.py
  xarray/core/formatting.py
  xarray/tests/__init__.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

(fix): remove problematic intervalarray repr
  xarray/tests/__init__.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
Due: mypy

(fix): new categorical repr
  xarray/tests/test_dataarray.py
Due: mypy

allow using the binary-or operator (`|`) for merging
  xarray/core/coordinates.py
Due: unittests, mypy

tests for `drop_vars`
  xarray/tests/test_coordinates.py
Due: mypy

tests for `rename_dims` and `rename_vars`
  xarray/tests/test_coordinates.py
Due: mypy

tests for the merge operator
  xarray/tests/test_coordinates.py
Due: mypy

set count's dtype to int
  xarray/computation/rolling.py
Due: unittests, mypy

More speaking variable, add whats-new.rst
  doc/whats-new.rst
  xarray/coding/times.py
Due: unittests, mypy

(fix): use f-string for repr test
  xarray/tests/test_dataset.py
Due: mypy

(fix): comment in test
  xarray/tests/test_dataset.py
Due: mypy

(fix): docs for extension array index changes
  doc/whats-new.rst
Due: none

(fix): small changes
  doc/whats-new.rst
Due: none

reword the introduction section of the ``Coordinates`` object
  doc/user-guide/data-structures.rst
Due: none

remove duplicated information
  doc/user-guide/data-structures.rst
Due: none

PR comments & fixes
  asv_bench/benchmarks/indexing.py
  doc/whats-new.rst
  xarray/core/indexing.py
Due: unittests, mypy

Tentative performance fix
  xarray/core/indexing.py
Due: unittests, mypy

Show benchmark movement
  asv_bench/benchmarks/indexing.py
Due: none

Fix benchmarks
  asv_bench/benchmarks/indexing.py
Due: none

Revert spurious changes
  asv_bench/benchmarks/indexing.py
Due: none

add links to mermaid diagram, fix docs version string
  doc/conf.py
  doc/get-help/help-diagram.rst
Due: none

(fix): disallow `NumpyExtensionArray`
  properties/test_pandas_roundtrip.py
  xarray/core/dataset.py
  xarray/core/extension_array.py
  xarray/core/indexing.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
