Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

DAS-2155: remove vestiges of datatree_
  .github/workflows/ci-additional.yaml
  .pre-commit-config.yaml
  MANIFEST.in
Due: none

TypeHint for zarr groups
  xarray/backends/zarr.py
Due: unittests, mypy

update for parent
  xarray/backends/zarr.py
Due: unittests, mypy

DAS-2155: Some wording changes and link fixes
  doc/getting-started-guide/quick-overview.rst
  doc/user-guide/data-structures.rst
  doc/user-guide/hierarchical-data.rst
Due: none

`open_groups` for zarr backends (#9469)
  xarray/backends/zarr.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

Merge changes from #9476
  xarray/core/datatree.py
Due: unittests, mypy

Fix
  xarray/core/datatree.py
Due: unittests, mypy

Update doc/getting-started-guide/quick-overview.rst
  doc/getting-started-guide/quick-overview.rst
Due: none

Update doc/user-guide/data-structures.rst
  doc/user-guide/data-structures.rst
Due: none

remove ordered
  doc/user-guide/data-structures.rst
Due: none

data -> dataset
  doc/user-guide/data-structures.rst
Due: none

remove parent from constructor params
  doc/user-guide/data-structures.rst
Due: none

duplicate word typo
  doc/user-guide/data-structures.rst
Due: none

DAS-2155: Drop detailed note on ordered trees
  doc/user-guide/data-structures.rst
Due: none

DAS-2155: removes .to_dataset inherited flag example
  doc/user-guide/data-structures.rst
Due: none

remove redunant setting of _name
  xarray/core/datatree.py
Due: unittests, mypy

Ensure TreeNode doesn't copy in-place (#9482)
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_treenode.py
Due: unittests, mypy

explicitly mention dimensions are inherited
  doc/user-guide/data-structures.rst
Due: none

better header for Hierarchical data
  doc/user-guide/hierarchical-data.rst
Due: none

typo
  doc/user-guide/hierarchical-data.rst
Due: none

Make illegal path-like variable names when constructing a DataTree from a Dataset (#9378)
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

DAS-2155: update what's new
  doc/whats-new.rst
Due: none

DAS-2155: typo
  doc/user-guide/hierarchical-data.rst
Due: none

DAS-2155: Fix earlier bad merge
  doc/whats-new.rst
Due: none

DAS-2155: Updates to call out inherited coordinates and inherited flag
  doc/user-guide/data-structures.rst
Due: none

add treenode-level tests
  xarray/tests/test_treenode.py
Due: mypy

add check in child setter
  xarray/core/treenode.py
Due: unittests, mypy

test for non-string types
  xarray/tests/test_treenode.py
Due: mypy

check for non-string types
  xarray/core/treenode.py
Due: unittests, mypy

rename check_for_slashes_in_names
  xarray/core/datatree.py
Due: unittests, mypy

regression test for #9485
  xarray/tests/test_datatree.py
Due: mypy

raise instead of allow coords with slashes in names
  xarray/core/coordinates.py
Due: unittests, mypy
