Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Apply suggestions from code review
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

Update all-but-dask.yml
  ci/requirements/all-but-dask.yml
Due: none

Switch to _replace
  xarray/core/accessor_dt.py
Due: unittests, mypy

Add benchmark
  asv_bench/benchmarks/accessors.py
Due: none

Add whats-new
  doc/whats-new.rst
Due: none

Pin pint to 0.20 (#7820)
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

Update xarray/tests/test_coding.py
  xarray/tests/test_coding.py
Due: mypy

Fix typos in contribution guide
  doc/contributing.rst
Due: none

Fix typos in contribution guide (#7822)
  doc/contributing.rst
Due: none

1. var_idx very slow
  xarray/core/concat.py
Due: unittests, mypy

2. slow any
  xarray/core/duck_array_ops.py
Due: unittests, mypy

test: Fix test_write_read_select_write for Zarr V3
  xarray/tests/test_backends.py
Due: mypy

Add test
  asv_bench/benchmarks/combine.py
Due: none

3. Slow array_type called multiple times
  xarray/core/pycompat.py
Due: unittests, mypy

4. Can use fastpath for variable.concat?
  xarray/core/variable.py
Due: unittests, mypy

5. slow init of pd.unique
  xarray/core/concat.py
Due: unittests, mypy

typos
  xarray/core/concat.py
  xarray/core/pycompat.py
Due: unittests, mypy

Update concat.py
  xarray/core/concat.py
Due: unittests, mypy

Update merge.py
  xarray/core/merge.py
Due: unittests, mypy

GroupBy: Fix reducing by subset of `by` dims
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Update xarray/tests/test_groupby.py
  xarray/tests/test_groupby.py
Due: mypy

Shallow copy
  xarray/core/accessor_dt.py
Due: unittests, mypy

6. Avoid recalculating in loops
  xarray/core/missing.py
Due: unittests, mypy

7. No need to transpose 1d arrays.
  xarray/core/missing.py
Due: unittests, mypy

Fix .groupby(multi index level)
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Fix `min_count` behaviour with flox. (#7809)
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

test: Fix test_write_read_select_write for Zarr V3 (#7825)
  xarray/tests/test_backends.py
Due: mypy

8. speed up dask_dataframe
  xarray/core/dataset.py
Due: unittests, mypy

Update dataset.py
  xarray/core/dataset.py
Due: unittests, mypy

Add dask combine test with many variables
  asv_bench/benchmarks/combine.py
Due: none

Update combine.py
  asv_bench/benchmarks/combine.py
Due: none

Use `numpy.can_cast` instead of casting and checking
  xarray/coding/times.py
Due: unittests, mypy

Add note to whats-new.rst
  doc/whats-new.rst
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
