Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Fix type errors after removing mypy exclusions for test files (#10762)
  pyproject.toml
  xarray/tests/test_coarsen.py
  xarray/tests/test_computation.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_merge.py
  xarray/tests/test_ufuncs.py
  xarray/tests/test_weighted.py
Due: mypy

Enable mypy type checking for 8 test files
  pyproject.toml
  xarray/backends/scipy_.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_indexing.py
  xarray/tests/test_sparse.py
  xarray/tests/test_units.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Fix mypy unused-ignore order: assignment before misc
  xarray/backends/scipy_.py
Due: unittests, mypy

Revert to original type ignore order [misc, assignment]
  xarray/backends/scipy_.py
Due: unittests, mypy

Remove type ignore from scipy_.py ImportError fallback
  xarray/backends/scipy_.py
Due: unittests, mypy

Remove mypy exclusions for test_coding_times and test_dask
  pyproject.toml
  xarray/backends/scipy_.py
  xarray/tests/test_dask.py
Due: unittests, mypy

Edits
  xarray/namedarray/daskmanager.py
  xarray/tests/test_dask.py
Due: unittests, mypy

Remove mypy exclusion for test_dataarray (#10761)
  CLAUDE.md
  pyproject.toml
  xarray/backends/scipy_.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

Fix merge error: keep test_dataarray in exclusion list and remove unused type ignores
  xarray/tests/test_dataarray.py
Due: mypy

Remove test_dataarray from exclusion list as intended, add needed type ignores
  pyproject.toml
  xarray/tests/test_dataarray.py
Due: mypy

Enable mypy type checking for 5 test files (#10763)
  pyproject.toml
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_indexing.py
  xarray/tests/test_sparse.py
  xarray/tests/test_units.py
  xarray/tests/test_variable.py
Due: mypy

improve typing
  xarray/core/datatree.py
Due: unittests, mypy

Remove mypy exclusions for test_coding_times and test_dask (#10768)
  pyproject.toml
  xarray/tests/test_dask.py
Due: mypy

Add whatsnew entry for mypy test suite improvements
  doc/whats-new.rst
Due: none

Add whatsnew entry for mypy test suite improvements (#10770)
  doc/whats-new.rst
Due: none

move datatree_io to backends directory
  xarray/backends/writers.py
  xarray/core/datatree.py
Due: unittests, mypy

split backends/api.py
  xarray/__init__.py
  xarray/backends/api.py
  xarray/backends/writers.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_backends_api.py
Due: unittests, mypy

update PydapDataStore to use backend logic in dap4 to batch variables all together in single dap url
  xarray/backends/pydap_.py
Due: unittests, mypy

initial tests - quantify cached url
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

set `batch=False` as default in open groups as dict
  xarray/backends/pydap_.py
Due: unittests, mypy

use requests_cache session with retry-params when 500 errors occur
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

debug
  xarray/backends/pydap_.py
Due: unittests, mypy

reformat `whats-new.rst`
  doc/whats-new.rst
Due: none

temporarily install from source for testing - will revert to conda install after new release if no further change to backend
  ci/requirements/environment.yml
Due: none

for flaky, install pydap from repo for now
  ci/requirements/environment.yml
Due: none

update to newest release of pydap via pip until conda install is available
  ci/requirements/environment.yml
Due: none

revert what`s new from previous commit
  doc/whats-new.rst
Due: none

pydap-server it not necessary
  ci/requirements/environment.yml
Due: none

set `batch=False` as default in datatree
  xarray/backends/pydap_.py
Due: unittests, mypy

let `pydap` handle exceptions/warning
  xarray/backends/pydap_.py
Due: unittests, mypy

adds tests to datatree backend to assert multiple dimensions downloaded at once (per group)
  xarray/tests/test_backends_datatree.py
Due: mypy

include `checksums` optional argument in `whats-new`
  doc/whats-new.rst
Due: none

impose sorted to `get_dimensions` method
  xarray/backends/pydap_.py
Due: unittests, mypy

update env yml file to use new pydap release via conda
  ci/requirements/environment.yml
Due: none

update PydapArrayWrapper to support backend batching
  xarray/backends/pydap_.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
