Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Use rc_context as decorator
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

Using as decorator is unfortunately not lazy, reverting
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

Add test for facetgrid as well
  xarray/tests/test_plot.py
Due: mypy

mypy - Remove some ignored packages and modules (#7319)
  pyproject.toml
  xarray/core/pycompat.py
Due: unittests, mypy

deprecate pynio backend (#7301)
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/pynio_.py
Due: unittests, mypy

Fix polyval overloads (#7315)
  doc/whats-new.rst
  xarray/core/computation.py
Due: unittests, mypy

Update whats-new.rst
  doc/whats-new.rst
Due: none

MOST effiecnt way for calling data values in JSON reagrding memory, uses a generator
  xarray/core/dataarray.py
Due: unittests, mypy

implement Zarr v3 spec support (#6475)
  .github/workflows/upstream-dev-ci.yaml
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Fix merge.
  xarray/core/formatting.py
Due: unittests, mypy

Remove another np.asarray
  xarray/core/indexing.py
Due: unittests, mypy

reformat
  setup.cfg
Due: none

fix flake8 config (#7321)
  setup.cfg
Due: none

fix doctests: supress urllib3 warning
  xarray/tests/__init__.py
Due: mypy

fix doctests: supress urllib3 warning (#7326)
  xarray/tests/__init__.py
Due: mypy

Enable `origin` and `offset` arguments in `resample` (#7284)
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/resample_cftime.py
  xarray/core/types.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Fix PR number in what’s new
  doc/whats-new.rst
Due: none

Fix PR number in what’s new (#7331)
  doc/whats-new.rst
Due: none

Remove warning about resetting file pointer to zero
  xarray/core/utils.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Update xarray/tests/test_plot.py
  xarray/tests/test_plot.py
Due: mypy

import assert_no_warnings
  xarray/tests/test_plot.py
Due: mypy

Remove code used to support h5py<2.10.0
  xarray/backends/h5netcdf_.py
Due: unittests, mypy

add comment explaining type: ignore
  xarray/core/utils.py
Due: unittests, mypy

warn unused ignores in mypy
  pyproject.toml
  xarray/__init__.py
  xarray/backends/locks.py
  xarray/core/alignment.py
  xarray/core/combine.py
  xarray/core/computation.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/groupby.py
  xarray/core/indexing.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_distributed.py
  xarray/tests/test_extensions.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Due: unittests, mypy

fix tyoe ignores in typed ops
  xarray/core/_typed_ops.pyi
  xarray/util/generate_ops.py
Due: unittests, mypy

fix doctest win/linux issue once again
  xarray/core/_aggregations.py
Due: unittests, mypy

fix mypy issues
  xarray/core/combine.py
  xarray/plot/utils.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
