Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Update _utils.py
  xarray/namedarray/_array_api/_utils.py
Due: unittests, mypy

Update indexing.py
  xarray/core/indexing.py
Due: unittests, mypy

Update _manipulation_functions.py
  xarray/namedarray/_array_api/_manipulation_functions.py
Due: unittests, mypy

Now the mode r+ is able to update the last chunk of Zarr even if it is not "complete"
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

add examples
  xarray/namedarray/_array_api/_linear_algebra_functions.py
  xarray/namedarray/_array_api/_utils.py
Due: unittests, mypy

Add a typehint to the modes to avoid issues with mypy
  xarray/tests/test_backends.py
Due: mypy

Improve safe chunk validation (#9527)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Due: unittests, mypy

cftime support
  xarray/groupers.py
Due: unittests, mypy

Add skeleton tests
  xarray/tests/test_groupby.py
Due: mypy

Support "subsampled" seasons
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

don't pass along `out` for `nanprod`
  xarray/core/nanops.py
Due: unittests, mypy

add tests for `as_indexable`
  xarray/tests/test_indexing.py
Due: mypy

allow using `__array_function__` as a fallback for missing array API funcs
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

also check dask
  xarray/tests/test_indexing.py
Due: mypy

don't try to create a `dask` array if `dask` is not installed
  xarray/tests/test_indexing.py
Due: mypy

Remove duplicate coordinates with indexes on sub-trees
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Fix DataTree repr to not repeat inherited coordinates
  xarray/core/formatting.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

skip failing test on Windows
  xarray/tests/test_datatree.py
Due: mypy

silence mypy error
  xarray/tests/test_datatree.py
Due: mypy

Fix DataTree repr to not repeat inherited coordinates (#9532)
  xarray/core/formatting.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Remove doctests so we can work with it
  xarray/core/_aggregations.py
  xarray/namedarray/_aggregations.py
Due: unittests, mypy

edits per review
  xarray/core/datatree.py
  xarray/tests/test_datatree_mapping.py
Due: unittests, mypy

Add generated docstrings
  xarray/core/_aggregations.py
  xarray/namedarray/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Add generated doctest outputs
  xarray/core/_aggregations.py
Due: unittests, mypy

Update docs for running generations
  xarray/util/generate_aggregations.py
Due: unittests, mypy

add named array generations
  xarray/namedarray/_aggregations.py
Due: unittests, mypy

.
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Add `.rolling_exp` onto `.rolling`'s 'See also'
  xarray/core/dataset.py
Due: unittests, mypy

Fix numpy 2.1 strings
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

use pytest recwarn instead emtpy context manager to make mypy happy
  xarray/tests/test_backends.py
Due: mypy

check for invalid_netcdf warning, too
  xarray/tests/test_backends.py
Due: mypy

fix howdoi.rst table entry
  doc/howdoi.rst
Due: none

cast `numpy` scalars to arrays in `as_compatible_data` (#9403)
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

remove TODO after #9532
  doc/user-guide/hierarchical-data.rst
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
