Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Replace more usages of `np.all` with duck array ops equivalent
  xarray/coding/times.py
  xarray/core/formatting.py
  xarray/core/indexing.py
  xarray/groupers.py
  xarray/testing/assertions.py
Due: unittests, mypy

Relax nanosecond datetime restriction in CF time decoding (#9618)
  doc/internals/index.rst
  doc/internals/time-coding.rst
  doc/user-guide/io.rst
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/core/indexing.py
  xarray/core/pdcompat.py
  xarray/core/variable.py
  xarray/tests/__init__.py
  xarray/tests/conftest.py
  xarray/tests/test_backends.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_computation.py
  xarray/tests/test_concat.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Due: unittests, mypy

fix pandas dev issues
  xarray/coding/times.py
  xarray/tests/test_variable.py
Due: unittests, mypy

GH6736
  xarray/backends/api.py
Due: unittests, mypy

Updated whats-new.rst
  doc/whats-new.rst
Due: none

Update xarray/backends/api.py
  xarray/backends/api.py
Due: unittests, mypy

remove gate and add a test
  doc/whats-new.rst
  xarray/core/datatree_io.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

Updated logic
  xarray/backends/api.py
Due: unittests, mypy

Add test for shards
  xarray/tests/test_backends.py
Due: mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

Limit shard test to only Zarr V3
  xarray/tests/test_backends.py
Due: mypy

Update test and add shards to encoding when loading
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Revert unnecessary replacement of `np.all` with duck array ops
  xarray/core/indexing.py
Due: unittests, mypy

fix upstream dev issues (#9953)
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Update whats-new.rst
  doc/whats-new.rst
Due: none

Suggest the correct name when no key matches in the dataset (#9943)
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/utils.py
Due: unittests, mypy

Update time coding tests to assert exact equality
  doc/whats-new.rst
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
Due: mypy

cast type to PDDatetimeUnitOptions
  xarray/coding/times.py
Due: unittests, mypy

Added tests and modifiede the logic to get correct ids for concat
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Avoid unsafe casts from float to unsigned int
  xarray/coding/variables.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Added new tests and logic to handle 2x2 open_mfdataset with ignore and warn.
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

pre-commit run
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

cast type to PDDatetimeUnitOptions (#9963)
  xarray/coding/times.py
Due: unittests, mypy

Add time_unit argument to CFTimeIndex.to_datetimeindex
  doc/whats-new.rst
  xarray/coding/cftimeindex.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_groupby.py
  xarray/tests/test_missing.py
Due: unittests, mypy

Allow passing a CFTimedeltaCoder instance to decode_timedelta
  doc/internals/time-coding.rst
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/coders.py
  xarray/coding/times.py
  xarray/conventions.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

Updates based on @kmuehlbauer's branch
  xarray/coding/times.py
  xarray/conventions.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

Increment what's new PR number
  doc/whats-new.rst
Due: none

Use zarr-fixture to prevent thread leakage errors
  xarray/tests/test_distributed.py
Due: mypy

Remove keep_attrs from docstring of filling functions
  xarray/core/missing.py
Due: unittests, mypy

Use internal broadcasting and transpose instead of ones_like
  xarray/core/missing.py
  xarray/tests/test_missing.py
Due: unittests, mypy

Working fill_gaps implementation
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/tests/test_missing.py
Due: unittests, mypy

Introduce new arguments limit_direction, limit_area, limit_use coordinate
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/tests/test_missing.py
Due: unittests, mypy

Towards masked implementation
  xarray/core/missing.py
Due: unittests, mypy

Typo: Default False in doc for limit_use_coordinates
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Add line break for readability
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy
