Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

change cumproduct to cumprod (#8031)
  xarray/core/coordinates.py
Due: unittests, mypy

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

sort assignments to .attr["coordinates"]
  doc/whats-new.rst
  xarray/conventions.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

Reduce pre-commit update frequency to monthly from weekly. (#8033)
  .pre-commit-config.yaml
Due: none

[skip-ci] Apply suggestions from code review
  doc/whats-new.rst
Due: none

plugin -> backend
  doc/internals/index.rst
Due: none

Don't pretend .dims is a set
  doc/internals/internal-design.rst
Due: none

sort when encoding coordinates for deterministic outputs (#8034)
  doc/whats-new.rst
  xarray/conventions.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

Zarr : Allow setting `write_empty_chunks` (#8016)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Due: unittests, mypy

add set_indexes parameter to open_dataset
  xarray/backends/api.py
  xarray/backends/common.py
Due: unittests, mypy

implement set_indexes in (zarr) backend store
  xarray/backends/store.py
  xarray/backends/zarr.py
Due: unittests, mypy

Changed aggregation example to include 0 value
  xarray/core/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Fixed broken links in count docs (#8055)
  xarray/core/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Added entry to whats-new.rst
  doc/whats-new.rst
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Count documentation (#8057)
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

convert string and bytes items to standard python types
  xarray/core/formatting.py
Due: unittests, mypy

unpin `numpy`
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

changes made
  doc/user-guide/terminology.rst
Due: none

add changes
  doc/user-guide/terminology.rst
Due: none

Add unit test for Variable[...] = DataArray (#7030)
  xarray/tests/test_variable.py
Due: mypy

Check for DataArray instance (#7030)
  xarray/core/variable.py
Due: unittests, mypy

dispatch to `np.empty_like` if there's no missing value
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

make sure there's no code path without `create_template`
  xarray/core/variable.py
Due: unittests, mypy

Update whats-new.rst (#7030)
  doc/whats-new.rst
Due: none

declare `create_template` as callable
  xarray/core/variable.py
Due: unittests, mypy

ignore the intentionally wrong typing
  xarray/tests/test_groupby.py
Due: mypy

mark the ignore as intentional, even if it might not be used
  xarray/tests/test_coding_strings.py
Due: mypy

Fix type annotations
  xarray/tests/test_backends.py
Due: mypy

Import Generator
  xarray/tests/test_backends.py
Due: mypy

#8062 Dataset.chunk() and DataArray.chunk() now correctly set encoding attribute
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

fixed test and mypy complaint
  xarray/core/dataset.py
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Revert Variable and fix DataArray instead (#7030)
  xarray/core/dataarray.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Add test case for .loc[...] = dataarray (#7030)
  xarray/tests/test_dataarray.py
Due: mypy

Fix whats-new.rst (#7030)
  doc/whats-new.rst
Due: none

Add draft design document
  design_notes/xarray_lite_design_doc.md
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
