Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

allow refreshing of backends
  xarray/backends/cfgrib_.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
  xarray/backends/pseudonetcdf_.py
  xarray/backends/pydap_.py
  xarray/backends/pynio_.py
  xarray/backends/scipy_.py
  xarray/backends/zarr.py
Due: unittests, mypy

Revert "allow refreshing of backends"
  xarray/backends/cfgrib_.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
  xarray/backends/pseudonetcdf_.py
  xarray/backends/pydap_.py
  xarray/backends/pynio_.py
  xarray/backends/scipy_.py
  xarray/backends/zarr.py
Due: unittests, mypy

fix forgotten inheritance
  xarray/backends/common.py
Due: unittests, mypy

fix typing
  xarray/backends/plugins.py
  xarray/backends/store.py
Due: unittests, mypy

fix typing in tests
  xarray/tests/test_plugins.py
Due: mypy

add refresh func to xr.backends
  xarray/backends/__init__.py
Due: unittests, mypy

add to whats-new
  doc/whats-new.rst
Due: none

add func to api
  doc/api.rst
Due: none

add tests for list_engines and refresh_engines
  xarray/tests/test_plugins.py
Due: mypy

try fixing test issues
  xarray/tests/test_plugins.py
Due: mypy

Update xarray/core/dataset.py
  xarray/core/dataset.py
Due: unittests, mypy

clarification for thresh arg of dataset.dropna() (#7481)
  xarray/core/dataset.py
Due: unittests, mypy

Support complex arrays in xr.corr (#7392)
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
Due: unittests, mypy

pin `sphinx-book-theme` to a more recent version [skip-ci]
  ci/requirements/doc.yml
Due: none

Add PDF of Xarray logo
  doc/_static/dataset-diagram-logo.pdf
  doc/_static/dataset-diagram-logo.tex
Due: none

Update common.py
  xarray/core/common.py
Due: unittests, mypy

initial stab
  doc/user-guide/duckarrays.rst
  doc/user-guide/index.rst
  doc/user-guide/numpy-to-xarray.rst
Due: none

order the names of missing variables before raising
  xarray/core/dataset.py
Due: unittests, mypy

escape regex so it matches
  xarray/tests/test_dataset.py
Due: mypy

Apply suggestions from code review
  xarray/core/indexing.py
  xarray/tests/__init__.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Update xarray/tests/__init__.py
  xarray/tests/__init__.py
Due: mypy

added 'storage_transformers' to valid_encodings
  xarray/backends/zarr.py
Due: unittests, mypy

Add SVG
  doc/_static/dataset-diagram-logo.svg
Due: none

[skip-ci] Add PDF of Xarray logo (#7530)
  doc/_static/dataset-diagram-logo.pdf
  doc/_static/dataset-diagram-logo.svg
  doc/_static/dataset-diagram-logo.tex
Due: none

supress namespace_package deprecation warning (doctests)
  xarray/tests/__init__.py
Due: mypy

Support for the new compression arguments.
  xarray/backends/netCDF4_.py
Due: unittests, mypy

Update utils.py
  xarray/plot/utils.py
Due: unittests, mypy

Update test_plot.py
  xarray/tests/test_plot.py
Due: mypy

supress namespace_package deprecation warning (doctests) (#7548)
  xarray/tests/__init__.py
Due: mypy

DOC: cross ref the groupby tutorial
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

DOC: change groupby ref description
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

DOC: cross ref the groupby tutorial (#7555)
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
