Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Fix repr of a RangeIndex with datetime64 bounds
  doc/whats-new.rst
  xarray/indexes/range_index.py
  xarray/tests/test_range_index.py
Due: unittests, mypy

Silence mypy for datetime bounds in the repr test
  doc/whats-new.rst
  xarray/tests/test_range_index.py
Due: mypy

Keep the datetime64 dtype of a RangeIndex coordinate
  doc/whats-new.rst
  xarray/indexes/range_index.py
  xarray/tests/test_range_index.py
Due: unittests, mypy

Add Arrow PyCapsule support for Dataset and speed up coord broadcasting
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Assert full xarray schema metadata dict in arrow tests
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: mypy

chore: simplify docstring
  xarray/core/dataset.py
Due: unittests, mypy

Raise AlignmentError when alignment would reorder an already-aligned index
  doc/whats-new.rst
  xarray/structure/alignment.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Configure strict pytest expected failures
  pyproject.toml
Due: none

fix: handle cftime inputs in date_range
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/tests/test_cftime_offsets.py
Due: unittests, mypy

Add docs for Arrow/Parquet export via to_arrow
  doc/api/io.rst
  doc/conf.py
  doc/user-guide/io.md
Due: none

chore: add item in whatsnew
  doc/user-guide/io.md
  doc/whats-new.rst
Due: none

chore: improve docstring
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

fix: add ravel for C-contiguity
  xarray/core/dataarray.py
Due: unittests, mypy

perf: remove 1D broadcasting fast path
  xarray/core/dataarray.py
Due: unittests, mypy

Revert "perf: remove 1D broadcasting fast path"
  xarray/core/dataarray.py
Due: unittests, mypy

feat: add a small asv benchmark
  asv_bench/benchmarks/__init__.py
  asv_bench/benchmarks/arrow.py
Due: none

chore: simplify case where dims match
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Return False from module_available when version is None
  xarray/namedarray/utils.py
Due: unittests, mypy

add _DimType_co generic typevar to NamedArray
  xarray/core/common.py
  xarray/core/dataset.py
  xarray/core/indexing.py
  xarray/namedarray/_aggregations.py
  xarray/namedarray/_array_api.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/namedarray/daskmanager.py
  xarray/namedarray/parallelcompat.py
  xarray/namedarray/pycompat.py
  xarray/namedarray/utils.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_parallelcompat.py
Due: unittests, mypy

propagate DimType generic to rest of codebase and fix mypy
  xarray/core/common.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/namedarray/core.py
  xarray/namedarray/daskmanager.py
  xarray/namedarray/utils.py
  xarray/tests/test_namedarray.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

add mypy tests for generic NamedArray dim type
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_namedarray_typing.yml
Due: unittests, mypy

fix and extend NamedArray dim type mypy tests
  xarray/tests/test_namedarray_typing.yml
Due: mypy

amend changelog
  doc/whats-new.rst
Due: none

Fix module_available() crash when version is missing (#11344)
  xarray/namedarray/utils.py
  xarray/tests/test_utils.py
Due: unittests, mypy

pin numbagg to fix pipeline
  ci/requirements/environment.yml
  pixi.toml
  pyproject.toml
Due: none

Skip pint in mypy to avoid a recursion crash
  pyproject.toml
Due: none

Allow non-mapping chunks in DataTree.chunk (#11315)
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

concat: handle StringDtype indexes from pandas
  doc/whats-new.rst
  xarray/structure/concat.py
  xarray/tests/test_concat.py
Due: unittests, mypy

concat: map a StringDtype concat dim to numpy's string dtype instead of forwarding it
  xarray/structure/concat.py
  xarray/tests/test_concat.py
Due: unittests, mypy

Fix the docs build with sphinx-llm 1.1 and iris 3.16.1
  doc/conf.py
  pixi.toml
Due: none

Clean up warnings in the test suite
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_coordinate_transform.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_variable.py
Due: mypy

Close the store if creating the group fails in to_netcdf
  xarray/backends/writers.py
Due: unittests, mypy

Avoid overflow in the mean of all-NaT datetime arrays
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Speed up the slowest chunked interpolation tests
  xarray/tests/test_interp.py
Due: mypy

Update the hypothesis cache in the CI test jobs
  .github/workflows/ci.yaml
Due: none

Fix failing tests, mypy and various warnings in tests (#11608)
  .github/workflows/ci.yaml
  ci/requirements/environment.yml
  doc/conf.py
  pixi.toml
  pyproject.toml
  xarray/backends/writers.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_coordinate_transform.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_interp.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Adapt to the expanded default rule set of ruff 0.16
  ci/numpydoc-public-api.py
  ci/recipe/prepare_recipe.py
  pyproject.toml
  xarray/core/dataset.py
  xarray/core/indexing.py
  xarray/structure/combine.py
Due: unittests, mypy

Only wrap the warning statement in pytest.warns blocks
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_concat.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Due: mypy

Fix the type of the conflicting coords in test_constructor_with_coords
  xarray/tests/test_dataset.py
Due: mypy

Fix squeeze for non-string dimension names
  xarray/core/common.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
