Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Ignore pytest-mypy-plugins for min version check
  ci/minimum_versions.py
Due: none

More precisely type `pipe` methods (#10038)
  .github/workflows/ci.yaml
  ci/minimum_versions.py
  ci/requirements/all-but-dask.yml
  ci/requirements/all-but-numba.yml
  ci/requirements/bare-minimum.yml
  ci/requirements/environment-3.14.yml
  ci/requirements/environment-windows-3.14.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  conftest.py
  pyproject.toml
  xarray/core/common.py
  xarray/core/datatree.py
  xarray/tests/test_dataarray_typing.yml
  xarray/tests/test_dataset_typing.yml
  xarray/tests/test_datatree.py
  xarray/tests/test_datatree_typing.yml
Due: unittests, mypy

fix test_invalid_date_range_cftime_inputs to catch expected exception (#9886)
  xarray/tests/test_cftime_offsets.py
Due: mypy

use phony_dims="access" per default also in open_dataset for h5netcdf backend
  xarray/backends/h5netcdf_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

fix test
  xarray/tests/test_backends.py
Due: mypy

fix whats-new.rst
  doc/whats-new.rst
Due: none

Add option for using new default kwargs
  xarray/backends/api.py
  xarray/core/alignment.py
  xarray/core/combine.py
  xarray/core/concat.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/merge.py
  xarray/core/options.py
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

improve invalid input error message for date_range()
  xarray/coding/cftime_offsets.py
Due: unittests, mypy

reformat deprecation note
  doc/whats-new.rst
Due: none

Minor documentation improvement for date_range()
  xarray/coding/cftime_offsets.py
Due: unittests, mypy

Fix date_range() documentation
  xarray/coding/cftime_offsets.py
Due: unittests, mypy

add regression test
  xarray/tests/test_dataset.py
Due: mypy

apply fastpath isel indexes only if all PandasIndex
  xarray/core/indexes.py
Due: unittests, mypy

update whats new
  doc/whats-new.rst
Due: none

Index.isel: more permissive return type
  xarray/core/indexes.py
Due: unittests, mypy

Index.equals: more permissive `other` type.
  xarray/core/indexes.py
Due: unittests, mypy

remove long url from date_range() documentation
  xarray/coding/cftime_offsets.py
Due: unittests, mypy

Fix false timedelta serialization warning
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

Add what's new entries
  doc/whats-new.rst
Due: none

Remove unused function
  xarray/coding/times.py
Due: unittests, mypy

Add note regarding rollback of integer overflow checking code
  doc/whats-new.rst
Due: none

Default to phony_dims="access" in h5netcdf-backend (#10058)
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

More permissive Index typing (#10067)
  xarray/core/indexes.py
Due: unittests, mypy

cache Dataset.xindexes
  xarray/core/dataset.py
Due: unittests, mypy

cache Indexes.group_by_index() returned value
  xarray/core/indexes.py
Due: unittests, mypy

remove isel apply indexes fast path function
  xarray/core/indexes.py
Due: unittests, mypy

invalidate xindexes cache after in-place coord update
  xarray/core/coordinates.py
Due: unittests, mypy

fix DataTree's DatasetView
  xarray/core/datatree.py
Due: unittests, mypy

fix typing
  xarray/core/indexes.py
Due: unittests, mypy

Restrict fastpath isel indexes to the case of all PandasIndex (#10066)
  doc/whats-new.rst
  xarray/core/indexes.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

cache DataArray.xindexes
  xarray/core/coordinates.py
  xarray/core/dataarray.py
Due: unittests, mypy

Use sentinel value to change default with warnings
  xarray/backends/api.py
  xarray/core/alignment.py
  xarray/core/combine.py
  xarray/core/concat.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/merge.py
  xarray/core/options.py
  xarray/plot/dataarray_plot.py
  xarray/util/deprecation_helpers.py
Due: unittests, mypy

Remove unnecessary warnings
  xarray/core/concat.py
Due: unittests, mypy

refactor according to review concerns and suggestions
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy
