Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

link to duck arrays user guide from internals page
  doc/internals/duck-arrays-integration.rst
  doc/user-guide/duckarrays.rst
Due: none

Fix regression with grouper object on an IndexVariable
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

fix various links
  doc/internals/duck-arrays-integration.rst
  doc/internals/extending-xarray.rst
  doc/user-guide/duckarrays.rst
Due: none

itemized list
  doc/internals/duck-arrays-integration.rst
Due: none

mention dispatching on functions not in the array API standard
  doc/internals/duck-arrays-integration.rst
Due: none

Early cast IndexVariable to DataArray to avoid issues with flox
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Ensure dtype of reindex result matches dtype of the original DataArray (#7917)
  doc/whats-new.rst
  xarray/core/dtypes.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

Add errors option to curvefit (#7891)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

CF encoding should preserve vlen dtype for empty arrays (#7862)
  doc/whats-new.rst
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
  xarray/coding/strings.py
  xarray/conventions.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_strings.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

use trusted publishers instead of a API token (#7899)
  .github/workflows/pypi-release.yaml
Due: none

Add ipywidgets to silence nbsphinx warning
  ci/requirements/doc.yml
Due: none

Add cfgrib,ipywidgets to doc env (#7888)
  ci/requirements/doc.yml
  doc/conf.py
  doc/examples/visualization_gallery.ipynb
Due: none

Remove hue_style from plot1d docstring
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

Fix some merge artifacts
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy

some typing
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

try resolving intervals like this
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

xarray.dataset.tail
  xarray/core/dataset.py
Due: unittests, mypy

xarray.dataset.head
  xarray/core/dataset.py
Due: unittests, mypy

xarray.dataset.dropna
  xarray/core/dataset.py
Due: unittests, mypy

xarray.dataset.ffill
  xarray/core/dataset.py
Due: unittests, mypy

xarray.dataset.bfill
  xarray/core/dataset.py
Due: unittests, mypy

xarray.dataset.set_Coords
  xarray/core/dataset.py
Due: unittests, mypy

xarray.dataset.reset_coords
  xarray/core/dataset.py
Due: unittests, mypy

test for the new compression argument
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Due: mypy

move the new test to TestNetCDF4Data
  xarray/tests/test_backends.py
Due: mypy

Update calendar for developers meeting
  doc/developers-meeting.rst
Due: none

examples of duckarrays
  doc/user-guide/duckarrays.rst
Due: none

add intended audience to xarray internals section
  doc/internals/index.rst
Due: none

draft page on chunked arrays
  doc/internals/chunked-arrays.rst
  doc/internals/index.rst
Due: none

release summary
  doc/whats-new.rst
Due: none

Update calendar for developers meeting (#7933)
  doc/developers-meeting.rst
Due: none

add contributors
  doc/whats-new.rst
Due: none

Add note on why we only add empty whatsnew after releasing
  HOW_TO_RELEASE.md
Due: none
