Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

fixed speeling mistake
  doc/whats-new.rst
Due: none

Updated what's new.rst
  doc/whats-new.rst
Due: none

Modify interp_na to consider decreasing index
  doc/api.rst
  doc/whats-new.rst
  xarray/core/accessor_str.py
  xarray/core/missing.py
  xarray/tests/test_accessor_str.py
Due: unittests, mypy

Modify interp_na for issue #4637
  xarray/core/missing.py
Due: unittests, mypy

Delete warnings.log
  doc/warnings.log
Due: none

Delete api.rst
  doc/api.rst
Due: none

Delete whats-new.rst
  doc/whats-new.rst
Due: none

add to_zarr method to dataarray (#7693)
  doc/api.rst
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Update doc/getting-started-guide/faq.rst
  doc/getting-started-guide/faq.rst
Due: none

How xarray handles missing values (#7694)
  doc/getting-started-guide/faq.rst
  doc/user-guide/computation.rst
Due: none

made changes for the .yml file
  .github/config.yml
Due: none

update docs
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Add typing
  xarray/core/groupby.py
Due: unittests, mypy

minor updates to clarify extension using accessors
  doc/internals/extending-xarray.rst
Due: none

separate CFMaskCoder test for multiple missing_values/__FillValues conflict, use _FillValue for missing_value if available
  xarray/coding/variables.py
  xarray/tests/test_coding.py
Due: unittests, mypy

add test which checks add_offset being not conforming to cf standards
  xarray/tests/test_backends.py
Due: mypy

determine cf packed data dtype, adapt tests
  xarray/coding/variables.py
  xarray/tests/test_backends.py
Due: unittests, mypy

preserve boolean-dtype within encoding, adapt test
  xarray/coding/variables.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/coding/variables.py
  xarray/tests/test_backends.py
Due: unittests, mypy

apply astype in the right order to prevent loss of precision, more fillvalue fixes
  xarray/coding/variables.py
Due: unittests, mypy

choose float64 if add_offset is not up to cf expectations
  xarray/coding/variables.py
Due: unittests, mypy

add more comments, add more typing
  xarray/coding/variables.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding.py
Due: unittests, mypy

add mask/scale roundtrip test for variable cf encoding/decoding
  xarray/tests/test_coding.py
Due: mypy

Test against None, as 0 (False) is a valid input for add_offset. Check for float32/64 only.
  xarray/coding/variables.py
Due: unittests, mypy

use scale_factor/add_offset in tests as specified by cf conventions
  xarray/tests/test_backends.py
Due: mypy

fix typing, fix if-clauses, add link to issue
  xarray/coding/variables.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/coding/variables.py
Due: unittests, mypy

add additional test, make _choose_float_dtype more explicit
  xarray/coding/variables.py
  xarray/tests/test_coding.py
Due: unittests, mypy

implement coders, adapt tests
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

convert to float32 to keep #1840 in sync
  xarray/coding/variables.py
  xarray/tests/test_coding.py
Due: unittests, mypy

add comment ass per review
  xarray/tests/test_backends.py
Due: mypy

Update xarray/core/dataarray.py
  xarray/core/dataarray.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

unpin pandas in the package metadata
  setup.cfg
Due: none

[DOC] resample and then apply func on time+other variables:
  doc/user-guide/time-series.rst
Due: none

unpin pandas in the ci environments [skip-rtd]
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

refactor from_array_kwargs in .chunk ready for deprecation
  xarray/core/daskmanager.py
  xarray/core/dataset.py
  xarray/core/utils.py
  xarray/core/variable.py
Due: unittests, mypy
