Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Update conf.py (#8390)
  doc/conf.py
Due: none

Update _typing.py
  xarray/namedarray/_typing.py
Due: unittests, mypy

more
  xarray/core/variable.py
  xarray/namedarray/core.py
Due: unittests, mypy

Add array_api test
  xarray/tests/test_namedarray.py
Due: mypy

Update test_namedarray.py
  xarray/tests/test_namedarray.py
Due: mypy

array_api doesn't have __array__ can't assume that
  xarray/namedarray/_typing.py
Due: unittests, mypy

convert .data to numpy, can't assume that array_api data will do that.
  xarray/tests/test_namedarray.py
Due: mypy

simplify this line (code review)
  xarray/backends/netCDF4_.py
Due: unittests, mypy

Added entry to whats-new
  doc/whats-new.rst
  xarray/tests/test_backends.py
Due: mypy

Add duckarray test for np.array_api (#8391)
  xarray/namedarray/_typing.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Port fix from pandas-dev/pandas#55283 to cftime resample [test-upstream]
  doc/whats-new.rst
  xarray/core/resample_cftime.py
Due: unittests, mypy

Skip test for pandas versions older than 2.2 [test-upstream]
  xarray/tests/test_cftimeindex_resample.py
Due: mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

Fix sparse typing (#8387)
  xarray/core/variable.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
Due: unittests, mypy

Test masked array
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Update core.py
  xarray/namedarray/core.py
Due: unittests, mypy

Correct typing for _sparsearray (#8395)
  xarray/namedarray/_typing.py
Due: unittests, mypy

[WIP] Better attr diff
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Port fix from pandas-dev/pandas#55283 to cftime resample (#8393)
  doc/whats-new.rst
  xarray/core/resample_cftime.py
  xarray/tests/test_cftimeindex_resample.py
Due: unittests, mypy

Fix test
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

remove every strategy beyond variables
  doc/api.rst
  doc/user-guide/testing.rst
  xarray/testing/strategies.py
  xarray/tests/test_strategies.py
Due: unittests, mypy

variable strategy now accepts callable generating array strategies
  xarray/testing/__init__.py
  xarray/testing/strategies.py
Due: unittests, mypy

use only readable unicode characters in names
  xarray/testing/strategies.py
Due: unittests, mypy

examples
  xarray/testing/strategies.py
Due: unittests, mypy

only use unicode characters that docs can deal with
  xarray/testing/strategies.py
Due: unittests, mypy

Update xarray/core/formatting.py
  xarray/core/formatting.py
Due: unittests, mypy

docs: dataarrays -> variables
  doc/user-guide/testing.rst
Due: none

Improvements
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Due: unittests, mypy
