Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Include the optimization of ffill and bfill on the whats-new.rst
  doc/whats-new.rst
Due: none

initial namespace-aware implementation
  xarray/__init__.py
  xarray/tests/test_dask.py
  xarray/tests/test_sparse.py
  xarray/tests/test_ufuncs.py
  xarray/ufuncs.py
Due: unittests, mypy

Use `map_overlap` for rolling reductions with Dask (#9770)
  xarray/core/dask_array_ops.py
  xarray/core/rolling.py
  xarray/tests/test_rolling.py
Due: unittests, mypy

Optimize polyfit (#9766)
  doc/whats-new.rst
  xarray/core/dask_array_compat.py
  xarray/core/dask_array_ops.py
  xarray/core/dataset.py
  xarray/core/nputils.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Allow wrapping `np.ndarray` subclasses (#9760)
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_variable.py
Due: unittests, mypy

add itertools
  xarray/conventions.py
Due: unittests, mypy

Update xarray/conventions.py
  xarray/conventions.py
Due: unittests, mypy

use np subclass, test duck dask arrays
  xarray/tests/test_ufuncs.py
Due: mypy

Update conventions.py
  xarray/conventions.py
Due: unittests, mypy

add test in test_conventions.py
  xarray/tests/test_conventions.py
Due: mypy

add comment
  xarray/conventions.py
Due: unittests, mypy

revert backend tests
  xarray/tests/test_backends.py
Due: mypy

fix cf decoding of grid_mapping (#9765)
  doc/whats-new.rst
  xarray/conventions.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

Fix tests
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Raise if seasons are not sorted for resampling
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

fix Self import
  xarray/groupers.py
Due: unittests, mypy

Use map_overlap when the n is smaller than all the chunks
  xarray/core/dask_array_ops.py
Due: unittests, mypy

Avoid creating a numpy array to check if all the chunks are bigger than N on the push method
  xarray/core/dask_array_ops.py
Due: unittests, mypy

add codespell pre-commit hook
  .pre-commit-config.yaml
Due: none

apply codespell
  properties/test_pandas_roundtrip.py
  pyproject.toml
  xarray/core/accessor_str.py
  xarray/tests/test_accessor_str.py
  xarray/tests/test_backends.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_coarsen.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Updating the whats-new.rst
  doc/whats-new.rst
Due: none

fix capitalization
  xarray/tests/test_cftime_offsets.py
Due: mypy

try fixing codespell in CI
  pyproject.toml
Due: none

fix match for good, maybe
  xarray/tests/test_cftime_offsets.py
Due: mypy

Optimize `ffill`, `bfill` with dask when `limit` is specified (#9771)
  doc/whats-new.rst
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_duck_array_ops.py
Due: unittests, mypy

Update xarray/tests/test_utils.py
  xarray/tests/test_utils.py
Due: mypy

add 'User-Agent'-header to pooch.retrieve
  xarray/tutorial.py
Due: unittests, mypy

try sys.modules
  xarray/tutorial.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/tutorial.py
Due: unittests, mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

add 'User-Agent'-header to pooch.retrieve (#9782)
  doc/whats-new.rst
  xarray/tutorial.py
Due: unittests, mypy

Fix open_mfdataset for list of fsspec files
  xarray/backends/common.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Rewrite to for loop
  xarray/backends/common.py
Due: unittests, mypy

Fixup
  xarray/backends/common.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
