Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

fix for mypy
  xarray/tests/test_backends.py
Due: mypy

turn on testing on datatree from test.opendap.org
  xarray/tests/test_backends_datatree.py
Due: mypy

include `checksums` optional argument in `whats-new`
  doc/whats-new.rst
Due: none

specify cached session debug name to actually cache urls
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: mypy

update `whats new`
  doc/whats-new.rst
Due: none

set `batch=False` as default in datatree
  xarray/backends/pydap_.py
Due: unittests, mypy

adds tests to datatree backend to assert multiple dimensions downloaded at once (per group)
  xarray/tests/test_backends_datatree.py
Due: mypy

minor code changes
  xarray/backends/pydap_.py
Due: unittests, mypy

fix `whats new` changes
  doc/whats-new.rst
Due: none

formatting
  doc/whats-new.rst
Due: none

Review feedback - update workflow names
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
Due: none

use `dependency-overrides`
  pixi.toml
Due: none

remove the typing feature for now
  pixi.toml
Due: none

pin python 3.13
  pixi.toml
Due: none

use the right package name for `iris`
  pixi.toml
Due: none

remove `h5netcdf` from the solve
  pixi.toml
Due: none

Add GitHub Codespaces config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Rewrite test_iso8601_decode to work without cftime (#10914)
  properties/test_encode_decode.py
  xarray/testing/strategies.py
Due: unittests, mypy

skip ci based on a label (#10918)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

DOC: Correct minor grammar issues (#10915)
  doc/contribute/contributing.rst
  xarray/convert.py
Due: unittests, mypy

release v2025.11.0 (#10917)
  doc/whats-new.rst
Due: none

Optimize padding for coarsening. (#10921)
  asv_bench/benchmarks/coarsen.py
  doc/whats-new.rst
  xarray/core/variable.py
Due: unittests, mypy

update whats-new
  doc/whats-new.rst
Due: none

new release section (#10926)
  doc/whats-new.rst
Due: none

backend resolution - revert to netcdf4 eagerly grabbing URL + FutureWarning
  xarray/backends/common.py
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

better warning message
  xarray/backends/netCDF4_.py
Due: unittests, mypy

add whats new
  doc/whats-new.rst
Due: none

removed redundant whatsnew
  doc/whats-new.rst
Due: none

fastpath for built-ins
  xarray/backends/plugins.py
Due: unittests, mypy

Fix numpy typing issue with numpy=2.3.5
  xarray/compat/npcompat.py
Due: unittests, mypy

Fix numpy typing issue with numpy=2.3.5 (#10935)
  xarray/compat/npcompat.py
Due: unittests, mypy

Add a failing test to reproduce
  xarray/tests/test_zarr_simple_chunks.py
Due: mypy

Support chunks that look like Tuple[int]
  xarray/backends/chunks.py
  xarray/backends/zarr.py
Due: unittests, mypy

support combine_nested on DataTree objects (#10849)
  doc/whats-new.rst
  xarray/structure/combine.py
  xarray/tests/test_combine.py
Due: unittests, mypy

don't emit warning yet
  doc/whats-new.rst
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

add nunique GH9548
  doc/api/dataarray.rst
  doc/api/dataset.rst
  doc/api/datatree.rst
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/core/duck_array_ops.py
  xarray/namedarray/_aggregations.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_datatree.py
  xarray/tests/test_duck_array_ops.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

fix accidental noqa removal
  xarray/core/duck_array_ops.py
Due: unittests, mypy

fix accidental reformat
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
