Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Add runtime type checking in CI tests
  .github/workflows/ci-additional.yaml
  ci/requirements/environment.yml
  pyproject.toml
Due: none

TESTING
  xarray/core/dataset.py
Due: unittests, mypy

Apply suggestions from code review
  xarray/core/combine.py
  xarray/tests/test_combine.py
Due: unittests, mypy

fix typing
  xarray/core/combine.py
Due: unittests, mypy

Update xarray/core/combine.py
  xarray/core/combine.py
Due: unittests, mypy

test np.matrix
  xarray/tests/test_variable.py
Due: mypy

unpin array-api-strict, as issues are resolved upstream (#9762)
  ci/requirements/all-but-dask.yml
  ci/requirements/all-but-numba.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

fix cf decoding of grid_mapping
  xarray/conventions.py
Due: unittests, mypy

fix linter
  xarray/conventions.py
Due: unittests, mypy

Optimize polyfit
  doc/whats-new.rst
  xarray/core/dask_array_compat.py
  xarray/core/dask_array_ops.py
  xarray/core/dataset.py
  xarray/core/nputils.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

clean up little more
  xarray/core/dataset.py
Due: unittests, mypy

more clean up
  xarray/core/dataset.py
Due: unittests, mypy

Add one comment
  xarray/core/dask_array_ops.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

fix whats-new
  doc/whats-new.rst
Due: none

fix comment
  xarray/core/variable.py
Due: unittests, mypy

Reduce the number of tasks when the limit parameter is set on the push function
  xarray/core/dask_array_ops.py
Due: unittests, mypy

unnest list, add tests
  xarray/conventions.py
  xarray/tests/test_backends.py
Due: unittests, mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

check for second warning, copy to prevent windows error (?)
  xarray/tests/test_backends.py
Due: mypy

revert copy, but set allow_cleanup_failures=ON_WINDOWS
  xarray/tests/test_backends.py
Due: mypy

fix html repr indexes section
  xarray/core/formatting_html.py
  xarray/static/css/style.css
Due: unittests, mypy

Use ``map_overlap`` for rolling reducers with Dask
  xarray/core/dask_array_ops.py
  xarray/core/rolling.py
Due: unittests, mypy

Enable argmin test
  xarray/core/rolling.py
  xarray/tests/test_rolling.py
Due: unittests, mypy

Update
  xarray/core/dask_array_ops.py
  xarray/core/rolling.py
Due: unittests, mypy

Reduce the number of tasks when the limit parameter is set on the push function, and incorporate the method parameter for the cumreduction on the push method
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_duck_array_ops.py
Due: unittests, mypy

Update xarray/core/dask_array_ops.py
  xarray/core/dask_array_ops.py
Due: unittests, mypy

fix html repr indexes section (#9768)
  xarray/core/formatting_html.py
  xarray/static/css/style.css
Due: unittests, mypy

Use last instead of creating a custom function, and add a keepdims parameter for the last and first to make it compatible with the blelloch method
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Add SeasonGrouper, SeasonResampler
  doc/api.rst
  properties/test_properties.py
  xarray/core/toolzcompat.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Add skeleton tests
  xarray/tests/test_groupby.py
Due: mypy

small edits
  properties/test_properties.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

cftime support
  xarray/groupers.py
Due: unittests, mypy

Allow sliding seasons
  xarray/core/groupby.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Support "subsampled" seasons
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Remove the keepdims on the last and first method and use the nanlast method directly, they already have the parameter
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Add reset
  xarray/groupers.py
Due: unittests, mypy
