Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

adding 'mode' parameter to open_datatree method
  xarray/backends/h5netcdf_.py
Due: unittests, mypy

adding 'mode' parameter to H5NetCDFStore.open method
  xarray/backends/h5netcdf_.py
Due: unittests, mypy

Add typing
  xarray/backends/api.py
Due: unittests, mypy

data is already a valid duckarray, no need to recheck
  xarray/backends/api.py
Due: unittests, mypy

don't support `datetime` scalars since that would be a new feature
  xarray/tests/test_dtypes.py
Due: mypy

make sure passing only scalars also works
  xarray/tests/test_dtypes.py
Due: mypy

FIX: do not sort datasets in combine_by_coords
  xarray/core/combine.py
Due: unittests, mypy

add test
  xarray/tests/test_combine.py
Due: mypy

move the fallback version of `result_type` into a separate function
  xarray/core/dtypes.py
Due: unittests, mypy

ignore the custom `inf` / `ninf` / `na` objects
  xarray/core/dtypes.py
Due: unittests, mypy

more temporary fixes
  xarray/core/dtypes.py
Due: unittests, mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

remove debug print statements
  xarray/core/dtypes.py
Due: unittests, mypy

use groupby_defaultdict
  xarray/core/combine.py
Due: unittests, mypy

Remove empty code cell
  doc/examples/multidimensional-coords.ipynb
Due: none

Update daskmanager.py
  xarray/namedarray/daskmanager.py
Due: unittests, mypy

Remove empty code cell (#9071)
  doc/examples/multidimensional-coords.ipynb
Due: none

add more details to type determination
  doc/user-guide/io.rst
Due: none

fix whats-new.rst
  doc/whats-new.rst
Due: none

change the representation for inf / ninf for boolean and nonnumeric arrays
  xarray/core/dtypes.py
Due: unittests, mypy

pass arrays instead of relying on implicit casting using `asarray`
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_ops.py
Due: mypy

refactor the implementation of `result_type`
  xarray/core/dtypes.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_dtypes.py
Due: unittests, mypy

remove obsolete comment
  xarray/core/duck_array_ops.py
Due: unittests, mypy

proper placement of the `result_type` comment
  xarray/core/duck_array_ops.py
Due: unittests, mypy

back to using a list instead of a tuple
  xarray/core/duck_array_ops.py
Due: unittests, mypy

add order for polynomial, fixes #8762
  xarray/core/resample.py
Due: unittests, mypy

add bugfixes in whats_new.rst, fixes #8762
  doc/whats-new.rst
  xarray/core/resample.py
Due: unittests, mypy

fix typo
  xarray/core/resample.py
Due: unittests, mypy

Initial whats-new without PR
  doc/whats-new.rst
Due: none

display_variables_nbytes
  doc/user-guide/options.rst
  xarray/core/formatting.py
  xarray/core/options.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Mass-replace '> Size:'
  xarray/backends/api.py
  xarray/coding/cftimeindex.py
  xarray/core/_aggregations.py
  xarray/core/accessor_dt.py
  xarray/core/accessor_str.py
  xarray/core/alignment.py
  xarray/core/combine.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/concat.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/formatting.py
  xarray/core/groupby.py
  xarray/core/merge.py
  xarray/core/options.py
  xarray/core/parallel.py
  xarray/core/rolling.py
  xarray/core/rolling_exp.py
  xarray/core/variable.py
  xarray/namedarray/_aggregations.py
  xarray/namedarray/_array_api.py
  xarray/plot/utils.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
  xarray/tests/test_sparse.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Added PR ref
  doc/whats-new.rst
Due: none

Regexp to remove nbytes at variable level
  xarray/backends/api.py
  xarray/coding/cftimeindex.py
  xarray/core/_aggregations.py
  xarray/core/accessor_dt.py
  xarray/core/accessor_str.py
  xarray/core/alignment.py
  xarray/core/combine.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/concat.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/groupby.py
  xarray/core/merge.py
  xarray/core/parallel.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
  xarray/tests/test_sparse.py
Due: unittests, mypy

Remote kilobytes
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/options.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Add back bytes on dask arrays
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallel.py
Due: unittests, mypy

Fix remaining tests, mypyt
  xarray/namedarray/_array_api.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

fix test_repr_multiindex_long
  xarray/tests/test_dataarray.py
Due: mypy

Give life back to lazy array nbytes individual variable display
  xarray/tests/test_dask.py
  xarray/tests/test_sparse.py
Due: mypy

expect the platform-specific default dtype for integers
  xarray/tests/test_dtypes.py
Due: mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
