Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

refactor / move safe_cast_to_index
  xarray/core/alignment.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/utils.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexes.py
  xarray/tests/test_utils.py
Due: unittests, mypy

Fix to_index(): return multiindex level as single index (#7105)
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/dataarray.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexes.py
  xarray/tests/test_utils.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Restore npcompat
  xarray/core/npcompat.py
Due: unittests, mypy

Fix bad merge
  xarray/core/groupby.py
Due: unittests, mypy

Update open_dataset backend to ensure compatibility with new explicit index model
  xarray/backends/api.py
Due: unittests, mypy

Avoid generation of Indexes object
  xarray/backends/api.py
Due: unittests, mypy

Add test ensuring backend compatibility with multiindices
  xarray/tests/test_backends_api.py
Due: mypy

Mention open_dataset backend multi-index compatibility in whats-new
  doc/whats-new.rst
Due: none

Update xarray/tests/test_backends_api.py
  xarray/tests/test_backends_api.py
Due: mypy

Use stack to construct multi index in test
  xarray/tests/test_backends_api.py
Due: mypy

remove _create_multiindex utility function
  xarray/tests/test_backends_api.py
Due: mypy

remove pandas import
  xarray/tests/test_backends_api.py
Due: mypy

Include variable name in message if `decode_cf_variable` raises an error (#7147)
  doc/whats-new.rst
  xarray/conventions.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

update whats-new
  doc/whats-new.rst
Due: none

clean up table
  doc/whats-new.rst
Due: none

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

display the indexes in the string reprs (#6795)
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/indexes.py
  xarray/core/options.py
Due: unittests, mypy

Bump minimum numpy version to 1.20 (#6834)
  ci/requirements/all-but-dask.yml
  ci/requirements/bare-minimum.yml
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  requirements.txt
  setup.cfg
  xarray/core/_typed_ops.pyi
  xarray/core/accessor_dt.py
  xarray/core/accessor_str.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/groupby.py
  xarray/core/indexing.py
  xarray/core/npcompat.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/tests/__init__.py
  xarray/tests/test_coding_times.py
  xarray/util/generate_ops.py
Due: unittests, mypy

Apply typing suggestions from code review
  xarray/backends/file_manager.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Update open_dataset backend to ensure compatibility with new explicit index model (#7150)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends_api.py
Due: unittests, mypy

fix some typing errors
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy

more typing fixes
  pyproject.toml
  xarray/plot/accessor.py
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
Due: unittests, mypy

fix last mypy complaints
  xarray/core/pycompat.py
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy

try fixing facetgrid examples
  xarray/plot/facetgrid.py
Due: unittests, mypy

fix py3.8 problems
  xarray/plot/utils.py
Due: unittests, mypy

update plotting.rst
  ci/requirements/min-all-deps.yml
  doc/user-guide/plotting.rst
Due: none

update api
  doc/api-hidden.rst
  doc/api.rst
Due: none

update plot docstring
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

add a tip about yincrease in imshow
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

set default for x/yincrease in docstring
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

fix import of Hashable
  xarray/backends/file_manager.py
Due: unittests, mypy

add mypy with python3.8 to ci
  .github/workflows/ci-additional.yaml
Due: none

fix mypy python 3.8 problems
  xarray/core/types.py
Due: unittests, mypy

add verbosity flag to mypy action
  .github/workflows/ci-additional.yaml
Due: none

silence import errors in mypy python 3.8
  .github/workflows/ci-additional.yaml
Due: none
