Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

switch to unit `"D"` (#9170)
  xarray/tests/test_missing.py
Due: mypy

use a `composite` to generate the dataframe with a tz-aware dt column
  properties/test_pandas_roundtrip.py
Due: none

remove the `xfail`
  properties/test_pandas_roundtrip.py
Due: none

Add test for assert_allclose on dtype S (#9165)
  xarray/tests/test_assertions.py
Due: mypy

Use np.char.decode, not np.char.chararray.decode
  xarray/testing/assertions.py
Due: unittests, mypy

List #9165 fix in whats-new.rst
  doc/whats-new.rst
Due: none

cross-like the fixed function
  doc/whats-new.rst
Due: none

add backend intro and how-to diagram
  doc/internals/how-to-add-new-backend.rst
  doc/user-guide/io.rst
Due: none

Improve a parameter ID in tests.test_assertions
  xarray/tests/test_assertions.py
Due: mypy

update what's new
  doc/whats-new.rst
Due: none

fix link style [skip-ci]
  doc/user-guide/io.rst
Due: none

update numpy nan syntax to address docs build fail [skip-ci]
  doc/user-guide/computation.rst
Due: none

Fix to_netcdf for heirarchical coords
  xarray/core/datatree_io.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

Use simple attrs strategy
  properties/test_properties.py
  xarray/testing/strategies.py
Due: unittests, mypy

whats-new normalization
  doc/whats-new.rst
Due: none

`NaN` → `nan`
  doc/getting-started-guide/faq.rst
  doc/user-guide/computation.rst
Due: none

new numpy scalar repr
  xarray/core/computation.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
Due: unittests, mypy

modified the combined.json file
  doc/combined.json
Due: none

Add ChainSet
  xarray/core/utils.py
  xarray/tests/test_utils.py
Due: unittests, mypy

Fix example code formatting for CachingFileManager
  xarray/backends/file_manager.py
Due: unittests, mypy

Slightly improve DataTree repr (#9064)
  xarray/core/datatree.py
  xarray/core/datatree_render.py
  xarray/core/formatting.py
  xarray/core/iterators.py
  xarray/tests/test_datatree.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Fix example code formatting for CachingFileManager (#9178)
  xarray/backends/file_manager.py
Due: unittests, mypy

Change np.core.defchararray to np.char (#9165) (#9166)
  doc/whats-new.rst
  xarray/testing/assertions.py
  xarray/tests/test_assertions.py
Due: unittests, mypy

Revise internal data model; remove ChainSet
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/core/utils.py
  xarray/tests/test_datatree.py
  xarray/tests/test_utils.py
Due: unittests, mypy

temporarily pin `numpy<2`
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

promote floating-point dates to 64-bit while decoding
  xarray/coding/times.py
Due: unittests, mypy

add a test to make sure we don't regress
  xarray/tests/test_coding_times.py
Due: mypy

whats-new entry
  doc/whats-new.rst
Due: none

temporarily pin `numpy<2` (#9181)
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

unpin `numpy` in the docs [skip-ci]
  ci/requirements/doc.yml
Due: none

temporarily remove `pydap` from CI
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

try extracting the scalars to pass to `linspace`
  doc/user-guide/interpolation.rst
Due: none

temporarily remove `pydap` from CI (#9183)
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

also pin `numpy` in the all-but-dask CI
  ci/requirements/all-but-dask.yml
Due: none

also pin `numpy` in the all-but-dask CI (#9184)
  ci/requirements/all-but-dask.yml
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
