Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

fix doctests
  xarray/core/_aggregations.py
  xarray/namedarray/_aggregations.py
Due: unittests, mypy

fix doctests
  xarray/core/_aggregations.py
  xarray/namedarray/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

remove bad blank lines
  xarray/core/_aggregations.py
  xarray/namedarray/_aggregations.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

[pydap backend] enables downloading multiple dim arrays within single http request (#10629)
  ci/requirements/environment.yml
  doc/whats-new.rst
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

set missing params
  xarray/backends/plugins.py
Due: unittests, mypy

don't add new behavior to netcdf4 backend
  xarray/backends/common.py
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
Due: unittests, mypy

numpydocify
  xarray/backends/common.py
Due: unittests, mypy

Add Dataset.subset() method for type-stable variable selection
  CLAUDE.md
  doc/api/dataset.rst
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Add an arithmetic_compat option to xr.set_options, which determines how non-index coordinates of the same name are compared for potential conflicts when performing binary operations.
  doc/whats-new.rst
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/options.py
  xarray/structure/merge.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_interp.py
  xarray/util/deprecation_helpers.py
Due: unittests, mypy

Adapt to change in behavior of pandas.Timestamp constructor
  xarray/coding/times.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Fix typing
  xarray/coding/times.py
Due: unittests, mypy

Fix flaky Hypothesis stateful test for unique name generation
  properties/test_index_manipulation.py
Due: none

Fix combine_by_coords monotonicity check for non-concat dims
  xarray/core/combine.py
  xarray/tests/test_combine.py
Due: unittests, mypy

Use safer return logic
  xarray/coding/times.py
Due: unittests, mypy

implement vectorized method and dask extension
  .pre-commit-config.yaml
  xarray/core/_aggregations.py
  xarray/core/duck_array_ops.py
  xarray/namedarray/_aggregations.py
  xarray/tests/test_duck_array_ops.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

fix missing permute_dims in old numpy versions
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Fix flaky Hypothesis stateful test for unique name generation (#10946)
  properties/test_index_manipulation.py
Due: none

normalize the applied slice
  xarray/core/indexing.py
Due: unittests, mypy

tests for `_index_indexer_1d`
  xarray/tests/test_indexing.py
Due: mypy

normalize all indexer types
  xarray/core/indexing.py
Due: unittests, mypy

also check `normalize_indexer`
  xarray/tests/test_indexing.py
Due: mypy

a few more test cases
  xarray/tests/test_indexing.py
Due: mypy

what's new entry [skip-ci]
  doc/whats-new.rst
Due: none

Add an arithmetic_compat option to xr.set_options, which determines how non-index coordinates of the same name are compared for potential conflicts when performing binary operations.
  doc/whats-new.rst
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/options.py
  xarray/structure/merge.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

reword
  doc/whats-new.rst
Due: none

fix: apply suggestion
  xarray/core/dtypes.py
Due: unittests, mypy

normalize the first indexer (#10948)
  doc/whats-new.rst
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

Apply suggestion from @ianhi
  xarray/backends/netCDF4_.py
Due: unittests, mypy

simplify
  xarray/backends/pydap_.py
Due: unittests, mypy

Mostly restore `netcdf` backend behavior with URLs (#10931)
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

needs_lock is now used
  xarray/backends/file_manager.py
Due: unittests, mypy

Only close if file is a file
  xarray/backends/file_manager.py
Due: unittests, mypy

Preserve lock for pickling
  xarray/backends/file_manager.py
Due: unittests, mypy

Do not try to acquire lock twice
  xarray/backends/file_manager.py
Due: unittests, mypy

Move array-api-strict to test dep
  pixi.toml
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
