Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Apply suggestions from code review
  doc/user-guide/io.rst
Due: none

Add a `.drop_attrs` method (#8258)
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Update test_namedarray.py
  xarray/tests/test_namedarray.py
Due: mypy

Update _typing.py
  xarray/namedarray/_typing.py
Due: unittests, mypy

Revert "Update _typing.py"
  xarray/namedarray/_typing.py
Due: unittests, mypy

Test main push
  xarray/namedarray/_typing.py
Due: unittests, mypy

Revert "Test main push"
  xarray/namedarray/_typing.py
Due: unittests, mypy

Rename copy to fastpath and invert checks.
  asv_bench/benchmarks/datatree.py
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Update xarray/tests/test_datatree.py
  xarray/tests/test_datatree.py
Due: mypy

Allow mypy to run in vscode
  properties/__init__.py
  pyproject.toml
Due: none

update typed ops
  xarray/core/_typed_ops.py
  xarray/util/generate_ops.py
Due: unittests, mypy

remove useless DaskArray type in scalar or array type
  xarray/core/types.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

fix missing import in type_checking
  xarray/coding/times.py
Due: unittests, mypy

fix import
  xarray/coding/cftimeindex.py
Due: unittests, mypy

improve cftime offsets typing
  xarray/coding/cftime_offsets.py
  xarray/tests/test_cftimeindex_resample.py
Due: unittests, mypy

fix classvars
  xarray/coding/cftime_offsets.py
  xarray/tests/test_cftime_offsets.py
Due: unittests, mypy

fix some checks
  xarray/core/resample_cftime.py
Due: unittests, mypy

suppress ipython block output
  doc/user-guide/io.rst
Due: none

dict -> Mapping in type annotation
  xarray/backends/api.py
Due: unittests, mypy

use typevar for _item_or_default annotation
  xarray/conventions.py
Due: unittests, mypy

implement feature for 4 additional parameters
  xarray/backends/api.py
  xarray/conventions.py
Due: unittests, mypy

fix default value inconsistency
  xarray/conventions.py
Due: unittests, mypy

Allow mypy to run in vscode (#9239)
  properties/__init__.py
  pyproject.toml
Due: none

add what's new + None annotation
  doc/whats-new.rst
  xarray/conventions.py
Due: unittests, mypy

_item_or_default return type T | None
  xarray/conventions.py
Due: unittests, mypy

remove deault default value _item_or_default
  xarray/conventions.py
Due: unittests, mypy

Expose `memory` argument for "netcdf4" engine
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Supports saving netcdf4 to memory
  xarray/backends/api.py
  xarray/backends/file_manager.py
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

change to okexcept [skip-ci]
  doc/user-guide/io.rst
Due: none

sandbox open groups
  xarray/backends/api.py
Due: unittests, mypy

re-add supress so error output is ignored [skip-ci]
  doc/user-guide/io.rst
Due: none

Add attrs argument to DataTree constructor
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

rough implementation of open_groups
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
Due: unittests, mypy
