Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Use type alias instead of refining filename_or_obj type everywhere
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
Due: unittests, mypy

Support for DataTree.to_netcdf to write to a file-like object or bytes (#10571)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/file_manager.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/core/utils.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_common.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

tests(formatting): add unit tests for inline_dask_repr, inline_sparse_repr, and shorten_list_repr
  xarray/tests/test_formatting.py
Due: mypy

normalizing whitespace for doctest
  xarray/core/datatree.py
Due: unittests, mypy

normalizing whitespace and adding ellipsis for doctest
  xarray/core/datatree.py
Due: unittests, mypy

Updated whats-new
  doc/whats-new.rst
Due: none

remove whats-new
  doc/whats-new.rst
Due: none

Updated Whats-new.rst
  doc/whats-new.rst
Due: none

add kwarg to handle invalid files in open_mfdataset (#9955)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

try fixing _in_memory error by not returning the adapter class
  xarray/core/indexing.py
Due: unittests, mypy

remove scope=module from fixture for robustness
  xarray/tests/test_async.py
Due: mypy

modify test to be happy with either error message
  xarray/tests/test_async.py
Due: mypy

use Variable instead of Dataset to avoid race condition of indexing between different variables
  xarray/tests/test_async.py
Due: mypy

Avoid refining parent dimensions in NetCDF files
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

Typo
  xarray/backends/common.py
Due: unittests, mypy

doc failure
  doc/whats-new.rst
Due: none

Rewrite DataTree.to_netcdf and support netCDF4 in-memory
  xarray/__init__.py
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/file_manager.py
  xarray/backends/h5netcdf_.py
  xarray/backends/locks.py
  xarray/backends/netCDF4_.py
  xarray/backends/scipy_.py
  xarray/backends/zarr.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_api.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_backends_file_manager.py
Due: unittests, mypy

Refactor to_netcdf() and to_zarr() internals
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/locks.py
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

Sanitize unlimited_dims when writing `to_netcdf` (#10608)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

clarify lazy behaviour and eager loading chunks=None in open_*-functions
  xarray/backends/api.py
Due: unittests, mypy

clarify lazy behaviour and eager loading chunks=None in open_*-functions
  xarray/backends/zarr.py
Due: unittests, mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

fix bad merge in API docs
  doc/api.rst
Due: none

add test to test_backends.py
  xarray/tests/test_backends.py
Due: mypy

fix bug found by new test, causing pandas indexes to be converted to numpy arrays
  xarray/core/variable.py
Due: unittests, mypy

add test to test_variable.py for lazy async indexing
  xarray/tests/test_variable.py
Due: mypy

move async load tests from test_async.py to test_backends.py
  xarray/tests/test_async.py
  xarray/tests/test_backends.py
Due: mypy

parametrize all tests over zarr_format
  xarray/tests/test_backends.py
Due: mypy

remove test_async.py file entirely
  xarray/tests/test_async.py
Due: mypy

lint
  xarray/tests/test_backends.py
Due: mypy

update PydapArrayWrapper to support backend batching
  xarray/backends/pydap_.py
Due: unittests, mypy

update PydapDataStore to use backend logic in dap4 to batch variables all together in single dap url
  xarray/backends/pydap_.py
Due: unittests, mypy

pydap-server it not necessary
  ci/requirements/environment.yml
Due: none

set `batch=False` as default
  xarray/backends/pydap_.py
Due: unittests, mypy
