Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

.
  xarray/core/common.py
Due: unittests, mypy

fix various uses of ds.dims in tests
  xarray/tests/test_computation.py
  xarray/tests/test_dataset.py
Due: mypy

fix some warnings
  xarray/core/formatting.py
  xarray/core/utils.py
Due: unittests, mypy

add test that FutureWarnings are correctly raised
  xarray/tests/test_dataset.py
Due: mypy

more fixes to avoid warnings
  xarray/core/dataset.py
Due: unittests, mypy

Update to mypy1.7 (#8501)
  .github/workflows/ci-additional.yaml
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/dataset.py
Due: unittests, mypy

change type of curvefit's p0 and bounds to mapping (#8502)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

roll out the new/refreshed Xarray logo
  doc/_static/logos/Xarray_Icon_Final.png
  doc/_static/logos/Xarray_Icon_Final.svg
  doc/_static/logos/Xarray_Logo_FullColor_InverseRGB_Final.png
  doc/_static/logos/Xarray_Logo_FullColor_InverseRGB_Final.svg
  doc/_static/logos/Xarray_Logo_RGB_Final.png
  doc/_static/logos/Xarray_Logo_RGB_Final.svg
  doc/conf.py
Due: none

[skip-ci] update og image to png
  doc/conf.py
Due: none

Deprecate `squeeze` in GroupBy.
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

remove TikZ logo
  doc/_static/dataset-diagram-build.sh
  doc/_static/dataset-diagram-logo.pdf
  doc/_static/dataset-diagram-logo.png
  doc/_static/dataset-diagram-logo.svg
  doc/_static/dataset-diagram-logo.tex
  doc/_static/dataset-diagram-square-logo.png
  doc/_static/dataset-diagram-square-logo.tex
  doc/_static/dataset-diagram.png
  doc/_static/dataset-diagram.tex
  doc/_static/favicon.ico
Due: none

[skip-ci] update gallery thumbnails
  doc/_static/dataset-diagram.png
  doc/gallery.yml
Due: none

Implement `np.clip` as `__array_function__`
  xarray/core/arithmetic.py
  xarray/tests/test_computation.py
Due: unittests, mypy

update tests to avoid warnings
  xarray/tests/test_concat.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataset.py
  xarray/tests/test_missing.py
  xarray/tests/test_rolling.py
Due: mypy

yet more fixes to avoid warnings
  xarray/core/dataset.py
  xarray/core/formatting_html.py
Due: unittests, mypy

silence warnings
  xarray/tests/test_groupby.py
Due: mypy

better warning
  xarray/core/groupby.py
Due: unittests, mypy

Fix first, last
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Set squeeze=None for Dataset too
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
  xarray/tests/test_units.py
Due: unittests, mypy

Update xarray/tests/test_groupby.py
  xarray/tests/test_groupby.py
Due: mypy

Test one more warning
  xarray/tests/test_groupby.py
Due: mypy

Grouper object design doc
  design_notes/grouper_objects.md
Due: none

[skip-ci] Update design_notes/grouper_objects.md
  design_notes/grouper_objects.md
Due: none

also warn in groupby.dims
  xarray/core/groupby.py
Due: unittests, mypy

change groupby tests to match
  xarray/tests/test_groupby.py
Due: mypy

update whatsnew to include groupby deprecation
  doc/whats-new.rst
Due: none

filter warning when we actually test ds.dims
  xarray/tests/test_dataset.py
Due: mypy

remove error I used for debugging
  xarray/core/utils.py
Due: unittests, mypy

Fully deprecate `.drop` (#8497)
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

change to plot_unit_format
  doc/whats-new.rst
  xarray/core/options.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy

fix typing
  xarray/backends/api.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

add entry to whats-new
  doc/whats-new.rst
Due: none

add whats-new
  doc/whats-new.rst
Due: none

Fix docstrings for `combine_by_coords` (#8471)
  doc/whats-new.rst
  xarray/core/combine.py
Due: unittests, mypy
