Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

update comment
  xarray/backends/zarr.py
Due: unittests, mypy

bump min deps
  ci/requirements/bare-minimum.yml
  ci/requirements/min-all-deps.yml
Due: none

improve min_deps_check
  ci/min_deps_check.py
  ci/requirements/min-all-deps.yml
  requirements.txt
  setup.cfg
Due: none

bump netcdf version
  ci/min_deps_check.py
  ci/requirements/min-all-deps.yml
Due: none

remove outdated comment
  ci/requirements/min-all-deps.yml
Due: none

update comments
  ci/requirements/min-all-deps.yml
Due: none

update docs
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
Due: none

deprecate pynio backend
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/user-guide/io.rst
  xarray/backends/pynio_.py
Due: unittests, mypy

add whats new
  doc/whats-new.rst
Due: none

fix whats new
  doc/whats-new.rst
Due: none

Revert "WIP"
  xarray/core/groupby.py
Due: unittests, mypy

bump min deps (#7300)
  ci/min_deps_check.py
  ci/requirements/bare-minimum.yml
  ci/requirements/min-all-deps.yml
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  requirements.txt
  setup.cfg
Due: none

use DeprecationWarning
  xarray/backends/pynio_.py
Due: unittests, mypy

update whats new
  doc/whats-new.rst
Due: none

Test adding __class_getitem__
  xarray/core/coordinates.py
Due: unittests, mypy

Update coordinates.py
  xarray/core/coordinates.py
Due: unittests, mypy

Test adding a _data slot.
  xarray/core/coordinates.py
Due: unittests, mypy

Adding class_getitem seems to work.
  xarray/core/coordinates.py
Due: unittests, mypy

Use a default value for constant dimensions (#7281)
  xarray/plot/utils.py
Due: unittests, mypy

Fix some typing errors in DuckArrayModule (#7296)
  xarray/core/pycompat.py
Due: unittests, mypy

test mypy on 3.8
  .github/workflows/ci-additional.yaml
Due: none

Test copying the entire workflow.
  .github/workflows/ci-additional.yaml
Due: none

Update ci-additional.yaml
  .github/workflows/ci-additional.yaml
Due: none

Add mypy version to xr.show_versions
  xarray/util/print_versions.py
Due: unittests, mypy

Update print_versions.py
  xarray/util/print_versions.py
Due: unittests, mypy

Last test running 3.8 inside mypy workflow
  .github/workflows/ci-additional.yaml
Due: none

Use the copy/pasted workflow only
  .github/workflows/ci-additional.yaml
Due: none

Reset file pointer to 0 when reading file stream
  xarray/core/utils.py
Due: unittests, mypy

Expect warning rather than ValueError for test_open_twice
  xarray/tests/test_backends.py
Due: mypy

Remove checks for errors raised in test_open_fileobj
  xarray/tests/test_backends.py
Due: mypy

Fix typo form -> from
  xarray/core/utils.py
Due: unittests, mypy

Add changelog entry for bugfix
  doc/whats-new.rst
Due: none

Fixed type errors in `mypy` GitHub Action (#6963)
  .github/workflows/ci-additional.yaml
  xarray/backends/api.py
  xarray/core/merge.py
  xarray/core/types.py
Due: unittests, mypy

Add mypy version to xr.show_versions (#7303)
  xarray/util/print_versions.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
