Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Allow the label run-upstream to run upstream CI (#7787)
  .github/workflows/upstream-dev-ci.yaml
Due: none

defined type for NormalizedChunks
  xarray/backends/api.py
  xarray/core/daskmanager.py
  xarray/core/parallelcompat.py
  xarray/core/types.py
  xarray/tests/test_parallelcompat.py
Due: unittests, mypy

standardized capitalization of ChunkManagerEntrypoint
  xarray/backends/zarr.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallelcompat.py
  xarray/core/variable.py
Due: unittests, mypy

ensure ruff doesn't remove import
  xarray/core/variable.py
Due: unittests, mypy

[skip-ci] try mamba?
  .github/workflows/benchmarks.yml
Due: none

Update requirements.txt
  requirements.txt
Due: none

[skip-ci] increase conda verbosity
  .github/workflows/benchmarks.yml
Due: none

Update asv.conf.json
  asv_bench/asv.conf.json
Due: none

[skip-ci] specify channels
  .github/workflows/benchmarks.yml
  asv_bench/asv.conf.json
Due: none

[skip-ci] Update .github/workflows/benchmarks.yml
  .github/workflows/benchmarks.yml
Due: none

adjust the deprecation policy for python (#7793)
  ci/min_deps_check.py
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
Due: none

[skip-ci] bugfix
  asv_bench/benchmarks/groupby.py
Due: none

[skip-ci] Parameterize use_flox
  asv_bench/benchmarks/groupby.py
Due: none

[skip-ci] cleanup
  asv_bench/benchmarks/groupby.py
Due: none

[skip-ci] fixes
  asv_bench/benchmarks/groupby.py
Due: none

Fix groupby binary ops when grouped array is subset relative to other (#7798)
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

[skip-ci] fix resample parameterizing
  asv_bench/benchmarks/groupby.py
Due: none

Fix `min_count` behaviour with flox.
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

[skip-ci] Add cftime groupby, resample benchmarks (#7795)
  asv_bench/asv.conf.json
  asv_bench/benchmarks/groupby.py
Due: none

ignore remaining typing errors stemming from unclear dask typing for chunks arguments
  xarray/core/dataset.py
  xarray/core/parallelcompat.py
  xarray/core/variable.py
Due: unittests, mypy

Revert "Calculate group_indices only when necessary"
  xarray/core/groupby.py
Due: unittests, mypy

Calculate group_indices only when necessary
  xarray/core/groupby.py
Due: unittests, mypy

Fix regression from deep copy
  xarray/core/groupby.py
Due: unittests, mypy

rename store_kwargs->chunkmanager_store_kwargs
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/core/daskmanager.py
  xarray/core/dataset.py
Due: unittests, mypy

missed return value
  xarray/core/dataset.py
Due: unittests, mypy

redirect dask.delayed in open_mfdataset through ChunkManager
  xarray/backends/api.py
  xarray/core/daskmanager.py
  xarray/core/parallelcompat.py
Due: unittests, mypy

array API fixes for astype
  xarray/core/accessor_str.py
  xarray/core/variable.py
Due: unittests, mypy

Introduce Grouper objects internally (#7561)
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Revert "array API fixes for astype"
  xarray/core/accessor_str.py
  xarray/core/variable.py
Due: unittests, mypy

Update environment.yml
  ci/requirements/environment.yml
Due: none

Apply suggestions from code review
  xarray/tests/test_groupby.py
Due: mypy

limit pint version
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
Due: none
