Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

add test_idxmin_dim for TestReduce2D
  xarray/computation/computation.py
  xarray/tests/test_dataarray.py
Due: unittests, mypy

add test_idxmax_dim for TestReduce2D
  xarray/tests/test_dataarray.py
Due: mypy

add test_idxmin_dim for TestReduce3D
  xarray/tests/test_dataarray.py
Due: mypy

update url
  xarray/tests/test_backends.py
Due: mypy

add test_idxmax_dim for TestReduce3D
  xarray/tests/test_dataarray.py
Due: mypy

Update url for example h5netcdf ros3 dataset (#10713)
  xarray/tests/test_backends.py
Due: mypy

use a single get_indexer call
  xarray/core/indexes.py
Due: unittests, mypy

Add GitHub interaction guidelines to CLAUDE.md
  CLAUDE.md
Due: none

Add types-requests to type dependencies
  pyproject.toml
Due: none

Add GitHub interaction guidelines to CLAUDE.md (#10715)
  CLAUDE.md
Due: none

Add types-requests to type dependencies (#10716)
  pyproject.toml
Due: none

Complete deprecation cycle for Dataset.update return value
  doc/whats-new.rst
  xarray/core/dataset.py
Due: unittests, mypy

Fix assert_equal with check_dim_order=False for Datasets with mixed dimension orders
  xarray/testing/assertions.py
  xarray/tests/test_assertions.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

Complete deprecation cycle for Dataset.update return value (#10717)
  doc/whats-new.rst
  xarray/core/dataset.py
Due: unittests, mypy

Allow mean() to work with datetime dtypes
  xarray/core/dataset.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Fix bug and add type annotations
  xarray/backends/file_manager.py
  xarray/backends/locks.py
  xarray/core/types.py
  xarray/tests/test_backends_api.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_backends_file_manager.py
Due: unittests, mypy

tweak tests
  xarray/backends/file_manager.py
  xarray/backends/h5netcdf_.py
  xarray/backends/locks.py
  xarray/backends/netCDF4_.py
  xarray/backends/scipy_.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

remove unnecessary seek
  xarray/backends/scipy_.py
Due: unittests, mypy

Add release notes
  doc/whats-new.rst
Due: none

Fix whats-new.rst
  doc/whats-new.rst
Due: none

fix: update .gitignore to exclude xarray-docs and enhance Zarr encoding documentation with detailed examples for V2 and V3 formats
  .gitignore
  doc/internals/zarr-encoding-spec.rst
  doc/whats-new.rst
Due: none

wording
  doc/whats-new.rst
Due: none

PR number
  doc/whats-new.rst
Due: none

Fix Zarr encoding documentation with consistent examples and clarify dimension and coordinate encoding differences between Zarr V2 and V3 formats.
  doc/whats-new.rst
Due: none

s
  doc/whats-new.rst
Due: none

make suggestion rather than requirement
  .github/ISSUE_TEMPLATE/bugreport.yml
Due: none

fix h5netcdf version check.
  xarray/backends/h5netcdf_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Update .github/ISSUE_TEMPLATE/bugreport.yml
  .github/ISSUE_TEMPLATE/bugreport.yml
Due: none

move badge and use more accessible color
  doc/badge.json
Due: none

Add json file for Xarray Badge (#10666)
  README.md
  doc/badge.json
Due: none

use complete
  .github/ISSUE_TEMPLATE/bugreport.yml
Due: none

Fix Xarray badge
  README.md
Due: none

handle no match case
  xarray/core/indexes.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
