Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Compatibility with Zarr v3b2 (#9795)
  xarray/backends/zarr.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Due: unittests, mypy

ListedColormap: don't pass N colors
  xarray/plot/utils.py
Due: unittests, mypy

use CFDatetimeCoder instance to transport unit/use_cftime
  xarray/backends/api.py
  xarray/coding/times.py
  xarray/conventions.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

fix somewhere else
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy

fix typing
  xarray/tests/test_plot.py
Due: mypy

Faster chunk checking for backend datasets (#9808)
  doc/whats-new.rst
  xarray/core/dataset.py
Due: unittests, mypy

Add note on DataTree.map_over_datasets to migration guide (#9804)
  DATATREE_MIGRATION_GUIDE.md
Due: none

ListedColormap: don't pass N colors (#9811)
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy

v2024.11.0
  doc/whats-new.rst
Due: none

revert array_type methods
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/namedarray/core.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

fix up whats new
  doc/whats-new.rst
Due: none

v2024.11.0 (#9794)
  doc/whats-new.rst
Due: none

raise a helpful `ImportError` for known chunk managers
  xarray/namedarray/parallelcompat.py
Due: unittests, mypy

make sure the new `ImportError` is actually raised
  xarray/tests/test_parallelcompat.py
Due: mypy

check that the more specific error message is preferred
  xarray/tests/test_parallelcompat.py
Due: mypy

prefer the more specific error
  xarray/namedarray/parallelcompat.py
Due: unittests, mypy

fix bad merge
  doc/whats-new.rst
Due: none

also use `ImportError` as indicator for `chunks=None`
  xarray/backends/zarr.py
Due: unittests, mypy

try installing `dask` + `distributed`
  ci/requirements/environment-3.13.yml
  ci/requirements/environment-windows-3.13.yml
Due: none

comment about bool_
  xarray/core/duck_array_ops.py
Due: unittests, mypy

add jax to complete ci envs
  ci/requirements/environment-3.13.yml
  ci/requirements/environment-windows-3.13.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

add pint and sparse to tests
  xarray/core/common.py
  xarray/tests/test_duck_array_wrapping.py
Due: unittests, mypy

remove from windows
  ci/requirements/environment-windows-3.13.yml
  ci/requirements/environment-windows.yml
Due: none

mypy, xfail one more sparse
  xarray/tests/test_duck_array_wrapping.py
Due: mypy

interpolation with nans warning
  xarray/core/dataset.py
Due: unittests, mypy

test modification
  xarray/tests/test_interp.py
Due: mypy

Get rid of deprecated rules removed from ruff 0.8.0
  pyproject.toml
Due: none

Apply new ruff rule RUF021
  xarray/coding/cftime_offsets.py
  xarray/conventions.py
  xarray/core/dataset.py
  xarray/plot/utils.py
  xarray/testing/assertions.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Apply new ruff rule RUF022
  xarray/__init__.py
  xarray/ufuncs.py
Due: unittests, mypy

Apply ruff/pyupgrade rule UP031
  asv_bench/benchmarks/dataset_io.py
  xarray/core/dataset.py
  xarray/plot/utils.py
  xarray/tests/__init__.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Bump ruff version in pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Only compute this array, load computes in place
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

Add test
  xarray/tests/test_plot.py
Due: mypy

Add blank What's New
  doc/whats-new.rst
Due: none

Add blank What's New (#9817)
  doc/whats-new.rst
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
