Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

fix nested paths and add real nestedSequence type
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/netCDF4_.py
  xarray/core/combine.py
Due: unittests, mypy

fix some mypy errors that only appear local?
  xarray/core/datatree_io.py
Due: unittests, mypy

fix infinite recursion (damn str is sequence)
  xarray/core/combine.py
Due: unittests, mypy

Add docs
  doc/user-guide/groupby.rst
  xarray/core/variable.py
Due: unittests, mypy

bugfix
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

update mypy to 1.13 (#9687)
  .github/workflows/ci-additional.yaml
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/netCDF4_.py
  xarray/core/combine.py
  xarray/core/datatree_io.py
  xarray/core/types.py
  xarray/plot/facetgrid.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Allow wrapping astropy.units.Quantity
  xarray/core/variable.py
Due: unittests, mypy

Refactor out Dataset._shuffle
  xarray/core/dataset.py
  xarray/core/groupby.py
Due: unittests, mypy

fix types
  xarray/tests/__init__.py
Due: mypy

Add GroupBy.map(..., shuffle=True)
  xarray/core/dataarray.py
  xarray/core/groupby.py
  xarray/core/parallel.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

fix tests
  xarray/tests/__init__.py
  xarray/tests/test_dask.py
  xarray/tests/test_groupby.py
Due: mypy

remove reduce arg
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
Due: unittests, mypy

moving list of interpolants
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

formatting
  xarray/core/dataset.py
Due: unittests, mypy

fix typing
  xarray/tests/test_interp.py
Due: mypy

nd interpolants added
  doc/user-guide/interpolation.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/tests/test_interp.py
Due: unittests, mypy

list of string args for method
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

Update xarray/tests/test_interp.py
  xarray/tests/test_interp.py
Due: mypy

docstring formatting
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

doc build issues
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

nd_nd test update
  xarray/tests/test_interp.py
Due: mypy

remove reduce from tests
  xarray/tests/test_interp.py
Due: mypy

docstrings
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

test method changes
  xarray/core/missing.py
  xarray/tests/test_interp.py
Due: unittests, mypy

formatting
  xarray/tests/test_interp.py
Due: mypy

scipy ref
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

removing other interpolants from test_interpolate_chunk_1d since cannot be 1d decomposed
  xarray/tests/test_interp.py
Due: mypy

formatting
  xarray/core/dataarray.py
  xarray/core/dataset.py
Due: unittests, mypy

removing cubic from chunk 1d test because of timeout
  xarray/tests/test_interp.py
Due: mypy

add pydap-server dependencies to environment.yml
  ci/requirements/environment.yml
Due: none

add pydap-server dependencies to environment.yml (#9709)
  ci/requirements/environment.yml
Due: none

DOC: mention attribute peculiarities in docs/docstrings (#9700)
  doc/getting-started-guide/faq.rst
  doc/user-guide/data-structures.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
Due: unittests, mypy

GroupBy(chunked-array) (#9522)
  doc/user-guide/groupby.rst
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/utils.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
