Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Fix mypy errors in test_backends.py (#10689)
  .gitignore
  xarray/tests/test_backends.py
Due: mypy

Remove obsolete warning exclusions from pyproject.toml
  pyproject.toml
Due: none

Enable mypy checking for test_utils and test_parallelcompat
  pyproject.toml
  xarray/tests/test_parallelcompat.py
  xarray/tests/test_utils.py
Due: mypy

Also enable mypy for test_missing
  pyproject.toml
  xarray/tests/test_missing.py
Due: mypy

Remove obsolete warning exclusions from pyproject.toml (#10690)
  pyproject.toml
Due: none

Remove additional obsolete UserWarning exclusions
  pyproject.toml
Due: none

Enable mypy checking for test_utils and test_parallelcompat (#10691)
  pyproject.toml
  xarray/tests/test_missing.py
  xarray/tests/test_parallelcompat.py
  xarray/tests/test_utils.py
Due: mypy

Remove 3 more obsolete warning exclusions
  pyproject.toml
Due: none

Use pytest.warns consistently for quantile interpolation deprecation
  xarray/tests/test_dataset.py
Due: mypy

Add local filterwarnings to quantile interpolation deprecation tests
  pyproject.toml
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_variable.py
Due: mypy

Add CLAUDE.md with development setup instructions
  CLAUDE.md
Due: none

Upgrade mypy to 1.17.1 and fix all type errors
  ci/requirements/environment.yml
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/conventions.py
  xarray/core/coordinates.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/indexes/nd_point_index.py
  xarray/structure/alignment.py
  xarray/structure/concat.py
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Add CLAUDE.md with development setup instructions (#10692)
  CLAUDE.md
Due: none

Fix test_stack_unstack for pandas compatibility
  xarray/tests/test_dataarray.py
Due: mypy

Further warning exclusion cleanup and test improvements (#10693)
  pyproject.toml
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_variable.py
Due: mypy

Remove non-tuple sequence indexing warning exclusion
  pyproject.toml
  xarray/tests/test_nputils.py
Due: mypy

Add unused-ignore to all type: ignore comments for CI compatibility
  xarray/coding/cftime_offsets.py
  xarray/core/variable.py
  xarray/indexes/nd_point_index.py
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Remove two obsolete NumPy DeprecationWarning exclusions
  pyproject.toml
Due: none

Change Zarr V3 warnings to default
  pyproject.toml
Due: none

Remove 'invalid value encountered in cast' warning exclusions
  pyproject.toml
  xarray/tests/test_conventions.py
  xarray/tests/test_units.py
Due: mypy

Add types-requests to CI and remove unnecessary type: ignore comments
  ci/requirements/environment.yml
  xarray/core/dataset.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dataset.py
  xarray/tests/test_datatree.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Fix NumPy out-of-bound integer conversion warning
  xarray/coding/variables.py
Due: unittests, mypy

Add back necessary type: ignore comments for CI compatibility
  xarray/core/dataset.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dataset.py
  xarray/tests/test_datatree.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Fix remaining CI mypy errors
  xarray/coding/cftimeindex.py
  xarray/core/indexes.py
  xarray/structure/alignment.py
Due: unittests, mypy

Fix remaining NumPy out-of-bound integer conversion warnings
  xarray/coding/variables.py
Due: unittests, mypy

Fix unreleased bug in DataTree.to_zarr() with mode='r+' (#10685)
  xarray/core/datatree_io.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

QOL: detect both .zarr and .zarr/ as using the zarr engine
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

test: properly test the opening with a trailing slash
  xarray/tests/test_backends.py
Due: mypy

Simplify NumPy overflow handling with cleaner approach
  xarray/coding/variables.py
Due: unittests, mypy

Improve level_coords_dtype typing to match pandas MultiIndex
  xarray/core/indexes.py
Due: unittests, mypy

Add autouse fixture for NumPy 1.x warning handling
  xarray/coding/variables.py
  xarray/tests/conftest.py
Due: unittests, mypy

QOL: detect both `.zarr` and `.zarr/` as using the zarr engine (#10697)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Fix IndexVariable.level_names type to match pandas
  xarray/core/variable.py
Due: unittests, mypy

Remove most warning exclusions (#10695)
  pyproject.toml
  xarray/coding/variables.py
  xarray/tests/conftest.py
  xarray/tests/test_conventions.py
  xarray/tests/test_nputils.py
  xarray/tests/test_units.py
Due: unittests, mypy
