Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Fix pre-commit
  xarray/backends/zarr.py
  xarray/coding/cftimeindex.py
  xarray/coding/strings.py
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_strings.py
  xarray/tests/test_conventions.py
  xarray/tests/test_datatree.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_variable.py
Due: unittests, mypy

Restore ability to specify _FillValue as Python native integers (#9258)
  xarray/coding/variables.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Adding `open_datatree` backend-specific keyword arguments (#9199)
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
Due: unittests, mypy

DAS-2155: Updates imports from benchmark PR.
  asv_bench/benchmarks/dataset_io.py
Due: none

DAS-2155: Oriol suggestions.
  doc/api.rst
  doc/conf.py
Due: none

DAS-2155: Fix build errors in docs for numpy 2.0
  doc/user-guide/data-structures.rst
  doc/user-guide/hierarchical-data.rst
Due: none

Combine CF Unsigned and Mask handling
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Fix small typo in docstring
  xarray/coding/variables.py
Due: unittests, mypy

DAS-2155: First stab at updatating quick-overview.rst for inherited coords.
  doc/api.rst
  doc/getting-started-guide/quick-overview.rst
  xarray/core/datatree.py
Due: unittests, mypy

DAS-2155: removes erroneous example
  doc/getting-started-guide/quick-overview.rst
Due: none

main
  doc/whats-new.rst
Due: none

DAS-2155: tidying for inheritance.
  doc/api.rst
  doc/getting-started-guide/quick-overview.rst
  doc/user-guide/data-structures.rst
Due: none

DAS-2155: Another first stab at adding a hierarchy structure example.
  doc/user-guide/data-structures.rst
Due: none

DAS-2155: Fix typo.
  doc/user-guide/data-structures.rst
Due: none

DAS-2155: Reorder, and fix bullet list
  doc/user-guide/data-structures.rst
Due: none

flox test
  xarray/tests/test_groupby.py
Due: mypy

Fully deprecate squeeze kwarg to groupby
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/groupers.py
  xarray/core/resample.py
  xarray/tests/test_computation.py
  xarray/tests/test_groupby.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

Fix doctests
  xarray/core/_aggregations.py
Due: unittests, mypy

Replace UnsignedIntegerCode tests with CFMaskCoder usage
  xarray/tests/test_coding.py
Due: mypy

Fix dtype type annotation
  xarray/coding/variables.py
Due: unittests, mypy

Fix when unsigned serialization warning is expected in tests
  xarray/coding/variables.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Small refactor of CFMaskCoder decoding
  xarray/coding/variables.py
Due: unittests, mypy

Update xarray/core/groupby.py
  xarray/core/groupby.py
Due: unittests, mypy

Fix whats-new
  doc/whats-new.rst
Due: none

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

DAS-2155: Updates datastructures with extensive (too?) example
  doc/getting-started-guide/quick-overview.rst
  doc/roadmap.rst
  doc/user-guide/data-structures.rst
  doc/user-guide/terminology.rst
  xarray/backends/api.py
Due: unittests, mypy

test that rechunk can be passed through non registered chunked arrays
  xarray/tests/test_parallelcompat.py
Due: mypy

remove chunks and rechunk from chunkmanager
  xarray/namedarray/core.py
  xarray/namedarray/parallelcompat.py
Due: unittests, mypy

Update xarray/tests/test_groupby.py
  xarray/tests/test_groupby.py
Due: mypy

remove now-redundant chunks method from dask chunkmanager
  xarray/namedarray/daskmanager.py
Due: unittests, mypy

use is_chunked_array instead of hasattr(chunks)
  xarray/namedarray/core.py
Due: unittests, mypy

add has_chunkmanager function
  xarray/namedarray/pycompat.py
Due: unittests, mypy

use has_chunkmanager
  xarray/coding/strings.py
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/indexing.py
  xarray/core/missing.py
  xarray/core/utils.py
  xarray/namedarray/core.py
Due: unittests, mypy

fix errors in other tests
  xarray/namedarray/pycompat.py
Due: unittests, mypy

improve docs
  doc/internals/chunked-arrays.rst
Due: none

test that computation proceeds without dask on unregistered chunked arrays
  xarray/tests/test_parallelcompat.py
Due: mypy

commit to test from main
  xarray/backends/api.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
Due: unittests, mypy

Change .groupby fastpath to work for monotonic increasing and decreasing (#7427)
  doc/whats-new.rst
  xarray/core/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy
