Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Self review
  .github/workflows/ci.yaml
  ci/requirements/all-but-dask.yml
  ci/requirements/all-but-numba.yml
  ci/requirements/bare-min-and-scipy.yml
  ci/requirements/bare-minimum.yml
  ci/requirements/environment-3.14.yml
  ci/requirements/environment-windows-3.14.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

Fix RTD for pixi
  .readthedocs.yaml
Due: none

Update contributing instructions for Pixi
  doc/contribute/contributing.rst
Due: none

Allow taking the mean over xarray(pint(numpy(uncertainties)))
  xarray/computation/nanops.py
Due: unittests, mypy

DOC: Correct typos like a/an usage
  design_notes/flexible_indexes_notes.md
  doc/user-guide/data-structures.rst
  doc/user-guide/hierarchical-data.rst
  xarray/backends/api.py
  xarray/convert.py
  xarray/core/indexing.py
  xarray/core/treenode.py
  xarray/core/utils.py
Due: unittests, mypy

Migrate nightly testing to pixi
  .github/workflows/upstream-dev-ci.yaml
  ci/install-upstream-wheels.sh
  pixi.toml
Due: none

Ignore mypy errors found during nightly testing
  xarray/computation/rolling.py
  xarray/computation/rolling_exp.py
  xarray/core/duck_array_ops.py
  xarray/core/nputils.py
  xarray/plot/dataarray_plot.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Remove conda call in Sphinx build process
  doc/conf.py
Due: none

Fix build dir
  .github/workflows/ci-additional.yaml
  .readthedocs.yaml
Due: none

Update links
  doc/contribute/contributing.rst
Due: none

Fix rtd attempt x
  .readthedocs.yaml
Due: none

DOC: Correct typos like a/an usage (#10905)
  design_notes/flexible_indexes_notes.md
  doc/user-guide/data-structures.rst
  doc/user-guide/hierarchical-data.rst
  xarray/backends/api.py
  xarray/convert.py
  xarray/core/indexing.py
  xarray/core/treenode.py
  xarray/core/utils.py
Due: unittests, mypy

Add back `environment.yml` - needed for benchmarks
  ci/requirements/environment.yml
Due: none

Fix fill_value handling during unstack (#10901)
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Fix environments for pyright CI
  .github/workflows/ci-additional.yaml
Due: none

Merge pyright jobs into matrix
  .github/workflows/ci-additional.yaml
Due: none

Simplify implementation of merge() for DataTree (#10844)
  xarray/structure/merge.py
Due: unittests, mypy

Override dask version in nightly
  pixi.toml
Due: none

Update what's new
  doc/whats-new.rst
Due: none

Ensure base Variable class is used when assigning
  xarray/core/coordinates.py
  xarray/structure/merge.py
Due: unittests, mypy

Add tests
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: mypy

fix: remove comment
  xarray/tests/test_dataarray.py
Due: mypy

Update pixi.toml
  pixi.toml
Due: none

Add note re. new pixi instructions to contributing docs
  doc/contribute/contributing.rst
Due: none

import datetime
  xarray/compat/array_api_compat.py
Due: unittests, mypy

fix: do scalar checking inside `__extension_duck_array__where` + remove banned API
  xarray/core/duck_array_ops.py
  xarray/core/extension_array.py
Due: unittests, mypy

typo
  xarray/compat/array_api_compat.py
Due: unittests, mypy

use `zip` with `strict=True`
  xarray/compat/array_api_compat.py
Due: unittests, mypy

chore: add better comment
  xarray/core/dtypes.py
Due: unittests, mypy

fix: mypy
  xarray/core/dtypes.py
  xarray/core/extension_array.py
Due: unittests, mypy

refactor the dtype checks into functions
  xarray/compat/array_api_compat.py
Due: unittests, mypy

return a dtype object instead of the dtype type
  xarray/compat/array_api_compat.py
Due: unittests, mypy

fix: mypy?
  xarray/core/extension_array.py
Due: unittests, mypy

fix: don't use `dtype` where it wasn't before
  xarray/core/duck_array_ops.py
Due: unittests, mypy

fix: test fixture creation
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: mypy

Rewrite test_iso8601_decode to work without cftime
  properties/test_encode_decode.py
  xarray/testing/strategies.py
Due: unittests, mypy

silence warning
  xarray/testing/strategies.py
Due: unittests, mypy
