Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

rename broadcast_variables to broadcast_namedarrays
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/core/variable.py
  xarray/namedarray/core.py
Due: unittests, mypy

Refactor _broadcast_compat_namedarrays and broadcast_namedarrays functions to use `.expand_dims` and `.broadcast_to`
  xarray/namedarray/core.py
Due: unittests, mypy

update type hints
  xarray/namedarray/core.py
Due: unittests, mypy

assert not needed
  xarray/tests/test_plot.py
Due: mypy

Final mypy issue - ignore DataTree.get override.
  xarray/core/datatree.py
Due: unittests, mypy

Update utils.py
  xarray/plot/utils.py
Due: unittests, mypy

cleanup
  properties/test_index_manipulation.py
Due: none

Update contributors in whats-new.rst
  doc/whats-new.rst
Due: none

upstream-dev CI: Fix interp and cumtrapz
  xarray/tests/test_dataset.py
  xarray/tests/test_interp.py
Due: mypy

upstream-dev CI: Fix interp and cumtrapz (#8861)
  xarray/tests/test_dataset.py
  xarray/tests/test_interp.py
Due: mypy

Fix GitHub handle.
  doc/whats-new.rst
Due: none

adapt handling of copy keyword argument in coding/strings.py for numpy >= 2.0dev
  xarray/coding/strings.py
Due: unittests, mypy

import either trapz or trapezoid depending on numpy version
  xarray/tests/test_dataset.py
Due: mypy

replace the use of the removed `nxp` with just plain `numpy`
  xarray/namedarray/_array_api.py
Due: unittests, mypy

add /change whats-new.rst entry
  doc/whats-new.rst
Due: none

directly pass the `numpy` dtype
  xarray/tests/test_namedarray.py
Due: mypy

fix mypy, fix import order
  xarray/tests/test_dataset.py
Due: mypy

replace `dtype.type` with `type(dtype)` for `isnull`
  xarray/core/duck_array_ops.py
Due: unittests, mypy

use a new function to compare dtypes
  xarray/core/duck_array_ops.py
Due: unittests, mypy

numpy 2.0 copy-keyword and trapz vs trapezoid (#8865)
  doc/whats-new.rst
  xarray/coding/strings.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

avoid unnecessary auto-creation of index to avoid userwarning
  xarray/core/dataarray.py
Due: unittests, mypy

Avoid inplace multiplication
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

try replacing set_dims with a combination of expand_dims and broadcast_to
  xarray/namedarray/core.py
Due: unittests, mypy

catch expected FutureWarnings in test_as_variable
  xarray/tests/test_variable.py
Due: mypy

check for coercion to IndexVariable
  xarray/tests/test_coordinates.py
Due: mypy

whatsnew
  doc/whats-new.rst
Due: none

Try numpy2.0 ruff lint
  pyproject.toml
Due: none

break the main __getitem__ method down into smaller methods
  xarray/core/indexing.py
Due: unittests, mypy

Update test_plot.py
  xarray/tests/test_plot.py
Due: mypy

handle the _oindex_get, _vindex_get, and __getitem__ methods for the PandasMultiIndexingAdapter
  xarray/core/indexing.py
Due: unittests, mypy

Update dataarray_plot.py
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

simply index array with the appropriate indexer in `_vindex_get`, `_oindex_get` and `__getitem__`
  xarray/core/indexing.py
Due: unittests, mypy
