Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Add additional test with scalar data_var
  xarray/tests/test_concat.py
Due: mypy

Fix pydap now that NumpyIndexingAdapter does not automatically cast to array
  xarray/backends/pydap_.py
Due: unittests, mypy

Update xarray/backends/pydap_.py
  xarray/backends/pydap_.py
Due: unittests, mypy

switch to ruff for linting
  .pre-commit-config.yaml
  ci/min_deps_check.py
  pyproject.toml
  setup.cfg
  xarray/backends/api.py
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/core/alignment.py
  xarray/core/coordinates.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/indexes.py
  xarray/core/merge.py
  xarray/core/pycompat.py
  xarray/core/types.py
  xarray/testing.py
  xarray/tests/test_accessor_str.py
  xarray/tests/test_distributed.py
  xarray/tests/test_ufuncs.py
Due: unittests, mypy

Add test store.
  xarray/core/indexing.py
  xarray/tests/__init__.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

[skip-ci] Update whats-new
  doc/whats-new.rst
Due: none

Add abstractmethods to backend classes
  xarray/backends/common.py
Due: unittests, mypy

Fix test
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/core/indexing.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

fix mypy?
  xarray/core/indexing.py
Due: unittests, mypy

Fix Zarr test
  xarray/backends/zarr.py
Due: unittests, mypy

test the repr too
  xarray/tests/test_dataset.py
Due: mypy

bump minimum versions, drop py38
  .github/workflows/ci.yaml
  ci/min_deps_check.py
  ci/requirements/bare-minimum.yml
  ci/requirements/doc.yml
  ci/requirements/min-all-deps.yml
  doc/getting-started-guide/installing.rst
  setup.cfg
Due: none

bump mypy action
  .github/workflows/ci-additional.yaml
  .github/workflows/pypi-release.yaml
Due: none

update whats new
  doc/whats-new.rst
Due: none

remove erroneous content from whats-new.rst
  doc/whats-new.rst
Due: none

Add level, depth & width properties https://github.com/xarray-contrib/datatree/pull/208
  xarray/datatree_/datatree/tests/test_treenode.py
  xarray/datatree_/datatree/treenode.py
  xarray/datatree_/docs/source/api.rst
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

Fill missing data_vars during concat by reindexing (#7400)
  doc/whats-new.rst
  xarray/core/concat.py
  xarray/tests/test_concat.py
Due: unittests, mypy

update rest of envs
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
Due: none

audit version checks
  .github/workflows/pypi-release.yaml
  asv_bench/asv.conf.json
  doc/contributing.rst
  xarray/backends/h5netcdf_.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/indexing.py
  xarray/core/missing.py
  xarray/plot/dataarray_plot.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_file_manager.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_combine.py
  xarray/tests/test_computation.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_distributed.py
  xarray/tests/test_sparse.py
Due: unittests, mypy

remove GenericAlias
  xarray/core/coordinates.py
Due: unittests, mypy

Let's see if we have any errors with this
  ci/requirements/environment.yml
Due: none

install `numbagg` from `conda-forge` (#7415)
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

fix a few broken tests
  xarray/coding/times.py
  xarray/tests/test_computation.py
  xarray/tests/test_dask.py
Due: unittests, mypy

stop requiring warning for invalid netcdf
  xarray/tests/test_backends.py
Due: mypy

remove extra requires
  xarray/tests/test_backends.py
Due: mypy

rollback changes to test_accessor_str.py
  xarray/tests/test_accessor_str.py
Due: mypy

update ruff precommit version
  .pre-commit-config.yaml
Due: none

target-version 3.8
  pyproject.toml
Due: none

Guard np.asarray for scalars.
  xarray/backends/zarr.py
Due: unittests, mypy

fixed import errors
  xarray/core/parallelcompat.py
  xarray/core/utils.py
  xarray/core/variable.py
Due: unittests, mypy

generalize .chunk method kwargs
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
Due: unittests, mypy

used dask functions in dask chunkmanager
  xarray/core/parallelcompat.py
Due: unittests, mypy

define signatures for apply_gufunc, blockwise, map_blocks
  xarray/core/parallelcompat.py
Due: unittests, mypy

prototype function to detect which parallel backend to use
  xarray/core/parallelcompat.py
Due: unittests, mypy

add new environment files for python 3.11
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
Due: none

enable python 3.11
  .github/workflows/ci.yaml
Due: none

use the special environment files for python 3.11
  .github/workflows/ci.yaml
Due: none

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
