Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Option to not auto-create index during expand_dims (#8960)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Determine python scalar dtype from array arguments
  xarray/core/duck_array_ops.py
Due: unittests, mypy

build-deps for numcodecs
  ci/install-upstream-wheels.sh
Due: none

temporarily remove `pydap` from the upstream-dev CI
  ci/install-upstream-wheels.sh
Due: none

try adding back `h5netcdf`
  ci/install-upstream-wheels.sh
Due: none

define warnings behaviour
  xarray/tests/test_dataset.py
Due: mypy

change constructor
  xarray/core/dataset.py
Due: unittests, mypy

whatsnew
  doc/whats-new.rst
Due: none

lint
  doc/whats-new.rst
Due: none

change return type of dataset.dims
  xarray/core/dataset.py
Due: unittests, mypy

change return type of DatasetGroupBy.dims
  xarray/core/groupby.py
Due: unittests, mypy

remove temporary return class
  xarray/core/utils.py
Due: unittests, mypy

Enable ffill for datetimes
  xarray/core/duck_array_ops.py
  xarray/tests/test_missing.py
Due: unittests, mypy

skip h5netcdf ros3 tests if h5py was compiled without support for ros3
  xarray/tests/__init__.py
Due: mypy

invert the condition
  xarray/tests/__init__.py
Due: mypy

also invert the other condition
  xarray/tests/__init__.py
Due: mypy

Raise errors on new warnings from within xarray (#8974)
  .github/workflows/ci.yaml
  pyproject.toml
Due: none

Switch all methods to `dim`
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/util/deprecation_helpers.py
Due: unittests, mypy

replace `numpy.core.defchararray.add` with `numpy.strings.add`
  xarray/tests/test_formatting.py
Due: mypy

use `numpy.char.add` instead
  xarray/tests/test_formatting.py
Due: mypy

use the `Quantity` constructor instead of multiplying
  xarray/tests/test_units.py
Due: mypy

more engine environment tricks in preparation for `numpy>=2` (#8978)
  ci/install-upstream-wheels.sh
  xarray/tests/__init__.py
  xarray/tests/test_formatting.py
Due: mypy

manually install `pint` deps into the upstream-dev CI
  ci/install-upstream-wheels.sh
Due: none

regression test for dtype changing in to_stacked_array
  xarray/tests/test_dataset.py
Due: mypy

correct doctest
  xarray/core/dataset.py
Due: unittests, mypy

CI: python 3.12 by default. (#8969)
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/pypi-release.yaml
  ci/requirements/environment-3.13.yml
  ci/requirements/environment-windows-3.13.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  pyproject.toml
  xarray/tests/test_backends.py
  xarray/tests/test_plugins.py
  xarray/util/print_versions.py
Due: unittests, mypy

Remove outdated comment
  xarray/tests/test_concat.py
Due: mypy

test we can skip creation of indexes during shape promotion
  xarray/tests/test_concat.py
Due: mypy

make shape promotion test pass
  xarray/core/concat.py
Due: unittests, mypy

point to issue in whatsnew
  doc/whats-new.rst
Due: none

Switch all methods to `dim` (#8982)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_sparse.py
  xarray/util/deprecation_helpers.py
Due: unittests, mypy

add test
  xarray/tests/test_backends.py
Due: mypy

Update indexing in StackedBytesArray
  xarray/coding/strings.py
Due: unittests, mypy

use tuple indexing in test_backend_array_deprecation_warning
  xarray/tests/test_backends.py
Due: mypy
