Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Mark overridden methods with @override
  xarray/backends/common.py
  xarray/backends/file_manager.py
  xarray/backends/h5netcdf_.py
  xarray/backends/locks.py
  xarray/backends/memory.py
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
  xarray/coding/cftime_offsets.py
  xarray/coding/common.py
  xarray/coding/strings.py
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/computation/rolling.py
  xarray/computation/weighted.py
  xarray/core/common.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/extension_array.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/missing.py
  xarray/core/resample.py
  xarray/core/treenode.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/groupers.py
  xarray/indexes/nd_point_index.py
  xarray/indexes/range_index.py
  xarray/namedarray/core.py
  xarray/namedarray/daskmanager.py
  xarray/ufuncs.py
Due: unittests, mypy

Allow the __type_params__ of PEP 695 classes in stubtest
  _stubtest/allowlist.txt
Due: none

Shuffle before blockwise flox reductions with non-contiguous groups
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Add a drop-python-version Claude skill
  .claude/skills/drop-python-version/SKILL.md
  .claude/skills/upgrade-min-versions/SKILL.md
  .gitignore
Due: none

Drop support for Python 3.11 (#11649)
  .binder/environment.yml
  .github/ISSUE_TEMPLATE/bugreport.yml
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  asv_bench/asv.conf.json
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  pixi.toml
  pyproject.toml
  xarray/backends/zarr.py
  xarray/core/treenode.py
  xarray/tests/test_namedarray.py
Due: unittests, mypy

Accept a KeyError for too long MultiIndex keys in test_sel
  xarray/tests/test_indexes.py
Due: mypy

Fix new warnings in the lines plot and zarr shards tests
  xarray/plot/utils.py
  xarray/tests/backends/test_zarr.py
Due: unittests, mypy

Abort the docs build early if an intersphinx inventory is unavailable
  doc/conf.py
Due: none

Adds open_dataarray to BackendEntrypoint. #10562
  doc/internals/how-to-add-new-backend.md
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/tests/test_backed_entrypoint_calling.py
Due: unittests, mypy

Fixes for tests.
  xarray/backends/common.py
  xarray/tests/test_backend_entrypoint_calling.py
Due: unittests, mypy

Update whats-new.rst
  doc/whats-new.rst
Due: none

Correct a reference error in docs.
  doc/internals/how-to-add-new-backend.md
Due: none

Moves inplace protection to typed function, to correct tests.
  xarray/backends/api.py
Due: unittests, mypy

Fall back to the archived Python inventory if docs.python.org is down
  doc/conf.py
Due: none

Moves backend entry tests into /tests/backends
  xarray/tests/backends/test_plugin_calling.py
Due: mypy

Load the docs badge in the README via shields.io
  README.md
Due: none

Replace the black badge in the README with a Ruff badge
  README.md
Due: none

Use https for the mypy badge in the README
  README.md
Due: none

Add a drop-python-version Claude skill (#11654)
  .claude/skills/drop-python-version/SKILL.md
  .claude/skills/upgrade-min-versions/SKILL.md
  .gitignore
Due: none

Make the docs build more robust (#11635)
  doc/conf.py
  doc/examples/ROMS_ocean_model.ipynb
  pixi.toml
Due: none

Fix nightly MultiIndex test failure and new test warnings (#11655)
  xarray/plot/utils.py
  xarray/tests/backends/test_zarr.py
  xarray/tests/test_indexes.py
Due: unittests, mypy

simplify lock sorting order
  xarray/backends/locks.py
  xarray/core/types.py
  xarray/tests/backends/test_locks.py
Due: unittests, mypy

make DummyLock reentrant
  xarray/backends/locks.py
Due: unittests, mypy

Order combined locks by a lock hierarchy that survives pickling (#11645)
  doc/whats-new.rst
  xarray/backends/locks.py
  xarray/core/types.py
  xarray/tests/backends/test_locks.py
  xarray/tests/test_distributed.py
Due: unittests, mypy

Reuse _shuffle_obj for the blockwise flox reductions
  xarray/core/groupby.py
  xarray/core/resample.py
Due: unittests, mypy

Comment the checks in _needs_shuffle_for_blockwise and add PR number
  doc/whats-new.rst
  xarray/core/groupby.py
Due: unittests, mypy

Drop a multi-coordinate index whole in Dataset reductions (#11616)
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Skip sortby in interp for coordinates that are already sorted
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_interp.py
Due: unittests, mypy

Modernize the generated arithmetic operators and test their types
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  doc/whats-new.rst
  pixi.toml
  xarray/core/_typed_ops.py
  xarray/core/types.py
  xarray/tests/test_typed_ops_typing.yml
  xarray/util/generate_ops.py
Due: unittests, mypy

Add PR number to whats-new
  doc/whats-new.rst
Due: none

Add PR number to whats-new entry
  doc/whats-new.rst
Due: none

Add whats-new entry for rename docstring clarification (GH9432)
  doc/whats-new.rst
Due: none

Document that .item() is not implemented for lazy arrays (#7916)
  doc/whats-new.rst
  xarray/computation/ops.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_dask.py
Due: unittests, mypy

Update doc/user-guide/io.md
  doc/user-guide/io.md
Due: none

Enable strict xfails and fix tests that unexpectedly pass
  doc/whats-new.rst
  properties/test_pandas_roundtrip.py
  pyproject.toml
  xarray/computation/computation.py
  xarray/computation/rolling.py
  xarray/tests/backends/test_api.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_plot.py
  xarray/tests/test_sparse.py
  xarray/tests/test_units.py
  xarray/tests/test_variable.py
Due: unittests, mypy

DOC: add whats-new entry for GH7450
  doc/whats-new.rst
Due: none

Use request.applymarker instead of imperative pytest.xfail
  xarray/tests/__init__.py
  xarray/tests/backends/test_zarr.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_groupby.py
  xarray/tests/test_sparse.py
  xarray/tests/test_units.py
Due: mypy

Remove xfails that pass on macOS ARM and Windows
  xarray/tests/__init__.py
  xarray/tests/backends/test_netCDF4.py
  xarray/tests/backends/test_zarr.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_duck_array_ops.py
Due: mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
