Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Fix pirate arrgragation (#9328)
  xarray/core/dataarray.py
Due: unittests, mypy

Update xarray/coding/variables.py
  xarray/coding/variables.py
Due: unittests, mypy

Update test_conventions.py
  xarray/tests/test_conventions.py
Due: mypy

more
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_formatting.py
Due: mypy

Remove ignores due to pandas-stubs (#9329)
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
  xarray/tests/test_formatting.py
Due: mypy

Use duck array ops for `around` and `round` (#9326)
  xarray/coding/variables.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

fix: github workflow vulnerable to script injection
  .github/workflows/benchmarks.yml
Due: none

fix: github workflow vulnerable to script injection (#9331)
  .github/workflows/benchmarks.yml
Due: none

Rewrite functions using suggestions from review
  xarray/coding/calendar_ops.py
  xarray/coding/cftimeindex.py
  xarray/core/accessor_dt.py
Due: unittests, mypy

vendor dask.array.normalize_chunks and its dependencies
  xarray/namedarray/utils.py
  xarray/vendor/dask/array/core.py
  xarray/vendor/dask/array/utils.py
  xarray/vendor/dask/utils.py
  xarray/vendor/toolz/itertoolz.py
Due: unittests, mypy

use Union for python <3.10
  xarray/vendor/dask/utils.py
Due: unittests, mypy

some pre-commit fixes
  xarray/vendor/dask/array/core.py
  xarray/vendor/dask/utils.py
Due: unittests, mypy

add __init__.py's to avoid import problems
  xarray/vendor/dask/__init__.py
  xarray/vendor/dask/array/__init__.py
  xarray/vendor/toolz/__init__.py
Due: unittests, mypy

add vendor/__init__.py
  xarray/vendor/__init__.py
Due: unittests, mypy

try to shut mypy up
  xarray/namedarray/core.py
Due: unittests, mypy

mypy suggestions
  xarray/core/datatree.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

clean up implementation of variable specific padding for dataset. Add tests
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

adding casting
  xarray/core/datatree.py
Due: unittests, mypy

explicitly convert to dict
  xarray/core/datatree.py
Due: unittests, mypy

return groupby instance from shuffle
  xarray/core/groupby.py
  xarray/core/variable.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Fix nD by
  xarray/core/groupby.py
  xarray/core/variable.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Ignore what's left of UP007
  pyproject.toml
Due: none

xfail np.cross tests
  xarray/core/computation.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Force numpy>=2
  ci/requirements/environment.yml
Due: none

xfail np.cross tests; force numpy>=2 in main CI (#9356)
  ci/requirements/environment.yml
  xarray/core/computation.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Revise
  doc/user-guide/computation.rst
Due: none

Skip if no dask
  xarray/tests/test_groupby.py
Due: mypy

fix tests
  xarray/tests/test_groupby.py
Due: mypy

try to fix scheduled hypothesis test
  .github/workflows/hypothesis.yaml
Due: none

try to fix scheduled hypothesis test (#9358)
  .github/workflows/hypothesis.yaml
Due: none

Revise (#9357)
  doc/user-guide/computation.rst
Due: none
