Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

Fix several warnings in the tests (#8184)
  xarray/tests/test_backends.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting_html.py
Due: mypy

Add some more mypy checks
  pyproject.toml
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/nputils.py
  xarray/plot/dataarray_plot.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

fix whats-new.rst
  doc/whats-new.rst
Due: none

remove invalid statement from doc/user-guide/io.rst
  doc/user-guide/io.rst
Due: none

Fix lines plot
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Update dataarray_plot.py
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

FIX: use "krogh" as interpolator method-string instead of "krog" (#8187)
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/tests/test_missing.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

decode variable with mismatched coordinate attribute, warn/raise meaningful error
  xarray/conventions.py
  xarray/tests/test_conventions.py
Due: unittests, mypy

Update xarray/core/computation.py
  xarray/core/computation.py
Due: unittests, mypy

add new tests with different coords
  xarray/tests/test_rolling.py
Due: mypy

next try on aligning strided coords
  xarray/core/rolling.py
Due: unittests, mypy

apply code review suggestions
  xarray/plot/accessor.py
Due: unittests, mypy

Update contourf call check for mpl 3.8 (#8186)
  xarray/tests/test_plot.py
Due: mypy

more error message changes
  xarray/core/computation.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Remove `requirements.txt`
  requirements.txt
Due: none

Fix static typing with Matplotlib 3.8 (#8030)
  doc/whats-new.rst
  xarray/core/options.py
  xarray/plot/accessor.py
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Exclude dimensions used in faceting from squeeze (#8174)
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Remove `requirements.txt` (#8196)
  requirements.txt
Due: none

Preserve nanosecond resolution when encoding/decoding times (#7827)
  doc/whats-new.rst
  xarray/backends/netcdf3.py
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
Due: unittests, mypy

Allow `apply_ufunc` to ignore missing core dims (#8138)
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Adjust ufunc error message (#8192)
  xarray/core/computation.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Explore moving functions from `reduce` to `apply_ufunc`
  xarray/core/rolling_exp.py
Due: unittests, mypy

Update utils.py
  xarray/plot/utils.py
Due: unittests, mypy

Attempt at hanlding coordinates with multiple dimensions
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

Add some more mypy checks (#8193)
  pyproject.toml
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/nputils.py
  xarray/plot/dataarray_plot.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Due: unittests, mypy

Start a list of modules which require typing
  pyproject.toml
  xarray/core/rolling_exp.py
Due: unittests, mypy

Update xarray/conventions.py
  xarray/conventions.py
Due: unittests, mypy

Add suggested changes to make apply_ufunc keep attrs
  xarray/core/computation.py
  xarray/tests/test_rolling.py
Due: unittests, mypy
