Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

fix expected encoding key for compressor in zarr-python v2
  xarray/tests/test_backends_datatree.py
Due: mypy

account for exception type changing
  xarray/tests/test_backends_datatree.py
Due: mypy

various typing fixes
  xarray/backends/zarr.py
  xarray/core/datatree.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

remove outdated comment
  xarray/tests/conftest.py
Due: mypy

Apply suggestions from code review
  xarray/tests/__init__.py
Due: mypy

sort
  xarray/tests/__init__.py
Due: mypy

cleanup
  xarray/tests/__init__.py
Due: mypy

Refactor calendar fixtures (#10150)
  xarray/tests/__init__.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_coding_times.py
Due: mypy

bool type
  xarray/core/datatree.py
Due: unittests, mypy

Refactoring/fixing zarr-python v3 incompatibilities in xarray datatrees (#10020)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/datatree.py
  xarray/tests/__init__.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

cleanup
  properties/test_properties.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Fix automatic inference of unique_coord
  xarray/groupers.py
Due: unittests, mypy

Squashed commit of the following:
  xarray/core/groupby.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

one more
  doc/whats-new.rst
Due: none

cleanup
  doc/whats-new.rst
Due: none

Fix
  xarray/tests/__init__.py
  xarray/tests/test_groupby.py
Due: mypy

Release 2025.03.0 (#10143)
  doc/whats-new.rst
Due: none

Add dev whats-new
  doc/whats-new.rst
Due: none

fix docstring
  xarray/groupers.py
Due: unittests, mypy

Add dev whats-new (#10152)
  doc/whats-new.rst
Due: none

typo
  xarray/util/generate_datatree_methods.py
Due: unittests, mypy

DataTree: sel & isel add error context
  xarray/core/datatree.py
Due: unittests, mypy

Fix GitHub Actions badge in README
  README.md
Due: none

Fix GitHub Actions badge in README (#10155)
  README.md
Due: none

forbid trying to append a DataTree to an existing zarr store
  xarray/core/datatree_io.py
Due: unittests, mypy

release note
  doc/whats-new.rst
Due: none

Forbid datatree to zarr append dim (#10156)
  doc/whats-new.rst
  xarray/core/datatree_io.py
Due: unittests, mypy

test with working fixture
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

add link to GH issue
  xarray/backends/zarr.py
Due: unittests, mypy

parametrize open_func
  xarray/tests/test_backends.py
Due: mypy

open tests passing
  xarray/tests/test_backends.py
Due: mypy

tests fully working
  xarray/tests/test_backends.py
Due: mypy

correct type hint
  xarray/core/datatree.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
