Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

change accessor xylim to tuple
  xarray/plot/accessor.py
Due: unittests, mypy

add missing return types
  xarray/plot/accessor.py
Due: unittests, mypy

fix a typing error only on new mpl
  xarray/plot/accessor.py
  xarray/plot/facetgrid.py
Due: unittests, mypy

add unused-ignore to error codes for old mpl
  xarray/plot/accessor.py
Due: unittests, mypy

add more unused-ignore to error codes for old mpl
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
Due: unittests, mypy

replace type: ignore[attr-defined] with assert hasattr
  xarray/tests/test_plot.py
Due: mypy

adapt test as per review, remove arm_xfail for backend test
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
Due: mypy

add whats-new.rst entry
  doc/whats-new.rst
Due: none

dirty commit
  xarray/backends/api.py
  xarray/backends/netCDF4_.py
Due: unittests, mypy

Clean
  xarray/backends/netCDF4_.py
Due: unittests, mypy

wip: fix tests
  xarray/tests/test_backends.py
Due: mypy

fix some typing issues
  xarray/core/computation.py
  xarray/core/dataset.py
  xarray/core/rolling.py
  xarray/tests/test_groupby.py
Due: unittests, mypy

add whats-new
  doc/whats-new.rst
Due: none

re-add type ignore
  xarray/tests/test_groupby.py
Due: mypy

Display data returned in ufunc error message
  xarray/core/computation.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Use `short_array_repr`
  xarray/core/computation.py
  xarray/core/formatting.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Add tests for multiple var dataset
  xarray/core/computation.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Set dev version above released version
  setup.py
Due: none

Fix `PeriodIndex` deprecation in xarray tests
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: mypy

Update doc/whats-new.rst
  doc/whats-new.rst
Due: none

improve typing of DataArray and Dataset reductions (#6746)
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/core/computation.py
  xarray/core/rolling.py
  xarray/tests/test_groupby.py
  xarray/util/generate_aggregations.py
Due: unittests, mypy

FIX: handle NaT values in dt-accessor (#8084)
  doc/whats-new.rst
  xarray/core/accessor_dt.py
Due: unittests, mypy

Fix `PeriodIndex` deprecation in xarray tests (#8182)
  asv_bench/benchmarks/pandas.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Due: mypy

Add bug fix to changelog
  doc/whats-new.rst
Due: none

Apply suggestions from code review
  doc/whats-new.rst
Due: none

Add unit test for facetting singleton dim
  xarray/tests/test_plot.py
Due: mypy

Exclude dimensions used in faceting from squeeze
  xarray/plot/dataarray_plot.py
Due: unittests, mypy

Move test to proper class
  xarray/tests/test_plot.py
Due: mypy

remove some warnings from removed Dask name in msg
  xarray/tests/test_backends.py
Due: mypy

Remove `setup.cfg` in favor of `pyproject.toml`
  pyproject.toml
  setup.cfg
Due: none

fix date_range closed > inclusive
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex_resample.py
Due: mypy

fix passing pd.MultiIndex to constructor
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting_html.py
Due: mypy

fix chunk warning location
  xarray/tests/test_backends.py
Due: mypy

Display data returned in `apply_ufunc` error message (#8179)
  xarray/core/computation.py
  xarray/core/formatting.py
  xarray/tests/test_computation.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
