Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  ci:
    # by default, codecov doesn't recognize azure as a CI provider
    - dev.azure.com
  require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths: "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths: "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: off

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

updated whats-new
  doc/whats-new.rst
Due: none

typo
  doc/whats-new.rst
Due: none

Add leaves property https://github.com/xarray-contrib/datatree/pull/177
  xarray/datatree_/datatree/tests/test_treenode.py
  xarray/datatree_/datatree/treenode.py
  xarray/datatree_/docs/source/api.rst
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

temporarily remove `numba` from the upstream-dev environment
  ci/install-upstream-wheels.sh
Due: none

don't explicitly install the matplotlib dependency
  ci/install-upstream-wheels.sh
Due: none

install `numbagg` from conda-forge
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

temporarily pin `numpy<1.24` to get CI to pass
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Due: none

use `pip` to remove `numbagg`
  ci/install-upstream-wheels.sh
Due: none

remove `numba` and `numbagg` first [test-upstream]
  ci/install-upstream-wheels.sh
Due: none

Fix name permanence behaviour in update method https://github.com/xarray-contrib/datatree/pull/178
  xarray/datatree_/datatree/datatree.py
  xarray/datatree_/datatree/tests/test_datatree.py
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

remove `numbagg` and `numba` from the upstream-dev CI (#7416)
  ci/install-upstream-wheels.sh
Due: none

list datatree in public API
  doc/api.rst
Due: none

attempt to import datatree API on xarray import
  xarray/__init__.py
Due: unittests, mypy

incorporate datatree links into io docs on groups
  doc/user-guide/io.rst
Due: none

Add assign method https://github.com/xarray-contrib/datatree/pull/181
  xarray/datatree_/datatree/datatree.py
  xarray/datatree_/datatree/ops.py
  xarray/datatree_/datatree/tests/test_datatree.py
  xarray/datatree_/docs/source/api.rst
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

Hierarchical data docs page https://github.com/xarray-contrib/datatree/pull/179
  xarray/datatree_/docs/source/data-structures.rst
  xarray/datatree_/docs/source/hierarchical-data.rst
  xarray/datatree_/docs/source/index.rst
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

add py.typed file
  xarray/datatree_/datatree/py.typed
Due: unittests, mypy

Add content to Index page https://github.com/xarray-contrib/datatree/pull/182
  xarray/datatree_/docs/source/index.rst
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

fix syntax of lots of API references
  xarray/datatree_/docs/source/data-structures.rst
  xarray/datatree_/docs/source/hierarchical-data.rst
  xarray/datatree_/docs/source/io.rst
Due: unittests, mypy

make it clear that set_close is missing right now
  xarray/datatree_/docs/source/api.rst
Due: unittests, mypy

link to numpy.ndarray class
  xarray/datatree_/docs/source/api.rst
Due: unittests, mypy

fix :pull: in whatsnew
  xarray/datatree_/docs/source/conf.py
Due: unittests, mypy

shorten error messages
  xarray/datatree_/docs/source/data-structures.rst
  xarray/datatree_/docs/source/hierarchical-data.rst
Due: unittests, mypy

Make `broadcast` and `concat` work with the Array API (#7387)
  xarray/core/duck_array_ops.py
  xarray/tests/test_array_api.py
Due: unittests, mypy

Some alignment optimizations (#7382)
  asv_bench/benchmarks/indexing.py
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/indexes.py
Due: unittests, mypy

Add tests
  xarray/tests/test_array_api.py
Due: mypy

implement filter
  xarray/datatree_/datatree/datatree.py
Due: unittests, mypy

test filter
  xarray/datatree_/datatree/tests/test_datatree.py
Due: unittests, mypy

Add filter method https://github.com/xarray-contrib/datatree/pull/185
  xarray/datatree_/datatree/datatree.py
  xarray/datatree_/datatree/tests/test_datatree.py
  xarray/datatree_/docs/source/api.rst
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

Try to fix code links in docs https://github.com/xarray-contrib/datatree/pull/183
  xarray/datatree_/ci/doc.yml
  xarray/datatree_/docs/source/conf.py
  xarray/datatree_/docs/source/data-structures.rst
  xarray/datatree_/docs/source/hierarchical-data.rst
  xarray/datatree_/docs/source/index.rst
  xarray/datatree_/docs/source/installation.rst
  xarray/datatree_/docs/source/io.rst
  xarray/datatree_/docs/source/quick-overview.rst
  xarray/datatree_/docs/source/terminology.rst
  xarray/datatree_/docs/source/tutorial.rst
  xarray/datatree_/docs/source/whats-new.rst
Due: unittests, mypy

move get_array_namespace to nputils
  xarray/core/duck_array_ops.py
  xarray/core/nputils.py
Due: unittests, mypy

move get_array_namespace to utils,
  xarray/core/nputils.py
  xarray/core/utils.py
Due: unittests, mypy

Update duck_array_ops.py
  xarray/core/duck_array_ops.py
Due: unittests, mypy

Update test_array_api.py
  xarray/tests/test_array_api.py
Due: mypy

use array_namespace instead of only numpy when creating bottleneck method
  xarray/core/nputils.py
Due: unittests, mypy

see also : groupby in resample doc and vice-versa (#7425)
  xarray/core/dataset.py
Due: unittests, mypy
