Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

ConcatenatableArray class
  xarray/tests/__init__.py
Due: mypy

test that no coercion occurs using ConcatenatableArray
  xarray/tests/test_variable.py
Due: mypy

fix failing test
  xarray/core/concat.py
Due: unittests, mypy

possible fix for failing groupby test
  xarray/core/concat.py
Due: unittests, mypy

Add anytree license.
  licenses/ANYTREE_LICENSE
Due: none

to_base_variable: convert multiindex -> np.ndarray
  xarray/core/variable.py
Due: unittests, mypy

add reset_index test
  xarray/tests/test_dataset.py
Due: mypy

Update pyproject.toml
  pyproject.toml
Due: none

Update test_plot.py
  xarray/tests/test_plot.py
Due: mypy

Update test_groupby.py
  xarray/tests/test_groupby.py
Due: mypy

Optimize writes to existing Zarr stores. (#8875)
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Add dt.date to plottable types (#8873)
  doc/whats-new.rst
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Due: unittests, mypy

Check for aligned chunks when writing to existing variables (#8459)
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Add consistency check
  xarray/tests/test_dataset.py
Due: mypy
