Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
         - "!xarray/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!xarray/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "xarray"
      - "!xarray/tests"
    carryforward: false
  mypy:
    paths:
      - "xarray"
    carryforward: false

remove misguided comments
  xarray/testing/strategies.py
Due: unittests, mypy

save working version of test_mean
  xarray/testing/strategies.py
  xarray/tests/test_strategies.py
Due: unittests, mypy

expose unique_subset_of
  doc/api.rst
  doc/user-guide/testing.rst
  xarray/testing/strategies.py
  xarray/tests/test_strategies.py
Due: unittests, mypy

generalize unique_subset_of to handle iterables
  xarray/testing/strategies.py
  xarray/tests/test_strategies.py
Due: unittests, mypy

type hint unique_subset_of using overloads
  xarray/testing/strategies.py
Due: unittests, mypy

use iterables in test_mean example
  xarray/tests/test_strategies.py
Due: mypy

test_mean example in docs now uses iterable of dimension_names
  doc/user-guide/testing.rst
  xarray/tests/test_strategies.py
Due: mypy

fix some warnings in docs build
  doc/api.rst
  xarray/testing/strategies.py
Due: unittests, mypy

example of passing list to unique_subset_of
  doc/user-guide/testing.rst
Due: none

fix import in docs page
  doc/user-guide/testing.rst
Due: none

try to satisfy sphinx
  xarray/testing/strategies.py
Due: unittests, mypy

Minor corrections to docs
  doc/user-guide/testing.rst
  doc/whats-new.rst
Due: none

Better attr diff for `testing.assert_identical` (#8400)
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Due: unittests, mypy

Add supported_dtypes to list of public strategies in docs
  doc/user-guide/testing.rst
Due: none

Generate number of dimensions in test_given_arbitrary_dims_list
  xarray/tests/test_strategies.py
Due: mypy

Update minimum version of hypothesis
  ci/requirements/doc.yml
Due: none

migrate the additional CI to py311
  .github/workflows/ci-additional.yaml
Due: none

migrate the upstream-dev CI to python 3.11
  .github/workflows/upstream-dev-ci.yaml
Due: none

Deprecate certain frequency strings following pandas [test-upstream]
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/frequencies.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallel.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_calendar_ops.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_missing.py
  xarray/tests/test_units.py
  xarray/tests/test_weighted.py
Due: unittests, mypy

Add cross-links to API docstring from tutorial and user-guide (#8311)
  doc/conf.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/rolling.py
Due: unittests, mypy

change back to using to_offset in first_items
  xarray/core/resample_cftime.py
Due: unittests, mypy

Update xarray/tests/test_namedarray.py
  xarray/tests/test_namedarray.py
Due: mypy

Updates tests for mypy
  xarray/tests/test_namedarray.py
Due: mypy

Apply suggestions from code review
  xarray/tests/test_namedarray.py
Due: mypy

Apply suggestions from code review
  xarray/coding/cftime_offsets.py
  xarray/tests/test_cftime_offsets.py
Due: unittests, mypy

add date offset to loffset test
  xarray/tests/test_cftimeindex_resample.py
Due: mypy

Add support for remote string paths to h5netcdf engine
  xarray/backends/file_manager.py
  xarray/backends/h5netcdf_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Fixup
  xarray/backends/h5netcdf_.py
Due: unittests, mypy

add to release notes
  doc/whats-new.rst
Due: none

Fix for date offset strings with resample loffset (#8422)
  doc/whats-new.rst
  xarray/core/resample_cftime.py
  xarray/tests/test_cftimeindex_resample.py
Due: unittests, mypy

ENH: Raise explicit error on invalid variable
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

DOC: Update whats-new
  doc/whats-new.rst
Due: none

fix: move enum check
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Properly closes zarr groups in zarr store
  xarray/backends/zarr.py
Due: unittests, mypy

tweak variable writing behavior for zarr with append_dim
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

implement auto region and transpose
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Due: unittests, mypy

FIX: unit test for min-all-deps requirements
  xarray/tests/test_backends.py
Due: mypy
