Repository pydata/xarray: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

fix whats-new.rst
  doc/whats-new.rst
Due: none

Fix test failure on CI (and add a better test)
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

grammar
  doc/whats-new.rst
Due: none

In case of misconfiguration of `unlimited_dims` warn instead of raise if originating from dataset.encoding
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Tweaks
  xarray/backends/netCDF4_.py
Due: unittests, mypy

Add load_datatree function
  doc/api/io.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

Fix bug indexing with boolean scalars (#10635)
  xarray/core/dataset.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_indexing.py
Due: unittests, mypy

move internal changes to correct section
  doc/whats-new.rst
Due: none

add whats-new.rst entry
  doc/whats-new.rst
Due: none

changing merge defaults
  xarray/structure/merge.py
Due: unittests, mypy

Port pandas 3.0 change to Day offset to cftime version
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/core/resample_cftime.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
Due: unittests, mypy

Port change to delta_to_tick and fix doctest
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
Due: unittests, mypy

Add 'D' to error tests for float multiplication
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
Due: mypy

fix ``auto_complex`` for ``open_datatree`` (#10632)
  doc/whats-new.rst
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

In case of misconfiguration of dataset.encoding `unlimited_dims` warn instead of raise (#10648)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

add cftime arithmetics limitation
  doc/user-guide/weather-climate.rst
Due: none

update code examples
  doc/user-guide/weather-climate.rst
Due: none

update whats-new
  doc/whats-new.rst
Due: none

Fix typos
  doc/user-guide/data-structures.rst
  xarray/backends/common.py
  xarray/backends/scipy_.py
Due: unittests, mypy

Fix typos (#10655)
  doc/user-guide/data-structures.rst
  xarray/backends/common.py
  xarray/backends/scipy_.py
Due: unittests, mypy

Support compute=False from DataTree.to_netcdf (#10625)
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/locks.py
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Due: unittests, mypy

Apply suggestion from @kmuehlbauer
  xarray/backends/api.py
Due: unittests, mypy

Add load_datatree function (#10649)
  doc/api/io.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/backends/api.py
  xarray/tests/test_backends.py
Due: unittests, mypy

post merge fixes
  xarray/backends/api.py
Due: unittests, mypy

Improve consistency and engine keyword argument for to_netcdf()
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/plugins.py
  xarray/backends/scipy_.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_api.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_plugins.py
Due: unittests, mypy

Add PR number to whatsnew
  doc/whats-new.rst
Due: none

Consistently use BytesIOProxy
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/core/datatree_io.py
Due: unittests, mypy

Fix test_engine
  xarray/tests/test_backends.py
Due: mypy

Clarify whats new
  doc/whats-new.rst
Due: none

Support DataArray objects in DataTree.from_dict
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_datatree.py
Due: unittests, mypy

Add docs
  doc/whats-new.rst
  xarray/core/datatree.py
Due: unittests, mypy

Add support for flattening in from_dict
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/tests/test_datatree.py
  xarray/tests/test_utils.py
Due: unittests, mypy

Fix doctest
  xarray/core/datatree.py
Due: unittests, mypy

Path conditions:
  unittests: any of: xarray, but not: xarray/tests
  mypy: any of: xarray
